/*
 *  wc-StaticRipple - a ripple effect with static origin and size
 *      wc-StaticRipple.has-ripple - displays static ripple animation
 *      wc-StaticRipple.is-visible - displays static ripple without animation
 */

@import "compass/css3/animation";
@import "settings/_components";

//- -------- #wc-StaticRipple  ---------- /

$wc-static-ripple-animation-name: ripple;
$wc-static-ripple-size: 250%;
// negative offset to center the ripple on the wrapped element
$wc-static-ripple-offset-fix: -(($wc-static-ripple-size - 100%) / 2);

.wc-StaticRipple {
    background-color: $wc-static-ripple-dark-color;
    border-radius: 50%;
    height: $wc-static-ripple-size;
    left: $wc-static-ripple-offset-fix;
    opacity: 0;
    position: absolute;
    top: $wc-static-ripple-offset-fix;
    transform: scale(0);
    width: $wc-static-ripple-size;

    //- -------- #states  ---------- /

    &.has-ripple {
        animation-duration: $wc-static-ripple-animation-duration;
        animation-name: $wc-static-ripple-animation-name;
    }

    &.is-visible {
        opacity: 1;
        transform: scale(1);
    }

    //- -------- #animations  ---------- /

    @include keyframes($wc-static-ripple-animation-name) {
        0% {
            opacity: 0;
            transform : scale(0);
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform : scale(1);
        }
    }
}
