/**
* Chip styles
*
* More details: https://zpl.io/2tiWvM
*
* wc-Chip - main block
* wc-Chip--desktop - add focus state only on desktop
* wc-Chip--avatar - changes the left padding of the chip when it contains an avatar
* wc-Chip--closeButtonVisible - changes the right padding of the chip when it contains a close button
* wc-Chip__avatar - used for the avatar child component
* wc-Chip__closeButton - used for the close button child
* wc-Chip__wrapper - all the content of the chip is contained in this wrapper
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/* line 23, chip_styles.scss */
.wc-Chip {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 8px 0;
  padding-left: 12px;
  padding-right: 12px;
  vertical-align: middle;
  z-index: 0;
}
/* line 38, chip_styles.scss */
.wc-Chip:active {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: 2;
}
/* line 46, chip_styles.scss */
.wc-Chip--desktop:focus, .wc-Chip--desktop:hover {
  background: rgba(0, 0, 0, 0.54);
  color: #FFF;
}
/* line 51, chip_styles.scss */
.wc-Chip--desktop:focus .wc-Chip__closeButton, .wc-Chip--desktop:hover .wc-Chip__closeButton {
  color: #FFF;
}
/* line 56, chip_styles.scss */
.wc-Chip--desktop:focus {
  outline: none;
}
/* line 63, chip_styles.scss */
.wc-Chip--avatar {
  padding-left: 0;
}
/* line 69, chip_styles.scss */
.wc-Chip--closeButtonVisible {
  padding-right: 8px;
}
/* line 75, chip_styles.scss */
.wc-Chip__avatar {
  align-self: flex-start;
  margin-right: 8px;
}
/* line 82, chip_styles.scss */
.wc-Chip__closeButton {
  color: rgba(0, 0, 0, 0.26);
  cursor: pointer;
  height: 24px;
  margin-left: 4px;
  outline: none;
  width: 24px;
}
/* line 93, chip_styles.scss */
.wc-Chip__wrapper {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 17px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: row;
  line-height: 32px;
}
/* line 103, chip_styles.scss */
.wc-Chip.has-error {
  background: #D32F2F;
}
/* line 106, chip_styles.scss */
.wc-Chip.has-error,
.wc-Chip.has-error .wc-Chip__closeButton {
  color: white;
}
