/**
* Skeleton Loader styles
*
* More details: https://zpl.io/Z1qEEix
*
* .wc-SkeletonLoaderItem - Block element
* .wc-SkeletonLoaderItem__content - simulates the "content" of the list, it has the background color of the list content.
* .wc-SkeletonLoaderItem__content.is-animated - adds a gradient background with animation
* .wc-SkeletonLoaderItem__mask - the masks items are the actual white spaces of the list(non content area).
* .wc-SkeletonLoaderItem__mask--documentX - document layout mask elements
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
@keyframes wc-SkeletonLoaderAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
/* line 38, skeleton-loader_styles.scss */
.wc-SkeletonLoader {
  height: 100%;
  width: 100%;
}

/* line 45, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem {
  background: #FFF;
  box-sizing: border-box;
  height: 72px;
  padding: 16px;
}
/* line 53, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--shadow {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: 2;
}
/* line 59, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--idCard {
  height: 128px;
  padding: 24px;
}
/* line 66, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--card {
  height: 192px;
  margin-bottom: 16px;
  padding: 24px 16px;
}
/* line 71, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--card:last-of-type {
  margin-bottom: 0;
}
/* line 78, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--document {
  height: 508px;
}
/* line 84, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--table {
  height: 80px;
  padding: 20px 24px 20px 48px;
}
/* line 91, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--tableDocument {
  height: 80px;
  padding: 20px 24px 20px 48px;
}
/* line 98, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__content {
  background: rgba(0, 0, 0, 0.15);
  height: 40px;
  overflow: hidden;
  position: relative;
}
/* line 104, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--card .wc-SkeletonLoaderItem__content, .wc-SkeletonLoaderItem--document .wc-SkeletonLoaderItem__content, .wc-SkeletonLoaderItem--idCard .wc-SkeletonLoaderItem__content {
  height: 100%;
  position: relative;
}
/* line 113, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem.is-animated .wc-SkeletonLoaderItem__content {
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: wc-SkeletonLoaderAnimation;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 200% 200%;
}
/* line 126, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask {
  background: #FFF;
  position: absolute;
}
/* line 132, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--avatar {
  background: radial-gradient(circle closest-side at center, rgba(0, 0, 0, 0) 99%, #ffffff 1%, #ffffff);
  height: 40px;
  left: 0;
  top: 0;
  width: 40px;
}
/* line 139, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--idCard .wc-SkeletonLoaderItem__mask--avatar {
  height: 80px;
  width: 80px;
}
/* line 148, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--document1 {
  height: 24px;
  left: 0;
  top: 16px;
  width: 100%;
}
/* line 155, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--document2 {
  height: 324px;
  left: 0;
  top: 16px;
  width: 8px;
}
/* line 162, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--document3 {
  height: 324px;
  right: 0;
  top: 16px;
  width: 8px;
}
/* line 169, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--document4 {
  height: 19px;
  left: 0;
  top: 188px;
  width: 100%;
}
/* line 176, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--document5 {
  height: 13px;
  left: 0;
  top: 223px;
  width: 100%;
}
/* line 183, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--document6 {
  height: 88px;
  left: 0;
  top: 252px;
  width: 100%;
}
/* line 190, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--document7 {
  height: 24px;
  left: 0;
  top: 356px;
  width: 100%;
}
/* line 197, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--document8 {
  height: 24px;
  left: 0;
  top: 396px;
  width: 100%;
}
/* line 204, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--document9 {
  height: 24px;
  left: 0;
  top: 436px;
  width: 100%;
}
/* line 213, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--headerLeft {
  height: 40px;
  left: 40px;
  top: 0;
  width: 16px;
}
/* line 219, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--idCard .wc-SkeletonLoaderItem__mask--headerLeft {
  height: 80px;
  left: 80px;
}
/* line 227, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--headerRight {
  height: 16px;
  left: 50%;
  top: 0;
  width: 50%;
}
/* line 238, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--idCard .wc-SkeletonLoaderItem__mask--headerTop {
  height: 8px;
  left: 96px;
  top: 0;
  width: 100%;
}
/* line 248, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--headerBottom {
  height: 16px;
  left: 40px;
  top: 12px;
  width: 100%;
}
/* line 257, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--subheaderRight {
  height: 16px;
  right: 0;
  top: 24px;
  width: 8.43%;
}
/* line 266, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--line1Right {
  height: 8px;
  right: 0;
  top: 0;
  width: 33.3%;
}
/* line 275, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--line1Bottom {
  height: 32px;
  top: 8px;
  width: 100%;
}
/* line 280, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--idCard .wc-SkeletonLoaderItem__mask--line1Bottom {
  height: 16px;
  left: 96px;
  top: 24px;
  width: 100%;
}
/* line 290, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--line2Bottom {
  height: 24px;
  top: 48px;
  width: 100%;
}
/* line 295, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--idCard .wc-SkeletonLoaderItem__mask--line2Bottom {
  height: 16px;
  left: 96px;
  top: 48px;
  width: 100%;
}
/* line 305, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--line3Bottom {
  height: 24px;
  top: 80px;
  width: 100%;
}
/* line 310, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--idCard .wc-SkeletonLoaderItem__mask--line3Bottom {
  height: 8px;
  left: 96px;
  top: 72px;
  width: 100%;
}
/* line 322, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem--idCard .wc-SkeletonLoaderItem__mask--line3Right {
  height: 8px;
  right: 0;
  top: 64px;
  width: 20.83%;
}
/* line 332, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--line4Bottom {
  height: 24px;
  top: 112px;
  width: 100%;
}
/* line 340, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--line5Right {
  height: 8px;
  right: 0;
  top: 136px;
  width: 16.6%;
}
/* line 349, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--columnsFullTop {
  height: 16px;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 358, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--columnsTop {
  height: 16px;
  left: 40px;
  top: 0;
  width: 100%;
}
/* line 367, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--column1Left {
  height: 40px;
  left: 40px;
  width: 40px;
}
/* line 375, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--column2Left {
  height: 14px;
  left: 50.26%;
  top: 16px;
  width: 5.26%;
}
/* line 384, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--column3Left {
  height: 14px;
  left: 74.56%;
  top: 16px;
  width: 5.26%;
}
/* line 393, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--columnsBottom {
  height: 16px;
  left: 40px;
  top: 24px;
  width: 100%;
}
/* line 402, skeleton-loader_styles.scss */
.wc-SkeletonLoaderItem__mask--columnsFullBottom {
  height: 16px;
  left: 0;
  top: 24px;
  width: 100%;
}
