/**
* Switch styles
*
* More details: https://zpl.io/V40OyRN
*
* .wc-Switch
*/
/*------------------------------------*\

         #BREAKPOINTS SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #RESPONSIVE
\*------------------------------------*/
/**
* Used to work for responsive design of mobile first.
* @param  {Number} $width - The width of a large display, for example a desktop or tablet display.
*
*/
/**
* Used to work for responsive design of mobile first.
* Sets a max width to respong
* @param  {Number} $width - The width of a small display.
*
*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/* line 16, switch_styles.scss */
.wc-Switch {
  display: inline-block;
}
/* line 21, switch_styles.scss */
.wc-Switch__input {
  opacity: 0;
  position: absolute;
  width: 0;
}
/* line 29, switch_styles.scss */
.wc-Switch__view {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* line 37, switch_styles.scss */
.wc-Switch__label {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 48, switch_styles.scss */
.wc-Switch__figure {
  width: 62px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 6px;
  margin-left: 16px;
}
/* line 59, switch_styles.scss */
.wc-Switch__track {
  width: 48px;
  height: 12px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.54);
  transition: background-color 0.08s linear;
}
/* line 69, switch_styles.scss */
.wc-Switch__thumb {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: translate(0%, 0);
  background-color: #ECEFF1;
  transition: transform 0.08s linear;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
}
/* line 82, switch_styles.scss */
.wc-Switch__input:checked + .wc-Switch__view .wc-Switch__track {
  background-color: rgba(38, 198, 218, 0.3);
}
/* line 86, switch_styles.scss */
.wc-Switch__input:checked + .wc-Switch__view .wc-Switch__thumb {
  transform: translate(100%, 0);
  background-color: #26C6DA;
}
/* line 91, switch_styles.scss */
.wc-Switch__input[disabled="disabled"] + .wc-Switch__view .wc-Switch__track {
  background-color: rgba(0, 0, 0, 0.15);
}
/* line 95, switch_styles.scss */
.wc-Switch__input[disabled="disabled"] + .wc-Switch__view .wc-Switch__thumb {
  background-color: #B0BEC5;
}
/* line 99, switch_styles.scss */
.wc-Switch__input[disabled="disabled"] + .wc-Switch__view {
  cursor: default;
}

/* line 108, switch_styles.scss */
.wc-ListItem .wc-Switch {
  width: 100%;
}
/* line 110, switch_styles.scss */
.wc-ListItem .wc-Switch__view {
  justify-content: space-between;
}
/* line 113, switch_styles.scss */
.wc-ListItem .wc-Switch__figure {
  height: 20px;
}
