<div  style="position: relative">
    <wc-markdown>
# Text Field

## Demo
    </wc-markdown>

    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Component</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__main">
                    <wc-textfield ref="sandboxInput"
                        v-bind:label="label ? 'Start typing here' : null"
                        v-bind:floatingLabel="floatingLabel"
                        v-bind:placeholder="placeholder ? 'placeholder' : null"
                        v-bind:modifier="modifier"
                        v-bind:clear="clear"
                        v-bind:hasError="hasError"
                        v-bind:hintText="hintText ? 'Hint Text' : null"
                        v-bind:charCounter="charCounter"
                        v-bind:type="type"
                        v-bind:disabled="disabled"
                        v-bind:required="required"
                        v-bind:maxLength="maxLength"
                        v-bind:minLength="minLength"
                        v-bind:readonly="readonly"
                        v-bind:min="min"
                        v-bind:max="max"
                        v-bind:step="step"
                        v-bind:autocomplete="autocomplete"
                        v-bind:signed="signed"
                        v-bind:trim="trim"
                        v-bind:color="color"
                        error-message="Error Message"
                        v-model="value">
                    </wc-textfield>
                </div>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Type</div>
            <div class="DemoTable__columnRight">
                <select v-model="type">
                    <option value="date">date</option>
                    <option value="datetime">datetime</option>
                    <option value="datetime-local">datetime-local</option>
                    <option value="email">email</option>
                    <option value="hidden">hidden</option>
                    <option value="month">month</option>
                    <option value="number">number</option>
                    <option value="password">password</option>
                    <option value="search">search</option>
                    <option value="tel">tel</option>
                    <option value="text">text</option>
                    <option value="time">time</option>
                    <option value="url">url</option>
                    <option value="week">week</option>
                </select>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Options</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__options">
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="label">Label</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="placeholder">Placeholder</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="floatingLabel">Floating label</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="isTitle">Title</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="isHeadline">Headline</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="hasError">Error</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="hintText">Hint text</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="charCounter">Char counter</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="disabled">Disabled</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="required">Required</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="readonly">Readonly</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="autocomplete">Autocomplete</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="signed">Signed</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="trim">Trim</wc-checkbox>
                    </div>
                    <div class="DemoTable__option"><wc-textfield label="Max Length" v-model="maxLength" type="number"></wc-textfield></div>
                    <div class="DemoTable__option"><wc-textfield label="Min length" v-model="minLength" type="number"></wc-textfield></div>
                    <div class="DemoTable__option"><wc-textfield label="Min" v-model="min" type="number"></wc-textfield></div>
                    <div class="DemoTable__option"><wc-textfield label="Max" v-model="max" type="number"></wc-textfield></div>
                    <div class="DemoTable__option"><wc-textfield label="Step" v-model="step" type="number"></wc-textfield></div>
                    <div class="DemoTable__option"><wc-textfield label="Color" v-model="color" type="color"></wc-textfield></div>
                </div>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Component's value</div>
            <div class="DemoTable__columnRight">
                <pre class="u-body1">{{value}}</pre>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Description</div>
            <div class="DemoTable__columnRight">{{ description }}</div>
        </div>
    </div>

    <wc-markdown>
## Input types
    </wc-markdown>

    <p>HTML5 mobile-friendly input types</p>

    <p style="color:red;">Unsupported types: range</p>

    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">suffix</div>
            <div class="DemoTable__columnRight">
                <wc-textfield type="text" placeholder="Hello," clear>
                    <span slot="suffix">World</span>
                </wc-textfield>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">title styles &amp; suffix</div>
            <div class="DemoTable__columnRight">
                <wc-textfield type="text" placeholder="Hello," modifier="is-title" clear>
                    <span slot="suffix">World</span>
                </wc-textfield>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">headline styles &amp; suffix</div>
            <div class="DemoTable__columnRight">
                <wc-textfield type="text" placeholder="Hello," modifier="is-headline" clear>
                    <span slot="suffix">World</span>
                </wc-textfield>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">custom action</div>
            <div class="DemoTable__columnRight">
                <wc-textfield type="text" label="custom action" v-on:textfield-action="onAction" ref="customAction" clear>
                    <wc-icon icon-class="icon-age-baby"></wc-icon>
                </wc-textfield>
                <span class="DemoTable__note u-caption1">
                    Remember to add the <b class="u-caption2">v-on:textfield-action</b> listener to the textfield or the <b class="u-caption2">v-on:click</b> directly to the container of the action passed in the <b class="u-caption2">slot="action"</b>
                </span>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">date</div>
            <div class="DemoTable__columnRight"><wc-textfield type="date" label="date" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">datetime</div>
            <div class="DemoTable__columnRight"><wc-textfield type="datetime" label="datetime" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">datetime-local</div>
            <div class="DemoTable__columnRight"><wc-textfield type="datetime-local" label="datetime-local" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">email</div>
            <div class="DemoTable__columnRight"><wc-textfield type="email" label="email" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">hidden</div>
            <div class="DemoTable__columnRight"><wc-textfield type="hidden" label="hidden" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">month</div>
            <div class="DemoTable__columnRight"><wc-textfield type="month" label="month" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">number</div>
            <div class="DemoTable__columnRight"><wc-textfield type="number" label="number" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">search</div>
            <div class="DemoTable__columnRight"><wc-textfield type="search" label="search" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">tel</div>
            <div class="DemoTable__columnRight"><wc-textfield type="tel" label="tel" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">text</div>
            <div class="DemoTable__columnRight"><wc-textfield type="text" label="text" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">time</div>
            <div class="DemoTable__columnRight"><wc-textfield type="time" label="time" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">url</div>
            <div class="DemoTable__columnRight"><wc-textfield type="url" label="url" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">week</div>
            <div class="DemoTable__columnRight"><wc-textfield type="week" label="week" clear></wc-textfield></div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">constrained with a Regular Expression pattern</div>
            <div class="DemoTable__columnRight"><wc-textfield v-bind:pattern="pattern" max-length="25" label="you can only enter up to 25 numbers, spaces, . and -" clear></wc-textfield></div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
    <wc-markdown v-bind:source="markdownSource.charCounterDoc"></wc-markdown>
</div>
