/**
* Onboarding styles
*
* More details: https://zpl.io/1Y9onx
*
* wc-Onboarding - main wrapper
*     wc-Onboarding.is-floatingBlock - overwrites the visibility styles of the floating layer for
*                                      an appropriate displaying of the animation
* wc-Onboarding__content - wrapper of the onboarding's content, so it can be displayed alongside the overlay
* wc-Onboarding__stepper - wrapper for the step dots component, defines margin between it and the steps
* wc-Onboarding__step - content that is displayed as the onboarding step's information
* wc-Onboarding__actions - wrapper of the onboarding's action butons
* wc-Onboarding__action - defines the styles for the action buttons
*   wc-Onboarding__action--previous - modifier for hidding the previous step action button
*       wc-Onboarding__action--previous.is-visible - visible state for the previous step action button
* wc-Onboarding__previousActionLabel - defines the typography styles for the previous step flat button
*/

@import "compass/css3";
@import "settings/_breakpoints";
@import "settings/_colors";
@import "settings/_components";
@import "settings/_elevations";
@import "tools/mixins/_responsive";
@import "tools/mixins/_typography";
@import "tools/mixins/_utilities";


//---------- #wc-Onboarding  ---------- //

$wc-onboarding-actions-margin-right: 8px;
$wc-onboarding-content-margin-bottom: 16px;
$wc-onboarding-hint-arrow-offset : 8px;
$wc-onboarding-padding : 16px;

.wc-Onboarding {
    &.is-floatingBlock {
        visibility: visible;
    }

//---------- #Elements ---------- /

    //---------- #wc-Onboarding__content  ---------- //

    &__content {
        @include component-elevation($wc-elevations-onboarding);
        background-color: $wc-onboarding-background-color;
        border-radius: 4px;
        max-height: $wc-onboarding-max-height;
        max-width: $wc-onboarding-max-width;
        min-height: $wc-onboarding-min-height;
        min-width: $wc-onboarding-min-width;
        padding: $wc-onboarding-padding;
        position: relative;
    }

    //---------- #wc-Onboarding__stepper  ---------- //

    &__stepper {
        @include clearfix();
        margin-bottom: $wc-onboarding-content-margin-bottom;
    }

    //---------- #wc-Onboarding__step  ---------- //

    &__step {
        @include generate-text-styles("body1");
        color: $wc-onboarding-color;
        margin-bottom: $wc-onboarding-content-margin-bottom;
        will-change: opacity;
    }

    //---------- #wc-Onboarding__actions  ---------- //

    &__actions {
        @include display-flex;
    }

    //---------- #wc-Onboarding__action  ---------- //

    &__action {
        width: 100%;


        &--previous {
            margin-right: $wc-onboarding-actions-margin-right;
            opacity: 0;
            pointer-events: none;


            &.is-visible {
                opacity: 1;
                pointer-events: initial;
            }
        }
    }

    //---------- #wc-Onboarding__previousActionLabel  ---------- //

    &__previousActionLabel {
        color: $wc-onboarding-color;
    }

    //---------- #wc-Onboarding .is-floatingBlockConnector  ---------- //

    .is-floatingBlockConnector {
        @include component-elevation($wc-elevations-onboarding);
        background: $wc-onboarding-background-color;


        &.is-floatingBlockConnector {
            // Direction: down
            &--dir-down:after {
                border-bottom-color: $wc-onboarding-background-color;
                bottom: 100%;
                left: 50%;
                margin-left: -1 * $wc-onboarding-hint-arrow-offset;
            }


            // Direction: left
            &--dir-left:after {
                border-left-color: $wc-onboarding-background-color;
                left: 100%;
                margin-top: -1 * $wc-onboarding-hint-arrow-offset;
                top: 50%;
            }


            // Direction: up
            &--dir-up:after {
                border-top-color: $wc-onboarding-background-color;
                left: 50%;
                margin-left: -1 * $wc-onboarding-hint-arrow-offset;
                top: 100%;
            }


            // Direction: right
            &--dir-right:after {
                border-right-color: $wc-onboarding-background-color;
                margin-top: -1 * $wc-onboarding-hint-arrow-offset;
                right: 100%;
                top: 50%;
            }
        }


        &:after {
            border-color: rgba($wc-onboarding-background-color, 0);
            border-style: solid;
            border-width: $wc-onboarding-hint-arrow-offset;
            content: " ";
            height: 0;
            pointer-events: none;
            position: absolute;
            width: 0;
        }
    }

//---------- #Desktop  ---------- //

    @include respond-min($wc-media-desktop-lower-boundary) {
        width: $wc-onboarding-max-width;
    }
}

//---------- #Transitions  ---------- //

//---------- #.vt-onboarding-step  ---------- //

.vt-onboarding-step-enter,
.vt-onboarding-step-leave-active,
.vt-onboarding-step-enter ~ .is-floatingBlockConnector:after,
.vt-onboarding-step-leave-active ~ .is-floatingBlockConnector:after {
    opacity: 0;
}


.vt-onboarding-step-enter-active,
.vt-onboarding-step-leave-active,
.vt-onboarding-step-enter-active ~ .is-floatingBlockConnector:after,
.vt-onboarding-step-leave-active ~ .is-floatingBlockConnector:after {
    transition: opacity $wc-onboarding-step-animation-duration cubic-bezier(0, 0, 0.3, 1);
}

//---------- #.vt-onboarding-fade-out  ---------- //

.vt-onboarding-fade-out-leave.is-floatingBlock {
    opacity: 1;
}


.vt-onboarding-fade-out-leave-active {
    opacity: 0;
    transition: opacity $wc-onboarding-closing-hiding-animation-duration cubic-bezier(0, 0, 0.3, 1);
}

//---------- #.vt-onboarding-fade-in-out  ---------- //

.vt-onboarding-fade-in-out-enter-active,
.vt-onboarding-fade-in-out-leave-active {
    transition: opacity $wc-onboarding-closing-hiding-animation-duration cubic-bezier(0, 0, 0.3, 1);
}


.vt-onboarding-fade-in-out-enter,
.vt-onboarding-fade-in-out-enter.is-floatingBlock,
.vt-onboarding-fade-in-out-leave-active {
    opacity: 0;
}


.vt-onboarding-fade-in-out-leave.is-floatingBlock {
    opacity: 1;
}
