/**
* Onboarding styles
*
* More details: https://zpl.io/1Y9onx
*
* wc-Onboarding - main wrapper
*     wc-Onboarding.is-floatingBlock - overwrites the visibility styles of the floating layer for
*                                      an appropriate displaying of the animation
* wc-Onboarding__content - wrapper of the onboarding's content, so it can be displayed alongside the overlay
* wc-Onboarding__stepper - wrapper for the step dots component, defines margin between it and the steps
* wc-Onboarding__step - content that is displayed as the onboarding step's information
* wc-Onboarding__actions - wrapper of the onboarding's action butons
* wc-Onboarding__action - defines the styles for the action buttons
*   wc-Onboarding__action--previous - modifier for hidding the previous step action button
*       wc-Onboarding__action--previous.is-visible - visible state for the previous step action button
* wc-Onboarding__previousActionLabel - defines the typography styles for the previous step flat button
*/
/*------------------------------------*\

         #BREAKPOINTS SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*------------------------------------*\
         #RESPONSIVE
\*------------------------------------*/
/**
* Used to work for responsive design of mobile first.
* @param  {Number} $width - The width of a large display, for example a desktop or tablet display.
*
*/
/**
* Used to work for responsive design of mobile first.
* Sets a max width to respong
* @param  {Number} $width - The width of a small display.
*
*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/* line 37, onboarding_styles.scss */
.wc-Onboarding.is-floatingBlock {
  visibility: visible;
}
/* line 45, onboarding_styles.scss */
.wc-Onboarding__content {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12), 0 24px 24px 0 rgba(0, 0, 0, 0.24);
  z-index: 24;
  background-color: #37474F;
  border-radius: 4px;
  max-height: 232px;
  max-width: 312px;
  min-height: 112px;
  min-width: 288px;
  padding: 16px;
  position: relative;
}
/* line 59, onboarding_styles.scss */
.wc-Onboarding__stepper {
  zoom: 1;
  margin-bottom: 16px;
}
/* line 47, ../../web-components-library/tools/mixins/_utilities.scss */
.wc-Onboarding__stepper:after, .wc-Onboarding__stepper:before {
  content: "";
  display: table;
  line-height: 0;
}
/* line 56, ../../web-components-library/tools/mixins/_utilities.scss */
.wc-Onboarding__stepper:after {
  clear: both;
}
/* line 66, onboarding_styles.scss */
.wc-Onboarding__step {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  margin-bottom: 16px;
  will-change: opacity;
}
/* line 75, onboarding_styles.scss */
.wc-Onboarding__actions {
  display: -webkit-flex;
  display: flex;
}
/* line 81, onboarding_styles.scss */
.wc-Onboarding__action {
  width: 100%;
}
/* line 85, onboarding_styles.scss */
.wc-Onboarding__action--previous {
  margin-right: 8px;
  opacity: 0;
  pointer-events: none;
}
/* line 91, onboarding_styles.scss */
.wc-Onboarding__action--previous.is-visible {
  opacity: 1;
  pointer-events: initial;
}
/* line 100, onboarding_styles.scss */
.wc-Onboarding__previousActionLabel {
  color: white;
}
/* line 106, onboarding_styles.scss */
.wc-Onboarding .is-floatingBlockConnector {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12), 0 24px 24px 0 rgba(0, 0, 0, 0.24);
  z-index: 24;
  background: #37474F;
}
/* line 113, onboarding_styles.scss */
.wc-Onboarding .is-floatingBlockConnector.is-floatingBlockConnector--dir-down:after {
  border-bottom-color: #37474F;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
}
/* line 122, onboarding_styles.scss */
.wc-Onboarding .is-floatingBlockConnector.is-floatingBlockConnector--dir-left:after {
  border-left-color: #37474F;
  left: 100%;
  margin-top: -8px;
  top: 50%;
}
/* line 131, onboarding_styles.scss */
.wc-Onboarding .is-floatingBlockConnector.is-floatingBlockConnector--dir-up:after {
  border-top-color: #37474F;
  left: 50%;
  margin-left: -8px;
  top: 100%;
}
/* line 140, onboarding_styles.scss */
.wc-Onboarding .is-floatingBlockConnector.is-floatingBlockConnector--dir-right:after {
  border-right-color: #37474F;
  margin-top: -8px;
  right: 100%;
  top: 50%;
}
/* line 149, onboarding_styles.scss */
.wc-Onboarding .is-floatingBlockConnector:after {
  border-color: rgba(55, 71, 79, 0);
  border-style: solid;
  border-width: 8px;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}
@media screen and (min-width: 1025px) {
  /* line 36, onboarding_styles.scss */
  .wc-Onboarding {
    width: 312px;
  }
}

/* line 172, onboarding_styles.scss */
.vt-onboarding-step-enter,
.vt-onboarding-step-leave-active,
.vt-onboarding-step-enter ~ .is-floatingBlockConnector:after,
.vt-onboarding-step-leave-active ~ .is-floatingBlockConnector:after {
  opacity: 0;
}

/* line 180, onboarding_styles.scss */
.vt-onboarding-step-enter-active,
.vt-onboarding-step-leave-active,
.vt-onboarding-step-enter-active ~ .is-floatingBlockConnector:after,
.vt-onboarding-step-leave-active ~ .is-floatingBlockConnector:after {
  transition: opacity 0.75s cubic-bezier(0, 0, 0.3, 1);
}

/* line 189, onboarding_styles.scss */
.vt-onboarding-fade-out-leave.is-floatingBlock {
  opacity: 1;
}

/* line 194, onboarding_styles.scss */
.vt-onboarding-fade-out-leave-active {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

/* line 201, onboarding_styles.scss */
.vt-onboarding-fade-in-out-enter-active,
.vt-onboarding-fade-in-out-leave-active {
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

/* line 207, onboarding_styles.scss */
.vt-onboarding-fade-in-out-enter,
.vt-onboarding-fade-in-out-enter.is-floatingBlock,
.vt-onboarding-fade-in-out-leave-active {
  opacity: 0;
}

/* line 214, onboarding_styles.scss */
.vt-onboarding-fade-in-out-leave.is-floatingBlock {
  opacity: 1;
}
