/**
 * App bar styles
 * More details: zpl.io/bPyxPk2
 */

@import "settings/_colors";
@import "settings/_components";
@import "settings/_elevations";
@import "tools/mixins/_utilities";
@import "tools/mixins/_typography";

//---------- #wc-AppBar  ---------- /

.wc-AppBar {
    @include component-elevation($wc-elevations-app-bar);
    align-content: center;
    align-items: center;
    background-color: $wc-app-bar-background-color;
    box-sizing: border-box;
    display: none;
    flex-flow: row nowrap;
    height: $wc-app-bar-height;
    justify-content: flex-start;
    padding: 0 2px 0 2px;
    position: relative;
    width: $wc-app-bar-width;

//---------- #wc-AppBar--compact  ---------- /

    &--compact {
        height: $wc-app-bar-height-compact;
    }

//---------- #wc-AppBar--fillSpace  ---------- /

    &--fillSpace {
        justify-content: space-between;
    }

//---------- #wc-AppBar--fixed  ---------- /

    &--fixed {
        position: fixed;
        top: 0;
        z-index: 5;
    }

//---------- #wc-AppBar--noShadow  ---------- /

    &--noShadow {
        box-shadow: none;
    }

//---------- #wc-AppBar.is-active  ---------- /

    &.is-active {
        display: flex;
    }

//---------- #wc-AppBar__navigation  ---------- /

    &__navigation {
        align-items: center;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        height: 48px;
        justify-content: center;
        // Fix to align title and the icon button use as navigation slot
        margin-top: -2px;
        overflow: hidden;
        width: 48px;
    }

//---------- #wc-AppBar__title  ---------- /

    &__title {
        color: $wc-typoicon-primary-dark;
        flex-grow: 2;
        margin: 0 8px 0 22px;
        overflow: hidden;
        position: relative;
        white-space: nowrap;

        &:before {
            //makes font color(content) transparent
            background-image: linear-gradient(to right, rgba($wc-app-bar-background-color, 0.0), $wc-app-bar-background-color);
            color: transparent;
            content: '----';
            display : block;
            overflow: hidden;
            position: absolute;
            right: -1px;
            top: 0;
            width: 33px;
        }

    //---------- #wc-AppBar__title--subheader  ---------- /

        &--subheader {
            @include generate-text-styles("subheading");
        }
    }

//---------- #wc-Appbar__actions  ---------- /

    &__actions {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: center;

        //---------- #wc-Appbar__actions--fillSpace  ---------- /

        &--fillSpace {
            flex-grow: 1;
            justify-content: flex-end;
        }
    }

//---------- #wc-Appbar__progress  ---------- /

    &__progress {
        bottom: 0;
        position: absolute;
        width: 100%;
    }
}
