/**
* Card styles
*
* More details: zpl.io/1iACdJ
*
* wc-Card - main card block
*     wc-Card.is-active - the card is active
*     wc-Card.is-raisedOnActive - the card becomes raised on active state
*     wc-Card.is-resting - the card is resting
*     wc-Card.is-restingCompact - the card is resting but without margins
*     wc-Card.is-focused - the card has focus
*     wc-Card.is-fullscreen - the card is fullscreen
*     wc-Card.has-header - the card has a header
*     wc-Card.has-fixedHeader - the card's header is currently with fixed position
*     wc-Card.has-fastHeightTransition - the height transition is faster than usual
*     wc-Card.has-noContent - removes top and bottom padding (commonly for cards that only display a header)
*     wc-Card.is-scrollable - modifies the card to make it vertically scrollable
*     wc-Card.has-error - the card provides feedback regardless of its resting/active state to let the user know that there's an error
*     wc-Card.is-compact - styles for a more compact version
* wc-Card__focusLine - line added to a side when the card is focused
* wc-Card__activeContent - content to be displayed only when the card is active
* wc-Card__contentWrapper - wrapper for card's content
* wc-Card__header - card's header container
* wc-Card__appBar - card's appBar
* wc-Card__title - title inside appBar
* wc-Card__loader - card's linear loader that appears below the appBar
* wc-Card__overlay - an overlay used to be able to show the card fullscreen
* wc-Card__tile - a tile that can contain actions (mix it with wc-Card__iconsTile and wc-Card__buttonsTile)
* wc-Card__tile--bottom - tile placed at the bottom of card
* wc-Card__tile--noMargin - tile without all margins
* wc-Card__tile--noMarginBottom - tile without bottom margin
* wc-Card__tile--noMarginTop - tile without top margin
* wc-Card__tile--top - tile placed at the top of card
* wc-Card__iconsTile - a tile that has icons
* wc-Card__iconsTile--bottomRight - pulls an icon tile to bottom right
* wc-Card__iconsTile--right - pulls an icon tile right
* wc-Card__buttonsTile - a tile that has buttons
* wc-Card__button - a button that's commonly inside of a buttons tile
* wc-Card__iconButton - an icon button that's commonly inside of an icons tile
* wc-Card__tile--bottom - modifies a tile to stick to the bottom
* wc-Card__tile--top - modifies a tile to stick to the top
* wc-Card--focusLine - modifies the card to use focusLine when focused
* wc-Card--focusRaise - modifies the card to raise when focused
* wc-Card--smaller - adds different border radius for smaller card
* wc-Card--raisesOnActive - adds transitions for cards that will raise
*/
/*------------------------------------*\
         #RESPONSIVE
\*------------------------------------*/
/**
* Used to work for responsive design of mobile first.
* @param  {Number} $width - The width of a large display, for example a desktop or tablet display.
*
*/
/**
* Used to work for responsive design of mobile first.
* Sets a max width to respong
* @param  {Number} $width - The width of a small display.
*
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/*------------------------------------*\

         #BREAKPOINTS SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/**
 * Card keyframes for error animation
 *     shake - shakes the card when there's an error
 *             source https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
 */
@-moz-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* line 72, card_styles.scss */
.wc-Card {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
  background-color: white;
  box-sizing: border-box;
  min-width: 168px;
  overflow: visible;
  padding: 16px;
  position: relative;
  width: 100%;
}
/* line 85, card_styles.scss */
.wc-Card__focusLine {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform 0.2s ease-in-out 0.2s;
  -o-transition: -o-transform 0.2s ease-in-out 0.2s;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
  transition: transform 0.2s ease-in-out 0.2s;
  background-color: #26C6DA;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 4;
}
/* line 99, card_styles.scss */
.wc-Card__activeContent {
  -moz-transition: opacity 0.2s ease-in-out 0.2s;
  -o-transition: opacity 0.2s ease-in-out 0.2s;
  -webkit-transition: opacity 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s;
  opacity: 0;
  position: absolute;
}
/* line 107, card_styles.scss */
.wc-Card__contentWrapper {
  -moz-transition: height 0.2s ease-in-out 0.2s;
  -o-transition: height 0.2s ease-in-out 0.2s;
  -webkit-transition: height 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
  transition: height 0.2s ease-in-out 0.2s;
}
/* line 113, card_styles.scss */
.wc-Card__header {
  background-color: white;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 123, card_styles.scss */
.wc-Card__header, .wc-Card__contentWrapper {
  z-index: 2;
}
/* line 130, card_styles.scss */
.wc-Card__appBar {
  border-radius: 4px 4px 0 0;
  padding: 0;
}
/* line 137, card_styles.scss */
.wc-Card__title {
  margin-left: 16px;
}
/* line 143, card_styles.scss */
.wc-Card__iconsTile {
  clear: both;
  padding-right: 8px;
}
/* line 149, card_styles.scss */
.wc-Card__iconsTile--bottomRight {
  bottom: 0;
  position: absolute;
  right: 0;
}
/* line 156, card_styles.scss */
.wc-Card__iconsTile--right {
  position: absolute;
  right: 0;
}
/* line 165, card_styles.scss */
.wc-Card__buttonsTile + .wc-Card__buttonsTile {
  margin-top: 4px;
}
/* line 172, card_styles.scss */
.wc-Card__button + .wc-Card__button {
  margin-left: 8px;
}
/* line 179, card_styles.scss */
.wc-Card__iconButton + .wc-Card__iconButton {
  margin-left: 8px;
}
/* line 186, card_styles.scss */
.wc-Card__tile {
  clear: both;
  left: -16px;
  margin-bottom: 8px;
  margin-top: 8px;
  position: relative;
  right: -16px;
  width: calc(100% + 32px);
}
/* line 197, card_styles.scss */
.wc-Card__tile--bottom {
  position: relative;
  bottom: -8px;
}
/* line 204, card_styles.scss */
.wc-Card__tile--noMargin {
  margin: 0;
}
/* line 210, card_styles.scss */
.wc-Card__tile--noMarginBottom {
  margin-bottom: 0;
}
/* line 216, card_styles.scss */
.wc-Card__tile--noMarginTop {
  margin-top: 0;
}
/* line 222, card_styles.scss */
.wc-Card__tile--top {
  top: -16px;
}
/* line 229, card_styles.scss */
.wc-Card__overlay {
  pointer-events: none;
  z-index: -1;
}
/* line 237, card_styles.scss */
.wc-Card--focusLine.is-focused .wc-Card__focusLine {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 245, card_styles.scss */
.wc-Card--smaller {
  border-radius: 4px;
}
/* line 251, card_styles.scss */
.wc-Card.is-scrollable {
  -moz-transition: max-height 0.2s ease-in-out 0.2s;
  -o-transition: max-height 0.2s ease-in-out 0.2s;
  -webkit-transition: max-height 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
  transition: max-height 0.2s ease-in-out 0.2s;
  overflow-y: auto;
}
/* line 258, card_styles.scss */
.wc-Card.has-noContent {
  padding-bottom: 0;
  padding-top: 0;
}
/* line 265, card_styles.scss */
.wc-Card.is-resting {
  cursor: pointer;
}
/* line 271, card_styles.scss */
.wc-Card.is-restingCompact {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
  margin-top: 0;
}
/* line 277, card_styles.scss */
.wc-Card.is-restingCompact + .wc-Card.is-restingCompact {
  border-radius: 0;
  margin-top: 0;
}
/* line 281, card_styles.scss */
.wc-Card.is-restingCompact + .wc-Card.is-restingCompact:last-child {
  border-radius: 0 0 4px 4px;
  margin-bottom: 8px;
}
/* line 290, card_styles.scss */
.wc-Card:focus {
  outline: none;
}
/* line 297, card_styles.scss */
.wc-Card--focusRaise.is-focused {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  z-index: 4;
}
/* line 303, card_styles.scss */
.wc-Card.is-active {
  z-index: 8;
}
/* line 307, card_styles.scss */
.wc-Card.is-active .wc-Card__activeContent {
  opacity: 1;
  position: static;
}
/* line 312, card_styles.scss */
.wc-Card.is-active .wc-Card__focusLine {
  display: none;
}
/* line 316, card_styles.scss */
.wc-Card.is-active .wc-Card__header {
  min-height: 56px;
}
/* line 322, card_styles.scss */
.wc-Card.is-raisedOnActive {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
  z-index: 8;
  height: auto;
  margin-bottom: 8px;
  margin-left: -8px;
  margin-top: 8px;
  max-width: 832px;
  position: relative;
  width: calc(100% + 16px);
}
/* line 333, card_styles.scss */
.wc-Card.is-raisedOnActive .wc-Card__header {
  position: absolute;
}
/* line 339, card_styles.scss */
.wc-Card.is-fullscreen {
  bottom: 0;
  height: 100%;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
/* line 353, card_styles.scss */
.wc-Card.is-fullscreen .wc-Card__header {
  position: fixed;
}
/* line 357, card_styles.scss */
.wc-Card.is-fullscreen .wc-Card__loader {
  bottom: 0;
  position: absolute;
  z-index: 8;
}
/* line 365, card_styles.scss */
.wc-Card.has-header {
  padding-top: 56px;
}
/* line 371, card_styles.scss */
.wc-Card.has-fixedHeader .wc-Card__header {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: 2;
  z-index: 8;
}
/* line 378, card_styles.scss */
.wc-Card.has-error {
  -moz-animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  border: 2px solid #D32F2F;
}
/* line 385, card_styles.scss */
.wc-Card.has-fastHeightTransition .wc-Card__contentWrapper {
  -moz-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}
/* line 391, card_styles.scss */
.wc-Card.is-compact .wc-Card__header {
  height: 40px;
  min-height: 40px;
}
/* line 398, card_styles.scss */
.wc-Card.is-compact.has-header {
  padding-top: 40px;
  padding-bottom: 8px;
}
/* line 405, card_styles.scss */
.wc-Card.is-compact.has-noContent {
  padding-bottom: 0;
}
/* line 413, card_styles.scss */
.wc-Card.is-compact.is-active .wc-Card__header {
  height: 44px;
  min-height: 44px;
}
/* line 420, card_styles.scss */
.wc-Card--raisesOnActive {
  -moz-transition: width 0.2s ease-in-out 0.2s, margin 0.2s ease-in-out 0.2s, max-width 0.2s ease-in-out 0.2s, box-shadow 0.2s ease-in-out 0.2s;
  -o-transition: width 0.2s ease-in-out 0.2s, margin 0.2s ease-in-out 0.2s, max-width 0.2s ease-in-out 0.2s, box-shadow 0.2s ease-in-out 0.2s;
  -webkit-transition: width 0.2s ease-in-out, margin 0.2s ease-in-out, max-width 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s, 0.2s;
  transition: width 0.2s ease-in-out 0.2s, margin 0.2s ease-in-out 0.2s, max-width 0.2s ease-in-out 0.2s, box-shadow 0.2s ease-in-out 0.2s;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  /* line 72, card_styles.scss */
  .wc-Card {
    max-width: 816px;
    border-radius: 4px;
    padding: 16px 24px;
  }
  /* line 437, card_styles.scss */
  .wc-Card__tile {
    left: -24px;
    right: -24px;
    width: calc(100% + 48px);
  }
  /* line 445, card_styles.scss */
  .wc-Card__iconsTile {
    padding-right: 16px;
  }
  /* line 451, card_styles.scss */
  .wc-Card__buttonsTile {
    padding-left: 8px;
  }
  /* line 458, card_styles.scss */
  .wc-Card--noPadding {
    padding-bottom: 0;
    padding-top: 0;
  }
  /* line 465, card_styles.scss */
  .wc-Card__title {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 72, card_styles.scss */
  .wc-Card {
    max-width: 816px;
  }
  /* line 475, card_styles.scss */
  .wc-Card.is-raisedOnActive {
    max-width: 832px;
  }
}
