*.DS_Store

src/resource/.sass-cache
src/resource/scss/.sass-cache
src/public/.htaccess
src/public/img/thumbnail
src/public/img/upload
src/public/img/photos

# NodeJS modules
node_modules

*.sass-cache

# Test related
src/test/selenium/testreport
src/test/selenium/test-cases/compiled

# webStorm IDE files
.idea/

#Selenium
selenium/selenium/target

codeship.aes
codeship-deploy-production.env
codeship-deploy-staging.env

# Karma & test-related
src/coverage
