/**
* Autocomplete styles
*
* More details: https://zpl.io/2ayxrO
*
* wc-Autocomplete - main autocomplete block
* wc-Autocomplete__action - search icon placed at the end of the autocomplete input
*     wc-Autocomplete__action--withLabel - increase the top property for the action when the input has label
*     wc-Autocomplete__action--disabled - change the color of the action to disabled styles
* wc-Autocomplete__input - input of the autocomplete
*     wc-Autocomplete__input.is-active - increments the z-index of the input
* wc-Autocomplete__loader - autocomplete loader
* wc-Autocomplete__menu - menu component used for rendering the options
* wc-Autocomplete__menuContent - options wrapper
*     wc-Autocomplete__menuContent is-loading - modifier for the menuContent wrapper to show the loader
* wc-Autocomplete__option - option of the autocomplete results
* wc-Autocomplete__option--disabled - disabled modifier, can't change its behavior
* wc-Autocomplete__optionAvatar - avatar contained in the autocomplete option
* wc-Autocomplete__option.is-multiline - removes some css styles when is a multiline list item
* wc-Autocomplete__optionText - text of the option result
* wc-Autocomplete__optionHint - hint text of the option result, it helps to give more context to the primary text
* wc-Autocomplete__optionAction - icon placed at the right of the option result
* wc-Autocomplete__match - option text match with the input text
* wc-Autocomplete--secondary-style - used to show the layout for https://zpl.io/Z29g75o
*     wc-Autocomplete--secondary-style .is-active
*     wc-Autocomplete__menuContent
*     wc-Autocomplete__action
*/

@import "settings/_colors";
@import "settings/_breakpoints";
@import "tools/mixins/_responsive";
@import "tools/mixins/_typography";

$wc-autocomplete-action-size: 24px;
$wc-autocomplete-action-top: 7px;
$wc-autocomplete-action-with-label-top: 27px;
$wc-autocomplete-load-more-size: 24px;
$wc-autocomplete-loader-size: 48px;
$wc-autocomplete-menu-content-desktop-max-height: 296px;
$wc-autocomplete-menu-content-max-height: 208px;
$wc-autocomplete-menu-option-hint-margin: 16px;
$wc-autocomplete-option-desktop-max-height: 40px;
$wc-autocomplete-option-disabled-opacity: 0.4;
$wc-autocomplete-option-max-height: 48px;

$wc-autocomplete-secondary-style-border-radius: 4px;
$wc-autocomplete-secondary-style-box-shadow: 2px;

//---------- #wc-Autocomplete  ---------- /

.wc-Autocomplete {

    //---------- #wc-Autocomplete--secondary-style ---------- /
    // This is used to support the layout of https://zpl.io/Z29g75o
    &--secondary-style {
        background-color: $wc-primary-color;
        box-shadow: 0 $wc-autocomplete-secondary-style-box-shadow $wc-autocomplete-secondary-style-box-shadow 0 rgba(#000, $wc-component-second-shadow-opacity), 0 0 $wc-autocomplete-secondary-style-box-shadow 0 rgba(#000, $wc-component-shadow-opacity);
        border-radius: $wc-autocomplete-secondary-style-border-radius;

        &.is-active {
            border-radius: $wc-autocomplete-secondary-style-border-radius $wc-autocomplete-secondary-style-border-radius 0 0;
        }

        .wc-Autocomplete__menuContent {
            width: 100%;
            max-width: initial;
            box-shadow: 0 $wc-autocomplete-secondary-style-box-shadow $wc-autocomplete-secondary-style-box-shadow 0 rgba(#000, $wc-component-second-shadow-opacity), 0 $wc-autocomplete-secondary-style-box-shadow $wc-autocomplete-secondary-style-box-shadow 0 rgba(#000, $wc-component-shadow-opacity);
            border-radius: 0 0 $wc-autocomplete-secondary-style-border-radius $wc-autocomplete-secondary-style-border-radius;
            border-top: 1px solid rgba(#000, $wc-component-shadow-opacity);
        }

        .wc-Autocomplete__action {
            margin-right: 16px;
        }
    }

    //---------- #wc-Autocomplete__action  ---------- /

    &__action {
        color: $wc-typoicon-secondary-dark;
        cursor: text;
        height: $wc-autocomplete-action-size;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: $wc-autocomplete-action-top;
        width: $wc-autocomplete-action-size;

        &--withLabel {
            top: $wc-autocomplete-action-with-label-top;
        }

        &--disabled {
            color: $wc-typoicon-disabled-dark;
        }

        &--icon {
            color: $wc-typoicon-secondary-dark;
            cursor: text;
            height: $wc-autocomplete-action-size;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: $wc-autocomplete-action-top;
            width: $wc-autocomplete-action-size;
        }
    }

    //---------- #wc-Autocomplete__optionHint  ---------- /

    &__optionHint {
        @include generate-text-styles("caption3");
        color: $wc-typoicon-secondary-dark;
        margin-left: $wc-autocomplete-menu-option-hint-margin;
    }

    //---------- #wc-Autocomplete__input  ---------- /

    &__input {
        position: relative;

        &.is-active {
            z-index: 2;
        }
    }

    //---------- #wc-Autocomplete__inputWrapper  ---------- /

    &__inputWrapper {
        display: flex;
        align-items: center;

        .wc-Autocomplete__inputField {
            flex: 1;
        }

        .wc-Autocomplete__inputAvatar {
            flex: 1;
            max-width: 32px;
            margin-left: 16px;
        }
    }

    //---------- #wc-Autocomplete__loader  ---------- /
    &__loader {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }

    //---------- #wc-Autocomplete__loaderSpinner  ---------- /
    &__loaderSpinner {
        width: $wc-autocomplete-loader-size;
    }

    //---------- #wc-Autocomplete__loadMore  ---------- /
    &__loadMore {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    //---------- #wc-Autocomplete__loadMoreSpinner  ---------- /
    &__loadMoreSpinner {
        width: $wc-autocomplete-load-more-size;
    }

    //---------- #wc-Autocomplete__menu  ---------- /

    &__menu {
        z-index: 3;
        position: relative;
    }

    //---------- #wc-Autocomplete__menuContent  ---------- /

    &__menuContent {
        max-height: $wc-autocomplete-menu-content-max-height;

        //---------- #wc-Autocomplete__menuContent is-loading  ---------- /

        &.is-loading {
            min-height: $wc-autocomplete-menu-content-max-height;
        }
    }

    //---------- #wc-Autocomplete__option  ---------- /

    &__option {
        max-height: $wc-autocomplete-option-max-height;

        &:hover {
            cursor: pointer;
        }

        //---------- #wc-Autocomplete__option--disabled  ---------- /

        &--disabled {
            pointer-events: none;
        }

        //---------- #wc-Autocomplete__option.is-disabled  ---------- /

        &.is-disabled {
            &:hover {
                cursor: default;
            }
        }

        //---------- #wc-Autocomplete__option.is-multiline  ---------- /

        &.is-multiline {
            max-height: initial;
        }
    }

    //---------- #wc-Autocomplete__optionAvatar  ---------- /

    &__optionAvatar {
        &.is-disabled {
            opacity: $wc-autocomplete-option-disabled-opacity;
        }
    }

    //---------- #wc-Autocomplete__optionText  ---------- /

    &__optionText {
        &.is-disabled {
            opacity: $wc-autocomplete-option-disabled-opacity;
        }
    }

    //---------- #wc-Autocomplete__optionHint  ---------- /

    &__optionHint {
        &.is-disabled {
            opacity: $wc-autocomplete-option-disabled-opacity;
        }
    }

    //---------- #wc-Autocomplete__optionAction  ---------- /

    &__optionAction {
        &.is-disabled {
            opacity: $wc-autocomplete-option-disabled-opacity;
        }
    }

    //---------- #wc-Autocomplete__match  ---------- /

    &__match {
        font-weight: bold;
    }

    //---------- #Desktop  ---------- //

    @include respond-min($wc-media-desktop-lower-boundary) {
        &__menuContent {
            max-height: $wc-autocomplete-menu-content-desktop-max-height;

            &--loading {
                min-height: $wc-autocomplete-menu-content-desktop-max-height;
            }
        }


        &__option {
            max-height: $wc-autocomplete-option-desktop-max-height;
        }
    }
}