/**
* Linear Loader styles
*
* More details: https://zpl.io/Z1qEEix
*
* wc-LinearLoader - main linear loader block
* wc-LinearLoader--determinate - modifier for the determinate linear loader
* wc-LinearLoader__progress - progress bar for the determinate linear loader
* wc-LinearLoader--indeterminate - modifier for the indeterminate linear loader
*/

@import "compass/css3/animation";
@import "compass/css3/transition";
@import "settings/_colors";

$wc-loader-linear-height: 4px;
$wc-loader-linear-indeterminate-animation-duration: 1s;
$wc-loader-linear-indeterminate-left: -200px;
$wc-loader-linear-indeterminate-width: 200px;

//---------- #wc-LinearLoader  ---------- /

.wc-LinearLoader {

    //---------- #wc-LinearLoader--determinate  ---------- /

    &--determinate {
        background-color: rgba($wc-secondary-color, 0.3);
        height: $wc-loader-linear-height;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    //---------- #wc-LinearLoader__progress  ---------- /

    &__progress {
        @include single-transition(width, 0.5s, ease-out);
        background-color: $wc-secondary-color;
        height: 100%;
        max-width: 100%;
        position: relative;
    }

    //---------- #wc-LinearLoader--indeterminate  ---------- /

    &--indeterminate {
        background-color: rgba($wc-secondary-color, 0.3);
        height: $wc-loader-linear-height;
        overflow: hidden;
        position: relative;
        width: 100%;


        &:before {
            animation: indeterminateLinearLoading $wc-loader-linear-indeterminate-animation-duration linear infinite;
            background-color: $wc-secondary-color;
            content: "";
            display: block;
            height: $wc-loader-linear-height;
            left: $wc-loader-linear-indeterminate-left;
            position: absolute;
            width: $wc-loader-linear-indeterminate-width;
        }
    }
}

@include keyframes(indeterminateLinearLoading) {
    0% {
        left: $wc-loader-linear-indeterminate-left;
        width: 15%;
    }
    30% {
        width: 50%;
    }
    50% {
        left: 33%;
    }
    75% {
        left: 66%;
    }
    100% {
        left: 130%;
    }
}