/*------------------------------------*\

        #TYPOGRAPHY UTILITIES

\*------------------------------------*/

@import "../settings/_colors";
@import "../tools/mixins/_typography";

//---------- #TYPOGRAPHY COLOR ---------- //

.u-primary-text-light {
    color: $wc-typoicon-primary-light;
}

.u-secondary-text-light {
    color: $wc-typoicon-secondary-light;
}

.u-disabled-text-light {
    color: $wc-typoicon-disabled-light;
}

.u-primary-text-dark {
    color: $wc-typoicon-primary-dark;
}

.u-secondary-text-dark {
    color: $wc-typoicon-secondary-dark;
}

.u-disabled-text-dark {
    color: $wc-typoicon-disabled-dark;
}

//---------- #TYPOGRAPHY TYPES ---------- //

.u-display4 {
    @include generate-text-styles("display4");
}

.u-display3 {
    @include generate-text-styles("display3");
}

.u-display2 {
    @include generate-text-styles("display2");
}

.u-display1 {
    @include generate-text-styles("display1");
}

.u-headline {
    @include generate-text-styles("headline");
}

.u-title {
    @include generate-text-styles("title");
}

.u-subheading {
    @include generate-text-styles("subheading");
}

.u-body2 {
    @include generate-text-styles("body2");
}

.u-body1 {
    @include generate-text-styles("body1");
}

.u-caption4 {
    @include generate-text-styles("caption4");
}

.u-caption3 {
    @include generate-text-styles("caption3");
}

.u-caption2 {
    @include generate-text-styles("caption2");
}

.u-caption1 {
    @include generate-text-styles("caption1");
}

.u-button {
    @include generate-text-styles("button");
}
