<div class="wc-TextField"
     v-show="!isHidden">

    <wc-input-container
        ref="inputContainer"
        v-bind:value="state.value"
        v-bind:label="label"
        v-bind:floating-label="floatingLabel"
        v-bind:placeholder="placeholder"
        v-bind:modifier="modifier"
        v-bind:required="required"
        v-bind:has-error="hasError"
        v-bind:error-message="errorMessage"
        v-bind:hint-text="hintText"
        v-bind:char-counter="charCounter"
        v-bind:disabled="disabled"
        v-bind:label-for="pseudoId"
        v-bind:max-length="maxLength"
        v-bind:min-length="minLength"
        v-bind:hide-input-highlighter="hideInputHighlighter"
        v-bind:show-secondary-style="showSecondaryStyle"
        v-on:focus="_onFocus"
        v-on:blur="_onBlur"
        v-bind:action-disabled="actionDisabled">

        <template slot-scope="inputContainerScope">
            <input ref="input"
                class="wc-TextField__input"
                tabindex="0"
                v-bind:class="[inputContainerScope.inputClass, inputClass]"
                v-bind:type="type"
                v-bind:name="name"
                v-bind:id="pseudoId"
                v-bind:value="state.value"
                v-bind:disabled="disabled"
                v-bind:required="required"
                v-bind:maxlength="maxLength"
                v-bind:minlength="minLength"
                v-bind:readonly="readonly"
                v-bind:min="min"
                v-bind:max="max"
                v-bind:step="step"
                v-bind:autocomplete="autocomplete"
                v-bind:signed="signed"
                v-bind:style="inlineCssTextfield"
                v-on:keypress="_onKeyPress"
                v-on:input="_onChange"
                v-on:focus="inputContainerScope.onFocus"
                v-on:blur="inputContainerScope.onBlur" />
        </template>

        <!-- Bypasses the suffix slot content -->
        <template slot="suffix">
            <slot name="suffix"></slot>
        </template>

        <template v-if="hasAction" slot="action">
            <div ref="action"
                class="wc-InputContainer__action"
                tabindex="-1"
                v-on:click="_onAction"
                v-wc-gesture:tap="_onAction">
                <!-- Parent that assigns an action child must handle its action -->
                <slot name="action"></slot>
                <!-- This action is only displayed if no other action was given and the clear prop is given -->
                <slot>
                    <template v-if="clear">
                        <wc-icon icon-class="icon-close" v-show="isClearVisible"></wc-icon>
                    </template>
                </slot>
            </div>
        </template>
    </wc-input-container>
</div>
