<div  style="position: relative">
    <wc-markdown>
# Password

## Demo
    </wc-markdown>

    <!-- Use DemoTable if you need a neat responsive layout for your demo -->
    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Demo</div>
            <div class="DemoTable__columnRight">
                <wc-password
                    v-model="value"
                    error-message="This password isn't valid"
                    label="Password"
                    v-bind:disabled="disabled"
                    v-bind:floating-label="floatingLabel"
                    v-bind:has-error="hasError"
                    v-bind:hint-text="hintText ? 'Password must be at least 8 characters long' : null"
                    v-bind:placeholder="placeholder ? 'Enter your password here' : null"
                    v-bind:required="required"
                ></wc-password>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Options</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__options">
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="placeholder">Placeholder</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="floatingLabel">Floating label</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="hasError">Error</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="hintText">Hint text</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="disabled">Disabled</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="required">Required</wc-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Component's value</div>
            <div class="DemoTable__columnRight">
                <span class="u-body1">{{value}}</span>
            </div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
