/**
* Toggle Button styles
*
* More details: zpl.io/1fmokb
*
* wc-ToggleButton: main wrapper
* wc-ToggleButton__input: checkbox
* wc-ToggleButton__inputLabel: label wrapper for the checkbox input
* wc-ToggleButton__inputIcon: optional icon to add to the label
* wc-ToggleButton__inputText: label text inner container
*/

@import "settings/_breakpoints";
@import "settings/_components";
@import "tools/mixins/_responsive";
@import "tools/mixins/_typography";

//---------- #wc-ToggleButton  ---------- /
.wc-ToggleButton {
    $wc-button-container-height-offset: 8;

    height: $wc-toggle-button-height-mobile + $wc-button-container-height-offset;

    //---------- #wc-ToggleButton__input  ---------- /
    // Hide checkbox, the label is used to generate the user facing control
    &__input {
        float: left;
        height: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 0;
    }

    //---------- #wc-ToggleButton__inputLabel  ---------- /
    &__inputLabel {
        @include generate-text-styles("caption1");
        background: none;
        border-radius: $wc-toggle-button-border-radius;
        border: $wc-toggle-button-border;
        color: $wc-toggle-button-text-color;
        cursor: pointer;
        display: inline-flex;
        height: $wc-toggle-button-height-mobile;
        justify-content: center;
        margin: 8px 0 0 8px;
        min-width: $wc-toggle-button-min-width;
        overflow: hidden;
        padding: 0 8px;
        position: relative;
        text-align: center;
    }

    &__input:checked + &__inputLabel {
        background-color: $wc-toggle-button-active-color;
        border-color: $wc-toggle-button-active-color;
        color: $wc-toggle-button-active-text-color;
    }

    &__input[disabled="disabled"] + &__inputLabel {
        border-color: $wc-toggle-button-disabled-color;
        color: $wc-toggle-button-disabled-color;
        cursor: default;
    }

    &__input[disabled="disabled"]:checked + &__inputLabel {
        background-color: $wc-toggle-button-disabled-color;
        pointer-events: none;
    }

    //---------- #wc-ToggleButton__inputIcon  ---------- /
    //---------- #wc-ToggleButton__inputText  ---------- /
    &__inputIcon,
    &__inputText {
        align-items: center;
        display: inline-flex;
        height: 100%;
        justify-content: center;
    }

    &__inputIcon {
        margin-right: 8px;
    }

    &__inputIcon + &__inputText {
        padding-right: 4px;
    }

    @include respond-min($wc-media-desktop-lower-boundary) {
        height: $wc-toggle-button-height-desktop + $wc-button-container-height-offset;

        &__inputLabel {
            height: $wc-toggle-button-height-desktop;
        }

        &__input:hover + &__inputLabel,
        &__input:focus + &__inputLabel {
            border-color: $wc-toggle-button-active-color;
            color: $wc-toggle-button-active-color;
        }

        &__input:checked + &__inputLabel {
            color: $wc-toggle-button-active-text-color;
        }

        &__input[disabled="disabled"] + &__inputLabel {
            border-color: $wc-toggle-button-disabled-color;
            color: $wc-toggle-button-disabled-color;
        }
    }
}
