/**
* Tab styles
*
* More details: https://zpl.io/Z2gkrd
*
* wc-Tab - tab's main container
*     wc-Tab.is-active - active state of the Tab component
*     wc-Tab.is-disabled - disabled state of the Tab component
* wc-Tab__wrapper - wrapper for the correct alignment of items for support of the ripple effect
* wc-Tab__icon - container of the tab's icon
* wc-Tab__label - container of the tab's label
*/

@import "settings/_breakpoints";
@import "settings/_colors";
@import "settings/_components";
@import "tools/mixins/_typography";
@import "tools/mixins/_responsive";
@import "tools/mixins/_utilities";

//---------- #wc-Tab  ---------- /
//
$wc-tab-height : 64px;
$wc-tab-padding : 8px 4px 12px 4px;
$wc-tab-height-desktop: 56px;
$wc-tab-padding-desktop : 0 16px;
$wc-tab-icon-margin-bottom : 4px;
$wc-tab-max-width-desktop : 264px;
$wc-tab-min-width-desktop : 72px;

.wc-Tab {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    min-width: 22%;
    outline: 0;
    overflow: hidden;
    padding: $wc-tab-padding;
    position: relative;
    transition: background-color $wc-button-color-transition-duration ease-in-out;
    vertical-align: middle;
    width: auto;

//- -------- #wc-Tab__wrapper  ---------- //

    &__wrapper {
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

//- -------- #wc-Tab__icon  ---------- //

    &__icon {
        display: block;
        height: $wc-tab-icon-size;
        margin-bottom: $wc-tab-icon-margin-bottom;
        width: $wc-tab-icon-size;
    }

//- -------- #wc-Tab__label  ---------- //

    &__label {
        @include text-with-ellipsis();
        @include generate-text-styles("caption1");
        display: block;
        max-width: 100%;
    }

    &__icon,
    &__label {
        color: $wc-typoicon-secondary-dark;
    }

//- -------- #States  ---------- //

    &:focus,
    &:hover,
    &.is-active {
        .wc-Tab__icon,
        .wc-Tab__label {
            color: $wc-tab-font-color-highlight;
        }
    }

    &.is-disabled {
        pointer-events: none;

        .wc-Tab__icon,
        .wc-Tab__label {
            color: $wc-tab-font-color-disabled;
        }
    }

    //- -------- #Desktop and tablet landscape ---------- //

    @media screen and (min-width: $wc-media-tablet-lower-boundary)
    and (max-width: $wc-media-tablet-upper-boundary)
    and (orientation: landscape),
    screen and (min-width: $wc-media-desktop-lower-boundary) {

        flex-basis: initial;
        flex-grow: 1;
        height: $wc-tab-height-desktop;
        max-width: $wc-tab-max-width-desktop;
        min-width: $wc-tab-min-width-desktop;
        width: auto;
        padding: $wc-tab-padding-desktop;

        &__icon {
            display: none;
        }

        &__label {
            @include generate-text-styles("body1");
            max-width: $wc-tab-max-width-desktop - 32px;    // -32px for adjusting the Tab's padding
        }
    }

    //- -------- #tablet portrait ---------- //

    @media screen and (min-width: $wc-media-tablet-lower-boundary)
    and (max-width: $wc-media-tablet-upper-boundary)
    and (orientation: portrait) {
        & {
            height: 56px;
        }
        &__icon {
            display: none;
        }
    }
}
