/**
* Tab styles
*
* More details: https://zpl.io/Z2gkrd
*
* wc-Tab - tab's main container
*     wc-Tab.is-active - active state of the Tab component
*     wc-Tab.is-disabled - disabled state of the Tab component
* wc-Tab__wrapper - wrapper for the correct alignment of items for support of the ripple effect
* wc-Tab__icon - container of the tab's icon
* wc-Tab__label - container of the tab's label
*/
/*------------------------------------*\

         #BREAKPOINTS SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/*------------------------------------*\
         #RESPONSIVE
\*------------------------------------*/
/**
* Used to work for responsive design of mobile first.
* @param  {Number} $width - The width of a large display, for example a desktop or tablet display.
*
*/
/**
* Used to work for responsive design of mobile first.
* Sets a max width to respong
* @param  {Number} $width - The width of a small display.
*
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/* line 31, tab_styles.scss */
.wc-Tab {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
  min-width: 22%;
  outline: 0;
  overflow: hidden;
  padding: 8px 4px 12px 4px;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  vertical-align: middle;
  width: auto;
}
/* line 52, tab_styles.scss */
.wc-Tab__wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
/* line 63, tab_styles.scss */
.wc-Tab__icon {
  display: block;
  height: 24px;
  margin-bottom: 4px;
  width: 24px;
}
/* line 72, tab_styles.scss */
.wc-Tab__label {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  max-width: 100%;
}
/* line 79, tab_styles.scss */
.wc-Tab__icon, .wc-Tab__label {
  color: rgba(0, 0, 0, 0.54);
}
/* line 89, tab_styles.scss */
.wc-Tab:focus .wc-Tab__icon,
.wc-Tab:focus .wc-Tab__label, .wc-Tab:hover .wc-Tab__icon,
.wc-Tab:hover .wc-Tab__label, .wc-Tab.is-active .wc-Tab__icon,
.wc-Tab.is-active .wc-Tab__label {
  color: #26C6DA;
}
/* line 95, tab_styles.scss */
.wc-Tab.is-disabled {
  pointer-events: none;
}
/* line 98, tab_styles.scss */
.wc-Tab.is-disabled .wc-Tab__icon,
.wc-Tab.is-disabled .wc-Tab__label {
  color: rgba(0, 0, 0, 0.26);
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), screen and (min-width: 1025px) {
  /* line 31, tab_styles.scss */
  .wc-Tab {
    flex-basis: initial;
    flex-grow: 1;
    height: 56px;
    max-width: 264px;
    min-width: 72px;
    width: auto;
    padding: 0 16px;
  }
  /* line 119, tab_styles.scss */
  .wc-Tab__icon {
    display: none;
  }
  /* line 123, tab_styles.scss */
  .wc-Tab__label {
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 20px;
    font-weight: normal;
    font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 232px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* line 134, tab_styles.scss */
  .wc-Tab {
    height: 56px;
  }
  /* line 137, tab_styles.scss */
  .wc-Tab__icon {
    display: none;
  }
}
