/**
* TableCell styles
*
* More details: https://zpl.io/Z1Cryqv
*
* .wc-TableCell - main table cell block
* .wc-TableCell.is-truncated - truncates content on overflow (ellipsis)
* .wc-TableCell.is-action - action cell
* .wc-TableCell.is-borderless - cell without bottom border
* .wc-TableCell.is-compact - reduce cell horizontal spacing
* .wc-TableCell.is-data - data cell
* .wc-TableCell.is-disabled - disabled cell
* .wc-TableCell.is-editable - editable cell
* .wc-TableCell.is-header - header cell
* .wc-TableCell.is-sortable - sortable header cell
* .wc-TableCell--right - align the cell content to the right
* .wc-TableCell__content.is-truncated - truncates content on overflow (ellipsis)
*/

@import "settings/_colors";
@import "tools/mixins/_typography";

$wc-table-cell-border-bottom: 1px solid rgba(black, 0.1);
$wc-table-cell-borderless : 1px solid transparent;
$wc-table-cell-padding-right: 40px;
$wc-table-cell-padding-right-compact: 24px;
$wc-table-cell-is-data-padding: 8px $wc-table-cell-padding-right 8px 0;
$wc-table-cell-is-data-first-child-padding: 8px 24px;
$wc-table-cell-is-header-height: 56px;
$wc-table-cell-is-header-padding: 8px $wc-table-cell-padding-right 8px 0;
$wc-table-cell-is-header-first-child-padding: 8px 24px;

//---------- #wc-TableCell  ---------- /

.wc-TableCell {
    @include generate-text-styles("caption3");
    align-items: center;
    border-bottom: $wc-table-cell-border-bottom;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    color: $wc-typoicon-primary-dark;
    display: flex;
    flex-basis: 0;
    flex-flow: row nowrap;
    flex-grow: 1;
    text-align: left;
    vertical-align: middle;
    word-break: break-word;

    //---------- #wc-TableCell.is-truncated  ---------- /

    &.is-truncated {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    //---------- #wc-TableCell__content  ---------- /

    &__content {

        //---------- #wc-TableCell__content.is-truncated  ---------- /

        &.is-truncated {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    //---------- #wc-TableCell.is-action.is-header  ---------- /

    &.is-action.is-header {
        padding-right: 0;
    }

    //---------- #wc-TableCell.is-action  ---------- /

    &.is-action {
        padding: 0;
        text-align: right;
    }

    //---------- #wc-TableCell.is-borderless  ---------- /

    &.is-borderless {
        border-bottom: $wc-table-cell-borderless;
    }

    //---------- #wc-TableCell.is-compact  ---------- /

    &.is-compact {
        &.is-data,
        &.is-header {
            padding-right: $wc-table-cell-padding-right-compact;
        }
    }

    //---------- #wc-TableCell.is-data  ---------- /

    &.is-data {
        padding: $wc-table-cell-is-data-padding;

        &:first-child {
            padding: $wc-table-cell-is-data-first-child-padding;
        }
    }

    //---------- #wc-TableCell.is-disabled  ---------- /

    &.is-disabled {
        color: $wc-typoicon-disabled-dark;
    }

    //---------- #wc-TableCell.is-editable  ---------- /

    &.is-editable {
        cursor: pointer;
    }

    //---------- #wc-TableCell.is-header  ---------- /

    &.is-header {
        @include generate-text-styles("caption2");
        border-bottom: none;
        color: $wc-typoicon-secondary-dark;
        height: $wc-table-cell-is-header-height;
        padding: $wc-table-cell-is-header-padding;
        vertical-align: middle;

        &:first-child {
            padding: $wc-table-cell-is-header-first-child-padding;
        }
    }

    //---------- #wc-TableCell.is-sortable  ---------- /

    &.is-sortable {
        cursor: pointer;

        &.is-active, &:hover {
            color: $wc-typoicon-primary-dark;
        }
    }

    //---------- #wc-TableCell--right  ---------- /

    &--right {
        justify-content: flex-end;
        text-align: right;
    }

    //---------- #wc-TableCell--content-top  ---------- /

    &--top {
        align-items: flex-start;
    }
}