/**
* Table styles
*
* More details: https://zpl.io/Z1Cryqv
*
* .wc-Table - main data table block
* .wc-Table__action  - action element
* .wc-Table__footer - footer section of the data table component
* .wc-Table__header - table header
*     .is-sortable - sortable state of a header
* .wc-Table__sortIcon - icon placed in a header that indicates the way that is going to be sorted the table
* .wc-Table__titleSection - section that includes the title and custom actions
* .wc-Table__wrapper - data table component wrapper
*/

@import "settings/_components";
@import "settings/_colors";
@import "tools/mixins/_typography";

//---------- #wc-Table  ---------- /

.wc-Table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0;
    width: 100%;

    //---------- #wc-Table__action  ---------- /

    &__action {
        color: $wc-typoicon-secondary-dark;
    }

    //---------- #wc-Table__footer  ---------- /

    &__footer {
        @include generate-text-styles('caption2');
        align-items: center;
        color: $wc-typoicon-secondary-dark;
        display: flex;
        flex-flow: row nowrap;
        height: $wc-table-footer-height;
        padding: $wc-table-footer-padding;
    }

    //---------- #wc-Table__sortIcon  ---------- /

    &__sortIcon {
        color: $wc-typoicon-disabled-dark;
        vertical-align: middle;

        //---------- #wc-Table__sortIcon.is-active  ---------- /

        &.is-active {
            color: $wc-typoicon-primary-dark;
        }

        .is-sortable:hover & {
            color: $wc-typoicon-primary-dark;
        }
    }

    //---------- #wc-Table__titleSection  ---------- /

    &__titleSection {
        @include generate-text-styles('subheading');
        box-sizing: border-box;
        display: flex;
        height: $wc-table-title-section-height;
        justify-content: space-between;
        line-height: $wc-table-title-section-height;
        padding-left: $wc-table-title-section-padding-left;
        width: 100%;
    }

    //---------- #wc-Table__wrapper  ---------- /

    &__wrapper {
        margin: 0;
        width: 100%;
    }

    &__wrapper.is-scrollable &__body {
        overflow-x: hidden;
        overflow-y: scroll;
        // Overlay value fixes spaces taken by scrollbars from a cell
        // http://quirksmode.org/css/css2/overflow.html
        // http://stackoverflow.com/questions/24671317/scrollbar-above-content (webkit alternative)
        overflow-y: overlay;
    }
}