/**
* List item styles
*
* More details: https://zpl.io/2v4Q4X
*
* .wc-ListItem - Block root component
*     .wc-ListItem--double - it is taller than the default value, space for 2 lines of text
*     .wc-ListItem--double.is-expandable - set the styles for a 'double' layout item that can be expanded
*     .wc-ListItem--expanded - item with borders as dividers
*     .wc-ListItem--hasDescription - show a description under label
*     .wc-ListItem--horizontalPadding2x - default horizontal padding of 2 grid units = 16px
*     .wc-ListItem--horizontalPadding3x - horizontal padding of 3 grid unit = 24px
*     .wc-ListItem--triple - It is taller than the default value, space for 2 lines of text
*     .wc-ListItem--triple.is-expandable - set the styles for a 'triple' layout item that can be expanded
*     .wc-ListItem--multiline - support multiple lines of text when the layout is single
*     .wc-ListItem.is-expanded - expanded state styles for a 'single' layout
*     .wc-ListItem.is-multiple-expanded - expanded state for a 'double' or 'triple' layout item
*     .wc-ListItem.is-selected - set the style of the focus/hover states
*     .wc-ListItem[disabled] - set the list item as disabled
*     .wc-ListItem[role=menuitem] -  add the hover, focus and disabled states to the component.
* .wc-ListItem__avatar - avatar placeholder (left element)
*     .wc-ListItem__avatar--double - changes the margin when the avatar is bigger
*     .wc-ListItem__avatar--triple - changes the margin when the avatar is bigger
* .wc-ListItem__description - textual content wrapper
*     .wc-ListItem__description.is-collapsed - hide content when collapsed
* .wc-ListItem__icon - icon placeholder (left element)
* .wc-ListItem__textWrapper - div container for the primary and secondary text
*     .wc-ListItem__textWrapper.is-expanded - increase padding of textual content
* .wc-ListItem__primaryText - placeholder for the primary text element
*     .wc-ListItem__primaryText--light - make the textual content light colored
* .wc-ListItem__secondaryText - placeholder for the secondary text element
*     .wc-ListItem__secondaryText--light - make the secondary text ligh colored
* .wc-ListItem__action - placeholder for the action (right element)
*     .wc-ListItem__action--rotated - transform the action position 180 degrees
* .wc-ListItem__wrapper - content wrapper
*     .wc-ListItem__wrapper--clickable - clickable content
*     .wc-ListItem__wrapper--singleExpandable - set the styles for a 'single' layout item that can be expanded
*/

@import "compass/css3/animation";
@import "compass/css3/user-interface";
@import "settings/_components";
@import "settings/_colors";
@import "tools/mixins/_typography";

$wc-list-item-padding-unit-2x : 16px;
$wc-list-item-padding-unit-3x : 24px;

/*------------------------------------*\
     #wc-ListItem
\*------------------------------------*/

.wc-ListItem {
    background-color: $wc-list-item-background-color;
    box-sizing: border-box;
    flex-shrink: 0;
    height: $wc-list-item-single-height;
    /**
     * This min height is required becuase of an issue in safari 9.x
     * Although the height is a fixed value we need the min-height
     * to force safari to correctly render the item.
     */
    min-height: $wc-list-item-single-height;
    padding: 0;
    width: $wc-list-item-width;

    //--------- #wc-ListItem--horizontalPadding2x  ---------- //

    &--horizontalPadding2x {
        padding-left: $wc-list-item-padding-unit-2x;
        padding-right: $wc-list-item-padding-unit-2x;
    }

    //--------- #wc-ListItem--horizontalPadding3x  ---------- //

    &--horizontalPadding3x {
        padding-left: $wc-list-item-padding-unit-3x;
        padding-right: $wc-list-item-padding-unit-3x;
    }

    //--------- #wc-ListItem--multiline  ---------- //

    &--multiline {
        height: auto;

        & .wc-ListItem__wrapper {
            align-items: flex-start;
        }
        & .wc-ListItem__action,
        & .wc-ListItem__avatar,
        & .wc-ListItem__radioButton,
        & .wc-ListItem__checkbox,
        & .wc-ListItem__icon, {
            padding-top: 8px;
        }
        & .wc-ListItem__textWrapper {
            overflow: auto;
            padding: 12px 0;
        }

        & .wc-ListItem__primaryText {
            height: auto;
            overflow: auto;
            text-overflow: initial;
            white-space: normal;
        }
    }

    //--------- #wc-ListItem[role=menuitem]  ---------- //

    &[role=menuitem]  {
        @include user-select(none);

        &:hover {
            cursor: pointer;
        }

        &:hover, &:focus, &.is-selected {
            background-color: $wc-list-item-background-color-selected;
            outline: none;
        }

        &:active {
            background-color: $wc-list-item-background-color-pressed;
        }
    }

    //--------- #wc-ListItem[disabled]  ---------- //

    &[disabled] {
        opacity: 0.40;
        pointer-events: none;
    }

    &.is-expandable {
        height : $wc-list-item-single-height + 2px;
    }

    //--------- #wc-ListItem--double  ---------- //

    &--double {
        height: $wc-list-item-double-height;
        padding: $wc-list-item-padding-unit-2x;

        &.is-expandable {
            height : $wc-list-item-double-height;
        }
    }

    //--------- #wc-ListItem--triple  ---------- //

    &--triple {
        height: $wc-list-item-triple-height;
        padding: $wc-list-item-padding-unit-2x;

        &.is-expandable {
            height: $wc-list-item-triple-height;
        }
    }

    //--------- #wc-ListItem.is-expanded ---------- //

    &.is-expanded {
        border-bottom: $wc-list-item-expanded-border-size solid $wc-list-item-expanded-border-color;
        border-top: $wc-list-item-expanded-border-size solid $wc-list-item-expanded-border-color;
        height: calc(100% + 2px); // sum 2px because of the border size
    }

    //--------- #wc-ListItem.is-multiple-expanded ---------- //

    &.is-multiple-expanded {
        padding: ($wc-list-item-padding-unit-2x - 1px) $wc-list-item-padding-unit-2x; // substract 1px because of the border size included in the height
    }

    //--------- #wc-ListItem__wrapper  ---------- //

    &__wrapper {
        -webkit-tap-highlight-color: transparent;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        width: 100%;

        //--------- #wc-ListItem__wrapper--clickable  ---------- //

        &--clickable {
            cursor: pointer;
            box-sizing: border-box;
        }

        //--------- #wc-ListItem--singleExpanded  ---------- //

        &--singleExpandable {
            // 7px because of the 2px added for the borders when the list item is expandable
            // modifies only vertical paddings, this allows changes to be done via wrapper class
            padding-bottom: 7px;
            padding-top: 7px;
        }

        .wc-ListItem--double & {
            height: $wc-list-item-double-height - ($wc-list-item-padding-unit-2x * 2);
        }

        .wc-ListItem--triple & {
            height: $wc-list-item-triple-height - ($wc-list-item-padding-unit-2x * 2);
            align-items: flex-start;
        }
    }

    //--------- #wc-ListItem__textWrapper  ---------- //

    &__textWrapper {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        overflow: hidden;
        width: 100%;

        //--------- #wc-ListItem__textWrapper.is-expanded  ---------- //

        &.is-expanded {
            padding: ($wc-list-item-padding-unit-2x / 2 - 1px) 0;
        }
    }

    //--------- #wc-ListItem__avatar  ---------- //

    &__avatar {
        margin-right: 24px;

        //--------- #wc-ListItem__avatar--double, #wc-ListItem__avatar--triple  ---------- //

        &--double,
        &--triple {
            margin-right: 16px;
        }
    }

    //--------- #wc-ListItem__icon ---------- //

    &__icon {
        margin-right: 32px;
    }

    //--------- #wc-ListItem__primaryText ---------- //

    &__primaryText {
        @include generate-text-styles("body1");
        color: $wc-typoicon-primary-dark;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        //--------- #wc-ListItem__primaryText--light ---------- //

        &--light {
            color : $wc-typoicon-primary-light;
        }
    }

    //--------- #wc-ListItem__secondaryText ---------- //

    &__secondaryText {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        @include generate-text-styles("caption3");
        color: $wc-typoicon-secondary-dark;
        display: -webkit-box;
        max-height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        //--------- #wc-ListItem__secondaryText--light ---------- //

        &--light {
            color : $wc-typoicon-primary-light;
        }
    }

    //--------- #wc-ListItem__action ---------- //

    &__action {
        margin-left: 16px;
        transition: transform $wc-list-item-action-transform-transition-duration linear;

        //--------- #wc-ListItem__action--rotated ---------- //

        &--rotated {
            transform: rotate(180deg) translate(0, 6px);
        }
    }

    //--------- #wc-ListItem__description ---------- //

    &__description {
        display: block;

        //--------- #wc-ListItem__description.is-collapsed ---------- //

        &.is-collapsed {
            display: none;
        }
    }
}

.vt-expand-list-item-enter-active {
    animation: expand-list-item 0.3s;
}

@include keyframes(expand-list-item) {
    0% {
        max-height: 0;
        opacity: 0;
    }
    50% {
        max-height: 1000px;
        opacity: 0.25;
    }
    75% {
        max-height: 1000px;
        opacity: 0.5;
    }
    100% {
        max-height: 1000px;
        opacity: 1;
    }
}