@import "settings/_components";
@import "settings/_elevations";
@import "settings/_breakpoints";
@import "tools/mixins/_responsive";
@import "tools/mixins/_utilities";

/**
* Drawer, styles for the drawer component
*
* Check the drawer_template.html to see its structure
*
wc-Drawer - root class
    wc-Drawer--appBar - provides extra top margin when the app bar is shown, just for the edge element
wc-Drawer__nav - this is the Nav element, the visible part of this component
wc-Drawer__content - sub element of the nav,  where the content is.
wc-Drawer__edge - The edge element is the little space where it detects that the user has an intention of opening the drawer by swiping
*/

//---------- #wc-Drawer  ---------- /

.wc-Drawer {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $wc-elevations-drawer;
    -webkit-overflow-scrolling: touch;
    // https://stanko.github.io/ios-safari-scoll-position-fixed/
    transform: translate3d(0,0,0);

    //---------- #wc-Drawer--appBar  ---------- /

    &--appBar {
        .wc-Drawer__edge {
            top : $wc-app-bar-height;
        }
    }

    //---------- #wc-Drawer_nav  ---------- /

    &__nav {
        background: $wc-drawer-nav-background-color;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: $wc-drawer-nav-max-width;
        @include component-elevation($wc-elevations-drawer);
        position: relative;
        width: $wc-drawer-nav-width;
        will-change: transform;
    }

    //---------- #wc-Drawer_edge  ---------- /

    &__edge {
        display: block;
        height: 100%;
        left: 0;
        pointer-events: auto;
        position: absolute;
        top: 0;
        width: $wc-drawer-edge-width;
    }

    //---------- #wc-Drawer_content ---------- /

    &__content {
        overflow-x: hidden;
        overflow-y: auto;
        will-change: transform;
        webkit-overflow-scrolling: touch;
    }





    /*----------------------------------*\
                #TABLET
    \*----------------------------------*/

    @include respond-min($wc-media-tablet-lower-boundary) {

        //--------- #wc-Drawer_nav  ---------- //

        &__nav {
            max-width: $wc-drawer-nav-max-width-tablet;
        }
    }
}