/**
* Datepicker styles
*
* More details: https://zpl.io/1Nvvh2
*
* .wc-Datepicker - component's main container
* .wc-Datepicker__action - icon for displaying the action of the textfield
* .wc-Datepicker__dialog - wrapper containing the year-month-date selector
* .wc-Datepicker__selectorWrapper - container of the year/month options
*     .wc-Datepicker__selectorWrapper.is-disabled - styles for the disabled state of the selector
* .wc-Datepicker__label - label of the year and month selectors
* .wc-Datepicker__arrow - input arrow action that opens the dialog
* .wc-Datepicker__icon - wrapper of the arrow icon
*     .wc-Datepicker__icon.is-rotated - adds the animation for rotating the arrow aciton icon
* .wc-Datepicker__yearSelector - defines the styles of the selector of the year
* .wc-Datepicker__option - option contained in the year/month selector
*     .wc-Datepicker__option--year - an option representing a year option inside a year selector
*     .wc-Datepicker__option--month - an option representing a month option inside a month selector
*     .wc-Datepicker__option.is-selected - styles for the selected state of a selector option
*     .wc-Datepicker__option.is-disabled - styles for the disabled state of a selector option
* .wc-Datepicker__overlay - helper styles for giving the appropriate z-index to the overlay, for
*                           blocking the click actions to the window
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/* line 41, datepicker_styles.scss */
.wc-Datepicker {
  position: relative;
}
/* line 46, datepicker_styles.scss */
.wc-Datepicker__action {
  bottom: 14px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  outline: none;
  pointer-events: none;
  position: absolute;
  right: 0;
}
/* line 58, datepicker_styles.scss */
.wc-Datepicker__dialog {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12), 0 24px 24px 0 rgba(0, 0, 0, 0.24);
  z-index: 24;
  background-color: #FFF;
  border-radius: 4px;
  overflow: hidden;
  padding-top: 8px;
  position: absolute;
  width: 288px;
}
/* line 69, datepicker_styles.scss */
.wc-Datepicker__selectorWrapper.is-disabled {
  pointer-events: none;
}
/* line 72, datepicker_styles.scss */
.wc-Datepicker__selectorWrapper.is-disabled .wc-Datepicker__arrow,
.wc-Datepicker__selectorWrapper.is-disabled .wc-Datepicker__label {
  color: rgba(0, 0, 0, 0.26);
}
/* line 81, datepicker_styles.scss */
.wc-Datepicker__label {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.87);
  line-height: 47px;
  position: relative;
  text-align: center;
}
/* line 93, datepicker_styles.scss */
.wc-Datepicker__arrow {
  color: rgba(0, 0, 0, 0.54);
  line-height: 47px;
  position: absolute;
  right: 8px;
  top: 6px;
}
/* line 103, datepicker_styles.scss */
.wc-Datepicker__icon {
  transition: transform 0.3s;
}
/* line 108, datepicker_styles.scss */
.wc-Datepicker__icon.is-rotated {
  transform: rotate(180deg);
}
/* line 115, datepicker_styles.scss */
.wc-Datepicker__yearSelector {
  height: 360px;
  overflow-y: scroll;
}
/* line 122, datepicker_styles.scss */
.wc-Datepicker__option {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 17px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  text-align: center;
}
/* line 129, datepicker_styles.scss */
.wc-Datepicker__option--year {
  line-height: 40px;
  padding-left: 16px;
  width: 100%;
}
/* line 137, datepicker_styles.scss */
.wc-Datepicker__option--month {
  display: inline-block;
  line-height: 78px;
  width: 96px;
}
/* line 145, datepicker_styles.scss */
.wc-Datepicker__option.is-selected {
  color: #26C6DA;
}
/* line 148, datepicker_styles.scss */
.wc-Datepicker__option.is-selected:hover {
  color: #00ACC1;
}
/* line 155, datepicker_styles.scss */
.wc-Datepicker__option:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
/* line 161, datepicker_styles.scss */
.wc-Datepicker__option.is-disabled {
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
}
/* line 169, datepicker_styles.scss */
.wc-Datepicker__overlay {
  position: relative;
  z-index: 23;
}

/* line 175, datepicker_styles.scss */
.vt-datepicker-fade-leave,
.vt-datepicker-fade-leave-active {
  display: none;
}

/* line 180, datepicker_styles.scss */
.vt-datepicker-fade-enter,
.vt-datepicker-fade-leave-active {
  opacity: 0;
}

/* line 185, datepicker_styles.scss */
.vt-datepicker-fade-enter-active,
.vt-datepicker-fade-leave-active {
  transition: opacity 0.3s ease;
}
