/**
* AddPhoto styles
*
* More details: https://zpl.io/oQOXY
*
* .wc-AddPhoto - main container
*     .wc-AddPhoto.is-clickable - determines if the the add photo has an action for displaying the pointer cursor
*     .wc-AddPhoto.is-focus-disabled - fix for smart focus behavior
* .wc-AddPhoto__overlay - acts as the add photo background color
* .wc-AddPhoto__upload - icon representing the upload action
* .wc-AddPhoto__delete - icon representing the delete action
* .wc-AddPhoto__deleteIcon - icon container
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/**
 * Generates modifiers using a list of factors to be multiplied by the grid size
 * e.g. sizes=[1,2,3]
 *      default-size=2
 *      grid-size=5
 *
 * will generate the classes:
 * .size-1x {size: 5px} // one time the grid size, smaller than default
 * .size-3x {size- 15px} // three times the grid size, bigger than default
 * size-2x won't be generated as it's the default
 *
 * @param  {List}    $sizes - available factors to generate grid-scaled icons
 * @param  {Integer} $default-size - one member of $sizes list that's the default, so the modifier isn't generated
 * @param  {Integer} $grid-size - the grid size the icons are based ons
 */
/* This the ratio where a 72px avatar requires a displacement of 5px in
order to display the loader in the right position */
/* line 31, add-photo_styles.scss */
.wc-AddPhoto {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: relative;
}
/* line 41, add-photo_styles.scss */
.wc-AddPhoto.is-clickable {
  cursor: pointer;
}
/* line 49, add-photo_styles.scss */
.wc-AddPhoto.is-focus-disabled:not(:hover):not(:active):focus .wc-AddPhoto__overlay {
  background-color: rgba(0, 0, 0, 0.26);
}
/* line 57, add-photo_styles.scss */
.wc-AddPhoto:active .wc-AddPhoto__overlay, .wc-AddPhoto:focus .wc-AddPhoto__overlay, .wc-AddPhoto:hover .wc-AddPhoto__overlay {
  background-color: rgba(0, 0, 0, 0.54);
}
/* line 64, add-photo_styles.scss */
.wc-AddPhoto__avatar {
  margin: 0 auto;
}
/* line 70, add-photo_styles.scss */
.wc-AddPhoto__overlay {
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s ease;
}
/* line 82, add-photo_styles.scss */
.wc-AddPhoto__overlay--square {
  border-radius: 0;
}
/* line 89, add-photo_styles.scss */
.wc-AddPhoto__loader {
  bottom: calc(100% * (-5/72));
  left: calc(100% * (-5/72));
  position: absolute;
  right: calc(100% * (-5/72));
  top: calc(100% * (-5/72));
}
/* line 99, add-photo_styles.scss */
.wc-AddPhoto__upload {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
/* line 109, add-photo_styles.scss */
.wc-AddPhoto__error {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: bold;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #D32F2F;
  margin: 4px 0;
  word-wrap: break-word;
}
/* line 118, add-photo_styles.scss */
.wc-AddPhoto__delete {
  -webkit-tap-highlight-color: transparent;
  background-color: #37474F;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: -7px;
  top: 0;
  width: 24px;
}
/* line 131, add-photo_styles.scss */
.wc-AddPhoto__deleteIcon {
  display: block;
}
/* line 135, add-photo_styles.scss */
.wc-AddPhoto__upload, .wc-AddPhoto__delete {
  color: white;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-AddPhoto--size-6x {
  font-size: 24px;
  height: 48px;
  line-height: 52.8px;
  min-height: 48px;
  min-width: 48px;
  width: 48px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-AddPhoto--size-7x {
  font-size: 28px;
  height: 56px;
  line-height: 61.6px;
  min-height: 56px;
  min-width: 56px;
  width: 56px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-AddPhoto--size-8x {
  font-size: 32px;
  height: 64px;
  line-height: 70.4px;
  min-height: 64px;
  min-width: 64px;
  width: 64px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-AddPhoto--size-9x {
  font-size: 36px;
  height: 72px;
  line-height: 79.2px;
  min-height: 72px;
  min-width: 72px;
  width: 72px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-AddPhoto--size-10x {
  font-size: 40px;
  height: 80px;
  line-height: 88px;
  min-height: 80px;
  min-width: 80px;
  width: 80px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-AddPhoto--size-11x {
  font-size: 44px;
  height: 88px;
  line-height: 96.8px;
  min-height: 88px;
  min-width: 88px;
  width: 88px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-AddPhoto--size-12x {
  font-size: 48px;
  height: 96px;
  line-height: 105.6px;
  min-height: 96px;
  min-width: 96px;
  width: 96px;
}
