@import "../../settings/_colors";

/**
* Divider mixin, generates the divider styles
*
* More details: https://zpl.io/Z1GxN96
*
* @param {HEX} $color - color for the divider
*/


@mixin generate-divider($color) {
    box-sizing: border-box;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid $color;
}