@import "../../settings/_components";

// default grid size used for now
// all sizes are multiples of this size
$wc-grid-size: 8px;

/**
 * Generates modifiers using a list of factors to be multiplied by the grid size
 * e.g. sizes=[1,2,3]
 *      default-size=2
 *      grid-size=5
 *
 * will generate the classes:
 * .size-1x {size: 5px} // one time the grid size, smaller than default
 * .size-3x {size- 15px} // three times the grid size, bigger than default
 * size-2x won't be generated as it's the default
 *
 * @param  {List}    $sizes - available factors to generate grid-scaled icons
 * @param  {Integer} $default-size - one member of $sizes list that's the default, so the modifier isn't generated
 * @param  {Integer} $grid-size - the grid size the icons are based ons
 */
@mixin generate-size-modifiers(
    $sizes,
    $default-size,
    $grid-size: $wc-grid-size) {

    $default-size: $default-size / $wc-grid-size;

    @each $size in $sizes {
        // prevents generation of useless modifier for default size
        @if($size != $default-size) {
            $current-size: $size * $grid-size;

            // generates a modifier class name like `comparative`-size-`grid multiple`
            // e.g. &.bigger-size-5, which is 5 times the grid
            &--size-#{$size}x {
                font-size: $current-size / 2;
                height: $current-size;
                line-height: $current-size + ($current-size * 0.1);
                // minimum sizes are required for inside-flex layouts support
                min-height: $current-size;
                min-width: $current-size;
                width: $current-size;
            }
        }
    }
}
