@import "settings/_colors";

/*------------------------------------*\
         #utilities
\*------------------------------------*/

//- -------- #Elevation ---------- //

/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
@mixin component-elevation($elevation){
    @include component-shadow($elevation);
    z-index: $elevation;
}

/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
@mixin component-shadow($elevation){
    $elevation-in-px : #{$elevation}px;
    box-shadow: 0 0 $elevation-in-px 0 rgba(#000,$wc-component-shadow-opacity),
    0 $elevation-in-px $elevation-in-px 0 rgba(#000,$wc-component-second-shadow-opacity);
}

/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
@mixin text-with-ellipsis() {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
@mixin clearfix() {
    zoom: 1;

    &:after,
    &:before {
        content: "";
        display: table;
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }

    &:after {
        clear: both;
    }
}
