<div>
    <wc-password
        ref="password"
        class="wc-PasswordStrength"
        v-model="state.value"
        v-bind="$attrs"
        v-on:blur="_onBlur"
        v-on:focus="_onFocus"
        v-on:input="_onInput">
        <!-- Bypasses the hintSlot slot content -->
        <template slot="hintSlot">
            <slot name="hintSlot"></slot>
        </template>
        <!-- Bypasses the errorSlot slot content -->
        <template slot="errorSlot">
            <slot name="errorSlot"></slot>
        </template>
    </wc-password>
    <transition name="wc-PasswordStrength__show">
        <span v-show="!!state.value" class="wc-PasswordStrength__label">
            {{ strengthHintText }}: <span v-bind:class="scoreStyle">{{ scoreLabel }}</span>
        </span>
    </transition>
</div>
