/**
* Password Strenght component styles
*/

@import "settings/_colors";
@import "tools/mixins/_typography";

//---------- #wc-PasswordStrength  ---------- /

.wc-PasswordStrength {
    $animation-max-height: 100px;
    $animation-duration: 0.3s;
    $wc-password-strength-label-padding: 5px;

    //---------- #wc-PasswordStrength__label  ---------- /

    &__label {
        @include generate-text-styles("caption4");
        color : $wc-typoicon-primary-dark;
        display: block;
        padding-bottom: $wc-password-strength-label-padding;
    }

    //---------- #wc-PasswordStrength__score  ---------- /

    &__score {

        //---------- #wc-PasswordStrength__score--strong  ---------- /

        &--strong {
            color: $wc-success-color;
        }

        //---------- #wc-PasswordStrength__medium  ---------- /

        &--medium {
            color: $wc-accent-color-dark;
        }

        //---------- #wc-PasswordStrength__weak  ---------- /

        &--weak {
            color: $wc-error-color;
        }
    }

    //---------- #wc-PasswordStrength__show-item  ---------- /
    // These have a different nomenclature because they are used by the
    // vue transition

    &__show-item {
        max-height: $animation-max-height;
    }

    //---------- #wc-PasswordStrength__show-enter-active  ---------- /
    //---------- #wc-PasswordStrength__show-leave-active  ---------- /

    &__show-enter-active, &__show-leave-active {
        transition: max-height $animation-duration,
                    opacity $animation-duration;
    }

    //---------- #wc-PasswordStrength__show-enter  ---------- /
    //---------- #wc-PasswordStrength__show-leave-to  ---------- /

    &__show-enter, &__show-leave-to {
        opacity: 0;
        max-height: 0;
    }
}

