@import "settings/_breakpoints";
@import "tools/mixins/_responsive";

.wc-MediaStatus {
    opacity: 0;
    position: absolute;
    top: -999em;
    left: -999em;

    &:before {
        content: 'phone';
    }

    @include respond-min($wc-media-desktop-lower-boundary) {
        &:before {
            content: 'desktop';
        }
    }
}