/**
* TimePicker styles
*
* More details: https://zpl.io/Zf9poN
*
* .wc-TimePicker - main component wrapper
* .wc-Timepicker__dialog - styles for the dialog that contains the timepicker's selectors
* .wc-Timepicker__header - dialog's header labels
* .wc-Timepicker__title - title inside dialog's header. Each title is aligned in a column
* .wc-Timepicker__content - content wrapper containing the timepicker's selectors
* .wc-Timepicker__selector - scrollable area that displays the options
* .wc-Timepicker__option - single option that can be clicked for selecting it
* .wc-TimePicker__overlay - window's overlay for exiting the timepicker's dialog
*/

@import "settings/_colors";
@import "settings/_components";
@import "settings/_elevations";
@import "tools/mixins/_typography";
@import "tools/mixins/_utilities";

//---------- #wc-TimePicker ---------- //

$wc-time-picker-dialog-header-height : 56px;
$wc-time-picker-option-height : 40px;
$wc-time-picker-option-width : 86px;
$wc-time-picker-padding : 8px;
$wc-time-picker-dialog-content-height : (7 * $wc-time-picker-option-height);
$wc-time-picker-dialog-height : $wc-time-picker-dialog-header-height + $wc-time-picker-dialog-content-height;
$wc-time-picker-selector-spacing : 24px;

.wc-TimePicker {
    position: relative;

    // Hides the spinner for chrome
    ::-webkit-inner-spin-button {
        display: none;
    }

//---------- #wc-Timepicker__input ---------- //

    &__input {
        max-height: 20px;
    }

//---------- #wc-Timepicker__dialog ---------- //

    &__dialog {
        @include component-elevation($wc-elevations-timepicker);
        @include generate-text-styles("body1");
        background-color: $wc-time-picker-background-color;
        color: $wc-typoicon-primary-dark;
        overflow: hidden;
        padding: $wc-time-picker-padding 0;
        position: absolute;
        width: $wc-time-picker-width;
    }

//---------- #wc-Timepicker__header ---------- //

    &__header {
        border-bottom: 1px solid $wc-dividers-dark;
        line-height: $wc-time-picker-dialog-header-height;
        width: 100%;
    }

//---------- #wc-Timepicker__title ---------- //

    &__title {
        display: inline-block;
        text-align: center;
        width: $wc-time-picker-option-width;
    }

//---------- #wc-Timepicker__content ---------- //

    &__content {
        padding: 0 $wc-time-picker-padding;
        text-align: right;
        width: 100%;
    }

//---------- #wc-Timepicker__selector ---------- //

    &__selector {
        display: inline-block;
        max-height: $wc-time-picker-dialog-content-height;
        overflow-y: auto;
        text-align: center;
        vertical-align: top;
        width: $wc-time-picker-option-width;
    }

    &__title,
    &__selector {
        &:not(:first-child) {
            margin-left: $wc-time-picker-selector-spacing;
        }

        &:last-child {
            // 14px are subtracted because of scroll bar's width
            width: $wc-time-picker-option-width - 14;
        }
    }

//---------- #wc-Timepicker__option ---------- //

    &__option {
        cursor: default;
        line-height : $wc-time-picker-option-height;
        width: 100%;

    //---------- #wc-Timepicker__option:hover ---------- //

        &:hover {
            background-color: $wc-time-picker-option-background-color-highlighted;
        }

    //---------- #wc-Timepicker__option.is-active ---------- //

        &.is-active {
            color: $wc-time-picker-color-active;

        //---------- #wc-Timepicker__option.is-active:hover ---------- //

            &:hover {
                color : $wc-time-picker-color-active-dark;
            }
        }
    }

//---------- #wc-TimePicker__overlay  ---------- /

    &__overlay {
        position: relative;
        z-index: $wc-elevations-timepicker - 1;
    }
}
