/**
* Stepper styles
*
* More details: https://zpl.io/24bLhD
*
* wc-Stepper - main wrapper
* wc-Stepper__dot - element that indicates a step
*     wc-Stepper__dot.is-active - current active dot (step)
* wc-Stepper__innerDot - helper block for adding padding to the dot and increase its clickable area
*/

@import "settings/_colors";
@import "settings/_components";

/*------------------------------------*\
     #wc-Stepper
\*------------------------------------*/

$wc-stepper-dot-highlight-animation-duration : 0.2s;

.wc-Stepper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__dot {
        cursor: pointer;
        display: block;
        padding: 4px;
        transition: transform $wc-stepper-dot-highlight-animation-duration ease;

        &:not(:first-child) {
            margin-top: $wc-stepper-dot-spacing - ($wc-stepper-dot-padding * 2) - 2;
        }

        &:hover {
            .wc-Stepper__innerDot {
                background-color: $wc-stepper-dot-background-color-hover;
            }
        }

        &.is-active {
            .wc-Stepper__innerDot {
                background-color: $wc-stepper-dot-background-color-active;
            }
        }

        &.is-active,
        &:hover {
            transform: scale(1.5);
        }
    }

    &__innerDot {
        background-color: $wc-stepper-dot-background-color;
        border-radius: 50%;
        height: $wc-stepper-dot-size;
        width: $wc-stepper-dot-size;
    }
}
