/**
* Error styles
*
* More details:
* - https://zpl.io/oQOXY
* - https://zpl.io/oQOXY
* - https://zpl.io/2tiWvM
* - https://zpl.io/pxAqD
*
* .wc-Error - main block of an error component
*     .wc-Error--card - custom spacing for an error inside a card component
*     .wc-Error--selection - custom spacing for an error nearby a selection control component
*/

@import "settings/_breakpoints";
@import "settings/_colors";
@import "tools/mixins/_responsive";
@import "tools/mixins/_typography";

//---------- #wc-Error  ---------- /

$wc-error-card-layout-background-color : rgba(black, 0.1);
$wc-error-card-layout-desktop-margin-bottom : 24px;
$wc-error-card-layout-mobile-margin-bottom : 16px;
$wc-error-card-layout-padding-horizontal : 24px;
$wc-error-card-layout-padding-vertical : 16px;

.wc-Error {
    @include generate-text-styles("caption2");
    color: $wc-error-color;

    //---------- #wc-Error--card  ---------- /

    &--card {
        @include generate-text-styles("caption4");
        background-color: $wc-error-card-layout-background-color;
        box-sizing: border-box;
        margin-bottom: $wc-error-card-layout-mobile-margin-bottom;
        margin-top: 0;
        padding: $wc-error-card-layout-padding-vertical;

        //---------- #Desktop  ---------- //

        @include respond-min($wc-media-tablet-lower-boundary) {
            margin-bottom: $wc-error-card-layout-desktop-margin-bottom;
            padding: $wc-error-card-layout-padding-vertical $wc-error-card-layout-padding-horizontal;
        }
    }

    //---------- #wc-Error--selection  ---------- /

    &--selection {
        padding-top: 5px;
    }
}
