<div
    v-bind:class="['wc-Autocomplete', classObject]"
    v-on:click.prevent="onAutocompleteClick"
    v-on:keyup.esc.stop="closeMenu">

    <div
        class="wc-Autocomplete__input"
        v-bind:class="{'is-active' : state.isMenuOpened}"
        v-bind:id="state.id">

        <div class="wc-Autocomplete__inputWrapper">

            <wc-avatar v-if="!hideSelectedAvatar && state.avatar"
                class="wc-Autocomplete__inputAvatar wc-Avatar--size-4x"
                v-bind:image-path="state.avatar">
            </wc-avatar>
            <wc-text-field
                class="wc-Autocomplete__inputField"
                ref="input"
                v-bind:clear="true"
                v-bind:disabled="disabled"
                v-bind:error-message="errorMessage"
                v-bind:floating-label="floatingLabel"
                v-bind:has-error="hasError"
                v-bind:hint-text="hintText"
                v-bind:label="label"
                v-bind:max-length="maxLength"
                v-bind:min-length="minLength"
                v-bind:placeholder="placeholder"
                v-bind:required="required"
                v-bind:hide-input-highlighter="hideInputHighlighter"
                v-bind:show-secondary-style="showSecondaryStyle"
                v-model="state.buffer"
                v-on:blur="_onInputBlur"
                v-on:click.native="_onInputClick"
                v-on:focus="_onInputFocus"
                v-on:input="_onInputHandler"
                v-on:textfield-action="clear">
            </wc-text-field>
        </div>
        <div
            v-show="!isFocused"
            class="wc-Autocomplete__action"
            v-bind:class="{
                'wc-Autocomplete__action--withLabel' : label,
                'wc-Autocomplete__action--disabled' : disabled
            }">

            <wc-icon icon-class="icon-search" class="wc-Autocomplete__action--icon"></wc-icon>
        </div>
    </div>

    <wc-menu
        v-if="!disabled"
        class="wc-Autocomplete__menu"
        trigger-scroll
        remove-overlay
        role="listbox"
        v-bind:menu-class="[
            'wc-Autocomplete__menuContent',
            'js-menu',
            {
                'is-loading' : state.isFiltering,
                'wc-Menu--fullWidth' : fullWidth
            }
        ]"
        v-bind:active="isMenuOpened"
        v-bind:close-on-esc-key="false"
        v-bind:has-floating-layer="false"
        v-bind:trigger-element-selector="'#' + state.id"
        v-on:mousedown.native="_handleMenuMousedown"
        v-on:mouseup.native="_handleMenuMouseup"
        v-on:scroll="_onScroll">

        <div
            v-if="state.isFiltering"
            class="wc-Autocomplete__loader">
            <wc-circular-loader
                class="wc-Autocomplete__loaderSpinner"
                indeterminate>
            </wc-circular-loader>
        </div>

        <wc-list-item
            v-if="allowAddingItems && !state.isFiltering && state.buffer"
            class="wc-Autocomplete__option"
            role="menuitem"
            v-on:mousedown.native="_addNewItem(state.buffer)"
            v-on:keydown.native.enter="_addNewItem(state.buffer)">

            <span class="wc-Autocomplete__optionText">
                <strong>{{addItemLabel}} </strong><span>{{state.buffer}}</span>
            </span>
        </wc-list-item>

        <div v-if="allowAddingItems && !state.isResultEmpty && !state.isFiltering && state.buffer" class="wc-Divider wc-Divider--verticalSpace"></div>

        <wc-list-item
            class="wc-Autocomplete__option"
            v-if="!state.isFiltering"
            v-for="(option, index) in filterOptions"
            v-bind:key="index"
            v-bind:class="{'is-disabled' : option.disabled, 'is-multiline' : multiline}"
            v-bind:multiline="multiline"
            v-bind:value="option.value"
            v-bind:role="option.disabled ? null : 'menuitem'"
            v-on:mousedown.native="_setSelectedOption(option)"
            v-on:keydown.native.enter="_setSelectedOption(option)">

            <wc-avatar
                slot="avatar"
                v-if="option.avatar"
                class="wc-Autocomplete__optionAvatar wc-Avatar--size-4x"
                v-bind:class="{'is-disabled' : option.disabled}"
                v-bind:imagePath="option.avatar">
            </wc-avatar>

            <span class="wc-Autocomplete__optionText"
                  v-bind:class="{ 'is-disabled' : option.disabled }"
                  v-html="option.match"></span>

            <span v-if="option.hint" class="wc-Autocomplete__optionHint"
                  v-bind:class="{'is-disabled' : option.disabled}">
                {{ option.hint }}
            </span>

            <wc-icon slot="action"
                v-if="_showItemIcon(option.value, option.icon)"
                class="wc-Autocomplete__optionAction"
                v-bind:class="{
                    'is-disabled' : option.disabled
                }"
                v-bind:icon-class="_getItemIcon(option.value, option.icon)"
                v-wc-tooltip.alignment:left="option.iconTooltip">
            </wc-icon>
        </wc-list-item>

        <div
            v-if="isLoadingMore"
            class="wc-Autocomplete__loadMore">

            <wc-circular-loader
                class="wc-Autocomplete__loadMoreSpinner"
                indeterminate>
            </wc-circular-loader>
        </div>

        <wc-list-item
            v-if="!allowAddingItems && state.isResultEmpty && !state.isFiltering && state.buffer && bufferLimitForRequest >= 0"
            class="wc-Autocomplete__option wc-Autocomplete__option--disabled"
            role="menuitem">

            <span class="wc-Autocomplete__optionText">
                <strong>{{notFoundLabel}} </strong><span>{{state.buffer}}</span>
            </span>
        </wc-list-item>
    </wc-menu>

</div>
