/**
 * Dialog, styles for the dialog component based on material desgin
 *
 * Check the dialog_template.html to see its structure
 *
 * wc-Dialog - root class, this is the component container
 *     wc-Dialog.is-active - indicate that the nav is active(visible)
 *     wc-Dialog.is-scrollable - indicate that the nav is in the animation state, when closing or opening the nav
 *  wc-Dialog__window - dialog or window styles
 *  wc-Dialog__content - content of the dialog
 *  wc-Dialog__actions - actions (buttons) in the footer of the dialog
 *  wc-Dialog__title - title of the dialog
 */
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*------------------------------------*\

         #BREAKPOINTS SETTINGS

\*------------------------------------*/
/*------------------------------------*\
         #RESPONSIVE
\*------------------------------------*/
/**
* Used to work for responsive design of mobile first.
* @param  {Number} $width - The width of a large display, for example a desktop or tablet display.
*
*/
/**
* Used to work for responsive design of mobile first.
* Sets a max width to respong
* @param  {Number} $width - The width of a small display.
*
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/* line 25, dialog_styles.scss */
.wc-Dialog {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 24;
}
/* line 42, dialog_styles.scss */
.wc-Dialog__window {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12), 0 24px 24px 0 rgba(0, 0, 0, 0.24);
  z-index: 24;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  height: auto;
  max-height: 290px;
  max-width: 88%;
  min-height: 120px;
  min-width: 280px;
  opacity: 0;
  padding-top: 24px;
  position: relative;
  transform: scale(0.5, 0.5);
  transition: all .3s;
  will-change: opacity;
}
/* line 63, dialog_styles.scss */
.wc-Dialog__title {
  font-size: 22px;
  letter-spacing: 0.3px;
  line-height: normal;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 16px 24px;
}
/* line 71, dialog_styles.scss */
.wc-Dialog__content {
  box-sizing: border-box;
  margin-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
/* line 80, dialog_styles.scss */
.wc-Dialog__actions {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: flex-end;
  padding: 8px;
  width: 100%;
}
/* line 93, dialog_styles.scss */
.wc-Dialog.is-scrollable .wc-Dialog__content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 16px 16px -16px rgba(0, 0, 0, 0.26), inset 0 -16px 16px -16px rgba(0, 0, 0, 0.26);
  margin-bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 106, dialog_styles.scss */
.wc-Dialog.is-active {
  pointer-events: auto;
}
/* line 109, dialog_styles.scss */
.wc-Dialog.is-active .wc-Dialog__window {
  opacity: 1;
  transform: scale(1, 1);
}
@media screen and (min-width: 1025px) {
  /* line 118, dialog_styles.scss */
  .wc-Dialog__window {
    max-height: 560px;
    max-width: 55%;
  }
}
