/**
* Dropdown styles
*
* More details: https://zpl.io/Z28Spbo
*
* wc-Dropdown - main dropdown block
* wc-Dropdown__action - action element (angle down icon)
*     wc-Dropdown__action--disabled - disabled modifier for the action
* wc-Dropdown--disabled - modifier for the disabled dropdown
* wc-Dropdown__hint - hint text accompanying the option as a additional description
* wc-Dropdown--icon - modifier used when the dropdown contains an icon
*     wc-Dropdown--icon__inputContent - change the padding of the input content to make space for the icon
* wc-Dropdown__icon - icon element used when the setIconOnly prop of the component is set
* wc-Dropdown__input - dropdown input
* wc-Dropdown__inputContainer - input container element
*     wc-Dropdown__inputContainer.is-empty - empty state of the input container
* wc-Dropdown__inputContent - content of the input container set in the dropdown template
* wc-Dropdown__inputText - wrapper of the button's text
* wc-Dropdown__menu - wrapper of the dropdown menu
* wc-Dropdown__menuContent - content of the dropdown menu, it sets the height dimensions
* wc-Dropdown__placeholderOption - option of the placeholder
* wc-Dropdown__mobilePlaceholder - placeholder for the mobile dropdown
* wc-Dropdown__mobileOption - options of the mobile dropdown
* wc-Dropdown__avatar - for appropriately positioning an avatar for the dropdown's selected value
*/

@import "compass/css3/appearance";
@import "settings/_components";
@import "settings/_colors";
@import "settings/_elevations";
@import "tools/mixins/_utilities";
@import "tools/mixins/_typography";

$wc-dropdown-action-top: -2px;
$wc-dropdown-icon-bottom: 12px;
$wc-dropdown-icon-left: 8px;
$wc-dropdown-icon-padding-left: 40px;
$wc-dropdown-input-container-height: 26px;
$wc-dropdown-menu-option-hint-margin : 16px;
$wc-dropdown-menu-option-max-height: 40px;

//---------- #wc-Dropdown  ---------- /

.wc-Dropdown {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    position: relative;

    &--disabled {
        cursor: auto;
    }

    //---------- #wc-Dropdown--icon  ---------- /

    &--icon {

        &__inputContent {
            padding-left: $wc-dropdown-icon-padding-left;
        }
    }

    //---------- #wc-Dropdown--secondary  ---------- /

    &--secondary {
        @include component-shadow(2);
        background-color: $wc-dropdown-secondary-bg;
        border-radius: 4px;
    }

    //---------- #wc-Dropdown__action  ---------- /

    &__action {
        color: $wc-dropdown-placeholder-option-color;
        outline: none;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: $wc-dropdown-action-top;
        width: auto;

        &--disabled {
            color: $wc-dropdown-disabled-text-color;
        }
    }

    //---------- #wc-Dropdown__hint  ---------- /

    &__hint {
        @include generate-text-styles("caption3");
        color: $wc-dropdown-placeholder-option-color;
        margin-left: $wc-dropdown-menu-option-hint-margin;
    }

    //---------- #wc-Dropdown__icon  ---------- /

    &__icon {
        bottom: $wc-dropdown-icon-bottom;
        left: $wc-dropdown-icon-left;
        pointer-events: none;
        position: absolute;
    }

    //---------- #wc-Dropdown__input  ---------- /

    &__input {
        position: relative;
    }

    //---------- #wc-Dropdown__inputContainer  ---------- /

    &__inputContainer {
        .wc-InputContainer__content .wc-InputContainer__element {
            box-sizing: border-box;
            height: $wc-dropdown-input-container-height;
        }

        //---------- #wc-Dropdown__inputContainer--secondary  ---------- /

        &--secondary {
            box-sizing: border-box;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    //---------- #wc-Dropdown__inputContainer.is-empty  ---------- /

    &__inputContainer.is-empty {
        &__inputContent {
            height: 0;
            line-height: 0;
        }
    }

    //---------- #wc-Dropdown__inputContent  ---------- /

    &__inputContent {
        align-items: center;
        cursor: pointer;
        display: flex;
        text-align: left;
    }

    //---------- #wc-Dropdown__inputText  ---------- /

    &__inputText {

        //---------- #wc-Dropdown__inputText.has-ellipsis  ---------- /

        &.has-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    //---------- #wc-Dropdown__menu  ---------- /

    &__menu {
        @include generate-text-styles("body1");
        @include component-elevation($wc-elevations-dropdown-menu);
        background-color: $wc-primary-color;
        position: relative;
    }

    //---------- #wc-Dropdown__menuContent  ---------- /

    &__menuContent {
        max-height: $wc-dropdown-menu-max-height;
    }

    //---------- #wc-Dropdown__placeholderOption  ---------- /

    &__placeholderOption {
        .wc-ListItem__primaryText {
            color: $wc-dropdown-placeholder-option-color;
        }
    }

    //---------- #wc-Dropdown__mobilePlaceholder  ---------- /

    &__mobilePlaceholder {
        color: $wc-dropdown-mobile-placeholder-color;
    }

    //---------- #wc-Dropdown__mobileOption  ---------- /

    &__mobileOption {
        color: $wc-dropdown-mobile-option-color;
    }

    //---------- #wc-Dropdown__avatar  ---------- /

    &__avatar {
        margin: -2px 16px 0 0;
    }
}