/**
* Search list styles
*
* wc-SearchList: main wrapper
* wc-SearchList__inputWrapper: wraps the field, the search icon and the avatar
* wc-SearchList__inputField: field where the user types
* wc-SearchList_inputField--focused  + .wc-SearchList__action--icon
* wc-SearchList__inputAvatar: avatar of the selected option
* wc-SearchList__result : wraps one result of the list
* wc-SearchList__resultAvatar : avatar of a result item
* wc-SearchList__resultText : text of a result item
* wc-SearchList__resultAction : action of a result item
* wc-SearchList__results: wraps the results list
* wc-SearchList__no-results: showed when there are no results
* wc-SearchList__searching: showed when searching
* wc-SearchList__loading: showed when loading
*/

@import "settings/_colors";

$wc-search-list-result-opacity: 0.4;

//---------- #wc-SearchList ---------- /

.wc-SearchList {
    background-color: $wc-primary-color;

    //---------- #wc-SearchList__inputWrapper ---------- /

    &__inputWrapper {
        align-items: center;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
    }

    //---------- #wc-SearchList__inputField ---------- /

    &__inputField {
        flex: 1;

        //---------- #wc-SearchList_inputField--focused  + .wc-SearchList__action--icon ---------- /

        &--focused + .wc-SearchList__action--icon {
            display: none;
        }
    }

    //---------- #wc-SearchList__inputAvatar ---------- /

    &__inputAvatar {
        flex: 1;
        margin-right: 24px;
        max-width: 32px;
    }

    //---------- #wc-SearchList__result ---------- /

    &__result {

        &:hover {
            cursor: pointer;
        }

        //---------- #wc-SearchList__result.is-disabled ---------- /

        &.is-disabled {

            &:hover {
                cursor: default;
            }
        }
    }

    //---------- #wc-SearchList__resultAvatar ---------- /

    &__resultAvatar {
        &.is-disabled {
            opacity: $wc-search-list-result-opacity;
        }
    }

    //---------- #wc-SearchList__resultText ---------- /

    &__resultText {
        &.is-disabled {
            opacity: $wc-search-list-result-opacity;
        }
    }

    //---------- #wc-SearchList__resultAction ---------- /

    &__resultAction {
        &.is-disabled {
            opacity: $wc-search-list-result-opacity;
        }
    }

    //---------- #wc-SearchList__results ---------- /

    &__results {
        height: 210px;
        overflow-y: scroll;
    }

    //---------- #wc-SearchList__searching ---------- /

    &__searching {
        height: 210px;
        text-align: center;
        line-height: 210px;
    }

    //---------- #wc-SearchList__no-results ---------- /

    &__no-results {
        height: 210px;
        text-align: center;
        line-height: 210px;
    }

    //---------- #wc-SearchList__loading ---------- /

    &__loading {
        padding: 8px 16px;
    }
}