/**
* TablePaginator styles
*
* More details: https://zpl.io/Z1Cryqv
*
* .wc-TablePaginator - main table paginator block
* .wc-TablePaginator__pageControl - arrow buttons used to control de number of the page
* .wc-TablePaginator__rowsSelector - dropdown used to set the number of rows that are displayed on the table
* .wc-TablePaginator__rowsSelectorLabel - description of the rows per page dropdown
* .wc-TablePaginator__currentRowsLabel - description of the selected configuration
*/

@import "settings/_colors";

$wc-table-paginator-rows-per-page-label-padding-right: 24px;
$wc-table-paginator-rows-per-page-padding-right: 32px;
$wc-table-paginator-rows-per-page-width: 80px;
$wc-table-paginator-current-rows-label-padding-right: 36px;

//---------- #wc-TablePaginator  ---------- /

.wc-TablePaginator {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: auto;

    //---------- #wc-TablePaginator__pageControl  ---------- /

    &__pageControl {
        color: $wc-typoicon-secondary-dark;
    }

    //---------- #wc-TablePaginator__rowsSelector  ---------- /

    &__rowsSelector {
        display: inline-block;
        padding-right: $wc-table-paginator-rows-per-page-padding-right;
        width: $wc-table-paginator-rows-per-page-width;
    }

    //---------- #wc-TablePaginator__rowsSelectorLabel  ---------- /

    &__rowsSelectorLabel {
        padding-right: $wc-table-paginator-rows-per-page-label-padding-right;
    }

    //---------- #wc-TablePaginator__currentRowsLabel  ---------- /

    &__currentRowsLabel {
        padding-right: $wc-table-paginator-current-rows-label-padding-right;
    }
}