/*------------------------------------*\

         #BREAKPOINTS SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*------------------------------------*\
         #RESPONSIVE
\*------------------------------------*/
/**
* Used to work for responsive design of mobile first.
* @param  {Number} $width - The width of a large display, for example a desktop or tablet display.
*
*/
/**
* Used to work for responsive design of mobile first.
* Sets a max width to respong
* @param  {Number} $width - The width of a small display.
*
*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/**
* Tooltip styles
*
* More details: https://zpl.io/Z5Vvbt
*
* wc-Tooltip
*/
/* line 19, tooltip_styles.scss */
.wc-Tooltip {
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.24);
  z-index: 0;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: bold;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #37474F;
  border-radius: 2px;
  color: white;
  display: none;
  height: 32px;
  line-height: 32px;
  max-width: 800px;
  min-width: 40px;
  overflow: hidden;
  padding: 0 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 32;
}
/* line 38, tooltip_styles.scss */
.wc-Tooltip.is-floatingBlock--opened {
  display: block;
}
@media screen and (min-width: 1025px) {
  /* line 19, tooltip_styles.scss */
  .wc-Tooltip {
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 16px;
    font-weight: bold;
    font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
  }
}
