<div  style="position: relative">
    <wc-markdown>
# Saver

## Demo
    </wc-markdown>

    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">
                Component
            </div>
            <div class="DemoTable__columnRight">
                Saver will show up here -&gt;
                <wc-saver v-if="saveData"
                    v-bind:keep-visible="keepVisible"></wc-saver>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Action</div>
            <div class="DemoTable__columnRight">
                <wc-checkbox v-model="saveData">Check me to save the data!</wc-checkbox>
            </div>
            <div class="DemoTable__columnRight">
                <wc-checkbox v-model="keepVisible">Check me to keep me visible</wc-checkbox>
            </div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
