/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/

//- -------- #Primary Color  ---------- //

$wc-primary-color: #FFF;           // White
$wc-primary-color-light: #CFD8DC;  // Blue Gray 100
$wc-primary-color-dark: #37474F;   // Blue Gray 800

//- -------- #Accent Colors  -------- //

$wc-accent-color: #FFB300;         // Amber 600
$wc-accent-color-dark: #FF8F00;    // Amber 800

//- -------- #Secondary Colors  -------- //

$wc-secondary-color: #26C6DA;      // Cyan 400
$wc-secondary-color-dark: #00ACC1; // Cyan 600

//- -------- #Errors and warnings  -------- //

$wc-error-color: #E53935;          // Red 700

//- -------- #Background color  -------- //

$wc-background-color: #ECEFF1;     // Blue Gray 50

//- -------- #Typoicon colors  -------- //

$wc-typoicon-base-dark: #000;
$wc-typoicon-base-light: #FFF;





/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/

//- -------- #typoicon  ---------- //

$wc-typoicon-primary-dark-opacity: 0.87;
$wc-typoicon-secondary-dark-opacity: 0.54;
$wc-typoicon-disabled-dark-opacity: 0.26;

$wc-typoicon-primary-light-opacity: 1;
$wc-typoicon-secondary-light-opacity: 0.7;
$wc-typoicon-disabled-light-opacity: 0.4;

//- -------- #shadows  ---------- //

$wc-component-shadow-opacity: 0.12;
$wc-component-second-shadow-opacity: 0.24;





/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/

$wc-typoicon-primary-dark: rgba($wc-typoicon-base-dark, $wc-typoicon-primary-dark-opacity);
$wc-typoicon-secondary-dark: rgba($wc-typoicon-base-dark, $wc-typoicon-secondary-dark-opacity);
$wc-typoicon-disabled-dark: rgba($wc-typoicon-base-dark, $wc-typoicon-disabled-dark-opacity);

$wc-typoicon-primary-light: rgba($wc-typoicon-base-light, $wc-typoicon-primary-light-opacity);
$wc-typoicon-secondary-light: rgba($wc-typoicon-base-light, $wc-typoicon-secondary-light-opacity);
$wc-typoicon-disabled-light: rgba($wc-typoicon-base-light, $wc-typoicon-disabled-light-opacity);
