<div  style="position: relative">
    <wc-markdown>
# Stepper

The stepper's dots can be hovered, displaying a tooltip with the text that was given to that dot's definition object.

The dots can also be clicked to mark them as the currently active step. Only one step can be active at the time.

A step that has its `isEnabled` property in its object definition won't be shown in the stepper.

**Important: Steps can't have duplicated ids.** Otherwise, an error will be logged and will lead to **unexpected results.**

## Demo

    </wc-markdown>

    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">
                Component
            </div>
            <div class="DemoTable__columnRight">
                <wc-stepper
                    v-bind:steps="state.steps"
                    v-bind:active="state.activeStep"
                    v-on:change="_changeActiveStep">
                </wc-stepper>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Add more steps to the stepper</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__options">
                    <label class="DemoTable__label">Step key: <input type="text" id="step-id" v-model="newStep.id" style="margin-left: 13px;" /></label>
                    <label class="DemoTable__label">Tooltip text: <input type="text" id="step-tooltip" v-model="newStep.tooltip"/></label>
                    <label class="DemoTable__label"><input type="checkbox" id="step-is-enabled" v-model="newStep.isEnabled"/> Is enabled?</label>
                    <button v-on:click="_addNewStep">Add</button>
                    <span v-if="state.hasInvalidSteps" class="u-caption4" style="color: #D32F2F;">Warning: one or more steps are invalid!</span>
                </div>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Selected step</div>
            <div class="DemoTable__columnRight">{{state.activeStep}}</div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Steps</div>
            <div class="DemoTable__columnRight"><pre style="white-space: normal;">{{JSON.stringify(state.steps)}}</pre></div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
