/**
* Pull up dialog component
*
* wc-PullUpDialog__wrapper - this is the wrapper element for the overlay and dialog
* wc-PullUpDialog - dialog component
* wc-PullUpDialog__headerContainer - wrapper container for the header and cover elements
* wc-PullUpDialog__cover - cover image space
* wc-PullUpDialog__header - header container, contains the avatar, actions and slot content
* wc-PullUpDialog__avatar
* wc-PullUpDialog__actions - space for the actions
* wc-PullUpDialog__headerExpandedContent - slot content when the header is expanded
* wc-PullUpDialog__headerCollapsedContent - slot content when the header is collapsed
* wc-PullUpDialog__content - content of the dialog
*/

@import "settings/_elevations";
@import "tools/mixins/_utilities";

//---------- #wc-PullUpDialog  ---------- /

.wc-PullUpDialog {
    transition: transform 1s ease-out;

    //---------- #wc-PullUpDialog__wrapper  ---------- /

    &__wrapper {
        height: 100vh;
        position: relative;
        width: 100%;
    }

    //---------- #wc-PullUpDialog__headerContainer  ---------- /

    &__headerContainer {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $wc-elevations-pull-up-dialog;
    }

    //---------- #wc-PullUpDialog__cover  ---------- /

    &__cover {
        position: relative;
        transform: none;
        width: 100%;
        z-index: 0;
    }

    //---------- #wc-PullUpDialog__header  ---------- /

    &__header {
        @include component-elevation($wc-elevations-pull-up-dialog);
        align-items: center;
        background-color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: initial;
        overflow: visible;
        pointer-events: auto;
        position: relative;
        transform: none;
        width: 100%;

        .wc-PullUpBar.is-collapsed & {
            box-shadow: none;
            pointer-events: none;
        }
    }

    //---------- #wc-PullUpDialog__avatar  ---------- /

    &__avatar {
        left: calc(50vw - 48px);
        position: absolute;
        top: -48px;
        z-index: 3;

        .wc-PullUpBar.is-collapsed & {
            pointer-events: none;
        }
    }

    //---------- #wc-PullUpDialog__actions  ---------- /

    &__actions {
        left: 4px;
        position: absolute;
        top: 4px;
        z-index: 3;

        .wc-PullUpDialog.is-collapsed & {
            pointer-events: none;
        }
    }

    //---------- #wc-PullUpDialog__headerExpandedContent  ---------- /

    &__headerExpandedContent{
        margin-top: 48px;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 3;
    }

    //---------- #wc-PullUpDialog__headerCollapsedContent  ---------- /

    &__headerCollapsedContent{
        height: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;

        .wc-PullUpDialog.is-collapsed & {
            pointer-events: auto;
            z-index: 4;
        }
    }

    //---------- #wc-PullUpDialog__content  ---------- /

    &__content {
        box-sizing: border-box;
        overflow: hidden;
        z-index: 1;
    }
}