<div>
    
        <router-view></router-view>

    <!-- <div class="WebComponents__content"> -->
    <!-- </div> -->
        <wc-drawer ref="navDrawer" v-bind:active="state.showNav" v-on:change="drawerChanged" v-bind:disable-swipe="false" class="wc-Drawer--appBar">
            <div slot="content">
                <div>
                    <wc-list-item v-for="item in sections" v-bind:key="item.name">
                        <router-link v-if="item.path" v-bind:to="item.path" v-on:click.native="toggleDrawer">{{item.name}}</router-link>
                        <a v-else-if="item.url" v-bind:href="item.url" target="_blank">{{item.name}}</a>
                        <span v-else>{{item.name}}</span>
                    </wc-list-item>
                </div>
            </div>
        </wc-drawer>

</div>