/**
 * FlatButton, styles for a flat <button> component following material guidelines
 *
 * Check the flat-button_template.html file to see its structure
 *
 * wc-FlatButton - main block
 *     wc-FlatButton.is-large - modifier for large button
 *     wc-FlatButton.is-link - styles for resembling a link
 *     wc-FlatButton.is-active - allows to add programmatically the active states to the button
 */
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/* line 21, flat-button_styles.scss */
.wc-FlatButton {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  color: #26C6DA;
  cursor: pointer;
  height: 40px;
  min-width: 96px;
  overflow: hidden;
  padding: 8px 16px;
  transition: background-color 0.2s ease-in-out;
}
/* line 38, flat-button_styles.scss */
.wc-FlatButton:hover, .wc-FlatButton:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 43, flat-button_styles.scss */
.wc-FlatButton:active {
  background-color: rgba(0, 0, 0, 0.15);
}
/* line 47, flat-button_styles.scss */
.wc-FlatButton:disabled {
  cursor: default;
  color: rgba(0, 0, 0, 0.26);
}
/* line 51, flat-button_styles.scss */
.wc-FlatButton:disabled:hover {
  background-color: transparent;
}
/* line 58, flat-button_styles.scss */
.wc-FlatButton.is-large {
  max-width: 384px;
  width: 100%;
}
/* line 65, flat-button_styles.scss */
.wc-FlatButton.is-link {
  height: auto;
  min-width: initial;
  padding: 0;
}
/* line 70, flat-button_styles.scss */
.wc-FlatButton.is-link:active, .wc-FlatButton.is-link:focus, .wc-FlatButton.is-link:hover {
  background-color: transparent;
  color: #00ACC1;
}
/* line 77, flat-button_styles.scss */
.wc-FlatButton.is-link:disabled {
  color: rgba(0, 0, 0, 0.26);
}
/* line 84, flat-button_styles.scss */
.wc-FlatButton.is-active {
  background-color: rgba(0, 0, 0, 0.15);
}
