@import "settings/_elevations";
@import "settings/_components";
@import "settings/_breakpoints";
@import "tools/mixins/_utilities";
@import "tools/mixins/_responsive";

/**
* Menu styles.
*
* wc-Menu - menu
* wc-Menu__container - menu container
*     wc-Menu__container.is-active - menu container
*/

//---------- #wc-Menu__container  ---------- /

.wc-Menu__container {
    border: none;
    margin: 0;
    opacity: 0;
    overflow: visible;
    padding: 0;

    // This allows a menu option to be clicked, gain focus and still be able to
    // appear as a relatedTarget in a blur event (in blur event, the related target
    // corresponds to the element that GAINED focus). This solves a known issue regarding
    // dropdown menus and cards.
    // @see https://hulihealth.atlassian.net/browse/HULI-2029
    // HULI-2029 Fix
    pointer-events: none;
    z-index: -1;
    &.is-floatingBlock {
        visibility: visible;
    }
    // HULI-2029 Fix

    &.is-active {
        opacity: 1;
        pointer-events: auto;
        z-index: 9;
    }
}

//---------- #wc-Menu  ---------- /

.wc-Menu {
    @include component-elevation($wc-elevations-menu);
    background-color: $wc-menu-background-color;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    left: 0;
    list-style: none;
    margin: 0;
    max-width: $wc-menu-max-width;
    min-width: $wc-menu-min-width;
    overflow: auto;
    padding: 8px 0;
    position: absolute;
    top: 0;
    width: auto;

    &--fullWidth {
        max-width: 100%;
        width: 100%;
    }

    //---------- #wc-Menu--overflow  ---------- /

    &--overflow {
        max-width: 680px;
        min-width: 100%;
    }

    //- -------- #Desktop  ---------- //

    @include respond-min($wc-media-desktop-lower-boundary) {

        max-width: $wc-menu-max-width-desktop;

        &--fullWidth {
            max-width: 100%;
            width: 100%;
        }

        //---------- #wc-Menu--overflow  ---------- /

        &--overflow {
            max-width: 680px;
        }
    }
}
