<div class="wc-Calendar">
    <div class="wc-Calendar__header">
        <div v-on:click="_previousMonthHandler"
             v-wc-gesture:tap="_previousMonthHandler"
             v-wc-gesture:longtap="_previousMonthHandler"
             v-bind:class="['wc-Calendar__arrow', { 'is-disabled' : isPreviousMonthDisabled }]">
            <wc-icon icon-class="icon-angle-left"></wc-icon>
        </div>
        <span class="wc-Calendar__headline">{{currentMonthName}} {{currentYear}}</span>
        <div v-on:click="_nextMonthHandler"
             v-wc-gesture:tap="_nextMonthHandler"
             v-wc-gesture:longtap="_nextMonthHandler"
             v-bind:class="['wc-Calendar__arrow', { 'is-disabled' : isNextMonthDisabled }]">
            <wc-icon icon-class="icon-angle-right"></wc-icon>
        </div>
    </div>

    <div class="wc-Calendar__body">
        <div class="wc-Calendar__week">
            <span v-for="name in daysNamesAbbr" class="wc-Calendar__cell wc-Calendar__cell--week" v-text="name"></span>
        </div>
        <div class="wc-Calendar__days">
            <span 
                v-for="offset in currentMonthDaysOffset" 
                class="wc-Calendar__cell wc-Calendar__cell--empty">
            </span><!--
            --><span 
                v-for="day in currentMonthDays"
                class="wc-Calendar__cell"
                v-bind:class="{ 
                    'is-selected' : day.isSelected, 
                    'is-today' : day.isToday, 
                    'is-disabled' : day.isDisabled,
                    'has-event' : showBusyDaysHint && (daysData[day.date] && daysData[day.date].hasEvent)
                }"
                v-on:click="_selectedDateHandler(day)">
                {{day.date}}
            </span>
            <div 
                v-if="highlightSelectedWeek"
                class="wc-Calendar__weekHighlight"
                v-bind:class="selectedWeekNumber ? 'wc-Calendar__weekHighlight--' + selectedWeekNumber : ''">
            </div>
        </div>
    </div>
</div>
