/**
* Thumbnail styles
*
* More details: https://zpl.io/ZUOL8p
*
* wc-Thumbnail - main block
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/**
 * Generates modifiers using a list of factors to be multiplied by the grid size
 * e.g. sizes=[1,2,3]
 *      default-size=2
 *      grid-size=5
 *
 * will generate the classes:
 * .size-1x {size: 5px} // one time the grid size, smaller than default
 * .size-3x {size- 15px} // three times the grid size, bigger than default
 * size-2x won't be generated as it's the default
 *
 * @param  {List}    $sizes - available factors to generate grid-scaled icons
 * @param  {Integer} $default-size - one member of $sizes list that's the default, so the modifier isn't generated
 * @param  {Integer} $grid-size - the grid size the icons are based ons
 */
/* line 14, thumbnail_styles.scss */
.wc-Thumbnail {
  background-size: cover;
  content: '';
  display: inline-block;
  height: 24px;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
  width: 24px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-Thumbnail--size-4x {
  font-size: 16px;
  height: 32px;
  line-height: 35.2px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-Thumbnail--size-5x {
  font-size: 20px;
  height: 40px;
  line-height: 44px;
  min-height: 40px;
  min-width: 40px;
  width: 40px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-Thumbnail--size-6x {
  font-size: 24px;
  height: 48px;
  line-height: 52.8px;
  min-height: 48px;
  min-width: 48px;
  width: 48px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-Thumbnail--size-7x {
  font-size: 28px;
  height: 56px;
  line-height: 61.6px;
  min-height: 56px;
  min-width: 56px;
  width: 56px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-Thumbnail--size-8x {
  font-size: 32px;
  height: 64px;
  line-height: 70.4px;
  min-height: 64px;
  min-width: 64px;
  width: 64px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-Thumbnail--size-9x {
  font-size: 36px;
  height: 72px;
  line-height: 79.2px;
  min-height: 72px;
  min-width: 72px;
  width: 72px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-Thumbnail--size-10x {
  font-size: 40px;
  height: 80px;
  line-height: 88px;
  min-height: 80px;
  min-width: 80px;
  width: 80px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-Thumbnail--size-11x {
  font-size: 44px;
  height: 88px;
  line-height: 96.8px;
  min-height: 88px;
  min-width: 88px;
  width: 88px;
}
/* line 36, ../../../web-components-library/tools/mixins/_image.scss */
.wc-Thumbnail--size-12x {
  font-size: 48px;
  height: 96px;
  line-height: 105.6px;
  min-height: 96px;
  min-width: 96px;
  width: 96px;
}
