/**
* Thumbnail styles
*
* More details: https://zpl.io/ZUOL8p
*
* wc-Thumbnail - main block
*/

@import "settings/_components";
@import "tools/mixins/image";

//---------- #wc-Thumbnail  ---------- /

.wc-Thumbnail {
    background-size: cover;
    content: '';
    display: inline-block;
    height: $wc-thumbnail-size;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: $wc-thumbnail-size;

    @include generate-size-modifiers($wc-thumbnail-sizes, $wc-thumbnail-size);
}
