<div class="wc-SearchSelector"
	v-bind:class="classObject">
    <template v-if="isSelfContained">
    	<wc-search-list
			v-bind:not-found-label="notFoundLabel"
			v-bind:value="state.value"
			v-bind:placeholder="placeholder"
    		v-bind:data-source="dataSource"
    		v-on:search-list-value-changed="_onValueChanged">
    	</wc-search-list>
	</template>

	<template v-if="!isSelfContained && isMobile">
		showMobileVersion
	</template>

	<template v-if="!isSelfContained && !isMobile">
		<wc-autocomplete
			ref="autocomplete"
			class="wc-SearchSelector__autocomplete"
			hide-input-highlighter
			v-bind:show-secondary-style="true"
			v-bind:value="state.value"
			v-bind:placeholder="placeholder"
			v-bind:data-source="dataSource"
			v-bind:show-selected-option="true"
			v-bind:buffer-limit-for-request="0"
			v-bind:not-found-label="notFoundLabel"
			v-on:autocomplete-focus="_onFocus"
			v-on:autocomplete-input="_onValueChanged"
			v-on:autocomplete-menu-closed="_onMenuClosed">
		</wc-autocomplete>
	</template>
</div>