/**
* Search Selector styles
*
* More details: zpl.io/Z29g75o
*
* wc-SearchSelector: main wrapper
* wc-SearchSelector.is-focused: added when the search selector is opened
*/

@import "settings/_colors";

$wc-searchselector-border-radius: 4px;

.wc-SearchSelector {
    background-color: $wc-primary-color;
    border-radius: $wc-searchselector-border-radius;

    &.is-focused {
        border-radius: $wc-searchselector-border-radius $wc-searchselector-border-radius 0 0;
    }

    &.is-self-contained {
        border-radius: 0;
    }
}