/**
* Search Selector styles
*
* More details: zpl.io/Z29g75o
*
* wc-SearchSelector: main wrapper
* wc-SearchSelector.is-focused: added when the search selector is opened
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/* line 14, search-selector_styles.scss */
.wc-SearchSelector {
  background-color: #FFF;
  border-radius: 4px;
}
/* line 18, search-selector_styles.scss */
.wc-SearchSelector.is-focused {
  border-radius: 4px 4px 0 0;
}
/* line 22, search-selector_styles.scss */
.wc-SearchSelector.is-self-contained {
  border-radius: 0;
}
