<span class="wc-RadioButton" v-bind:class="alignClass">
    <input ref="input"
        type="radio"
        class="wc-RadioButton__input"
        v-model="state.value"
        v-bind:value="customValue"
        v-bind:id="pseudoId"
        v-bind:name="name"
        v-bind:disabled="disabled"
        v-on:change="_onChange">
    <label v-bind:for="pseudoId" class="wc-RadioButton__inputLabel">
        <span class="wc-RadioButton__radio">
            <wc-ripple ref="ripple" static></wc-ripple>
        </span>
        <span class="wc-RadioButton__label">
            <slot></slot>
        </span>
    </label>
</span>
