<div  style="position: relative">
    <wc-markdown>
# Expandable Panel

## Demo
    </wc-markdown>

    <!-- Use DemoTable if you need a neat responsive layout for your demo -->
    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Sandbox</div>
            <div class="DemoTable__columnRight">
                <wc-expandable-panel
                    class="SampleExpandablePanel"
                    v-bind:class="{ 'is-fixed' : state.fixedPanel }"
                    v-bind:title="'Uploading ' + state.rowsToDisplay + ' files'">
                    <wc-icon-button slot="action" v-wc-ripple:is-light icon-class="icon-close" light></wc-icon-button>
                    <div slot="beforeContent" class="SampleExpandablePanel__subheader">
                        <span class="SampleExpandablePanel__subtitle u-caption3 u-primary-text-dark">Quedan 5min...</span>
                        <wc-flat-button class="SampleExpandablePanel__button" v-wc-ripple:is-dark smart-focus>Cancelar</wc-flat-button>
                    </div>
                    <div>
                        <template v-for="n in state.rowsToDisplay">
                            <wc-list-item horizontal-padding="3">
                                <wc-thumbnail slot="avatar" size="4" imagePath="https://i.ytimg.com/vi/rL-SDZfzRZU/maxresdefault.jpg"></wc-thumbnail>
                                <span slot="primaryText">Documento {{ n }}</span>
                                <wc-circular-loader slot="action" class="SampleExpandablePanel__loader" indeterminate is-saver></wc-circular-loader>
                            </wc-list-item>
                            <div v-if="n !== state.rowsToDisplay" class="wc-Divider"></div>
                        </template>
                    </div>
                </wc-expandable-panel>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Options</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__options">
                    <div class="DemoTable__option">
                        <wc-textfield
                            type="number"
                            floating-label
                            label="List items"
                            min="0"
                            v-model.number="state.rowsToDisplay">
                        </wc-textfield>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="state.fixedPanel">Fix panel to screen</wc-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Sandbox 2</div>
            <div class="DemoTable__columnRight">
                <wc-expandable-panel title="This panel has a very loooooooooong title" class="SampleExpandablePanel">
                    <div slot="content" class="SampleExpandablePanel__listing">
                        <img src="http://goo.gl/BGM1sO" />
                    </div>
                </wc-expandable-panel>
            </div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
