/**
 * Expandable panel page styles
 *
 * .SampleExpandablePanel - main sample expandable panel
 *     .SampleExpandablePanel.is-fixed - fix panel to viewport bottom-right corner
 * .SampleExpandablePanel__button - align cancel button in sample
 * .SampleExpandablePanel__loader - compact loader size
 * .SampleExpandablePanel__subheader - wrapper of secondary header
 * .SampleExpandablePanel__subtitle - secondary title with in action message
 */

//- -------- .SampleExpandablePanel  ---------- /

.SampleExpandablePanel {

    //- -------- .SampleExpandablePanel.is-fixed  ---------- /

    &.is-fixed {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        bottom: 0;
        position: fixed;
        right: 10px;
    }

    //- -------- .SampleExpandablePanel__button  ---------- /

    &__button {
        float: right;
    }

    //- -------- .SampleExpandablePanel__loader  ---------- /

    &__loader {
        width: 24px;
    }

    //- -------- .SampleExpandablePanel__subheader  ---------- /

    &__subheader {
        background: #eceff1;
        box-sizing: border-box;
        height: 40px;
        overflow: hidden;
        padding: 0 4px 0 24px;
        width: 100%;
    }

    //- -------- .SampleExpandablePanel__subtitle  ---------- /

    &__subtitle {
        float: left;
        padding: 12px 0;
    }
}
