/**
 * Table page styles
 */

//- -------- .is-tablePage  ---------- /

html.is-tablePage {
    &,
    body,
    #app,
    .TablePage,
    .TablePage__spacer {
        height: 100vh;
        width: 100vw;
    }

    body {
        padding: 0;
    }

    table tr {
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }
}

//- -------- .SampleTable  ---------- /

.SampleTable.is-scrollable .SampleTable__body {
    height: 100px;
}

.wc-TableCell.SampleTable {

    //- -------- .SampleTable__date  ---------- /

    &__date {
        flex-grow: 1;
    }

    //- -------- .SampleTable__age  ---------- /

    &__age {
        flex-grow: 1;
    }

    //- -------- .SampleTable__height  ---------- /

    &__height {
        flex-grow: 0.5;
    }

    //- -------- .SampleTable__weight  ---------- /

    &__weight {
        flex-grow: 0.5;
    }

    //- -------- .SampleTable__action  ---------- /

    &__action {
        flex-grow: 0;
    }
}
