<div  style="position: relative">
    <wc-markdown>
# Dropdown
## Demo
    </wc-markdown>

    <button v-on:click="deleteFirstProvince">Delete first option</button>

    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Required Desktop Dropdown with Floating Label</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="provinceAltPlaceholder"
                    v-bind:floating-label="floatingLabel"
                    v-bind:label="provinceLabel"
                    v-bind:options="provinceOptions"
                    v-bind:placeholder="provinceLabel"
                    required
                    v-bind:value="selectedProvince"
                    v-model="selectedProvince">
                </wc-dropdown>
                Selected province value: {{selectedProvince}}
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Mobile Dropdown with Floating Label</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="provinceAltPlaceholder"
                    v-bind:floating-label="floatingLabel"
                    v-bind:label="provinceLabel"
                    v-bind:options="provinceOptions"
                    v-bind:placeholder="provinceLabel"
                    native>
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown which options have a hint text</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="footballTeamsAltPlaceholder"
                    v-bind:label="provinceLabel"
                    v-bind:options="footballTeamsPerProvince"
                    v-bind:placeholder="footballTeamsAltPlaceholder">
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Mobile Dropdown which options have a hint text</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="footballTeamsAltPlaceholder"
                    v-bind:label="provinceLabel"
                    v-bind:options="footballTeamsPerProvince"
                    v-bind:placeholder="footballTeamsAltPlaceholder"
                    native>
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown with Placeholder</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="provinceAltPlaceholder"
                    v-bind:options="provinceOptions"
                    v-bind:placeholder="provinceLabel">
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Mobile Dropdown with Placeholder</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="provinceAltPlaceholder"
                    v-bind:options="provinceOptions"
                    v-bind:placeholder="provinceLabel"
                    native>
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown without Placeholder and Floating Label</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="provinceAltPlaceholder"
                    v-bind:options="provinceOptions"
                    v-bind:value="selectedProvince">
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Mobile Dropdown without Placeholder and Floating Label</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="provinceAltPlaceholder"
                    v-bind:options="provinceOptions"
                    native>
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown with Error</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="provinceAltPlaceholder"
                    v-bind:has-error="hasError"
                    v-bind:error-message="provinceDropdownErrorMsg"
                    v-bind:options="provinceOptions"
                    v-bind:placeholder="provinceLabel">
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown disabled</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:disabled="disabled"
                    v-bind:options="provinceOptions"
                    v-bind:placeholder="provinceLabel">
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown selecting icon only</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    style="width: 64px"
                    v-bind:options="phoneTypeOptions"
                    v-bind:set-icon-only="setIconOnly"
                    v-bind:value="selectedPhoneType"
                    v-model="selectedPhoneType"
                    label="asdf">
                </wc-dropdown>
                Selected phone type value: {{selectedPhoneType}}
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown with double layout options</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:options="appointments"
                    placeholder="Citas"
                    v-model="selectedAppointment"
                    label="Appointments">
                </wc-dropdown>
                Selected appointment: {{selectedAppointment}}
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown with custom colors</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="provinceAltPlaceholder"
                    v-bind:floating-label="floatingLabel"
                    v-bind:label="provinceLabel"
                    v-bind:options="coloredProvinceOptions"
                    v-bind:placeholder="provinceLabel"
                    v-bind:value="selectedProvince"
                    v-model="selectedProvince"
                    hint-text="Taste the rainbow!">
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Mobile Dropdown with custom colors</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    native
                    v-bind:alt-placeholder="provinceAltPlaceholder"
                    v-bind:floating-label="floatingLabel"
                    v-bind:label="provinceLabel"
                    v-bind:options="coloredProvinceOptions"
                    v-bind:placeholder="provinceLabel"
                    v-bind:value="selectedProvince"
                    v-model="selectedProvince"
                    hint-text="OMG so much colors!">
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown with Avatars</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    v-bind:alt-placeholder="avatarAltPlaceholder"
                    v-bind:floating-label="floatingLabel"
                    v-bind:label="avatarLabel"
                    v-bind:options="avatars"
                    v-bind:placeholder="avatarLabel"
                    v-bind:value="selectedAvatar"
                    v-model="selectedAvatar">
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown with ellipsis</div>
            <div class="DemoTable__columnRight">
                <wc-dropdown
                    style="max-width: 400px;"
                    alt-placeholder="Very long text"
                    label="Long text - short dropdown"
                    ellipsis
                    v-bind:options="longTextOptions"
                    placeholder="Choose one">
                </wc-dropdown>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft DemoTable__columnLeft--large">Desktop Dropdown with secondary style</div>
            <div class="DemoTable__columnRight">
                <div style="background-color: rgb(189, 189, 189); max-width: 400px; padding: 16px;">
                    <wc-dropdown
                        alt-placeholder="Very long text"
                        ellipsis
                        show-secondary-style
                        v-bind:value="1"
                        v-bind:options="longTextOptions">
                    </wc-dropdown>
                </div>
            </div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
