/*
 *  wc-IconButton - main block. a <button> represented with an icon, with two available color modifiers:
 *      wc-IconButton--action - applies action typoicon color scheme
 *      wc-IconButton--light - applies light typoicon color scheme
 *      wc-IconButton--secondaryDark - dark theme, secondary typography black color scheme
 *      wc-IconButton.is-selectedDark - applies the focus styles for the dark theme
 *      wc-IconButton.is-selectedLight - applies the focus styles for the light theme
 *      wc-IconButton.is-selectedPrimaryDark - applies the focus styles using the primary dark color
 *      wc-IconButton.is-selectedWhite - applies the focus styles using white (primary color)
 *  wc-IconButton__icon - the actual icon, wrapped
 */

@import "compass/css3/user-interface";
@import "settings/_colors";
@import "settings/_components";
@import "settings/_breakpoints";
@import "settings/_elevations";
@import "tools/mixins/_responsive";
@import "tools/mixins/_utilities";

//---------- #wc-IconButton  ---------- //

.wc-IconButton {
    @include user-select(none);
    background: none;
    border: 0;
    border-radius: $wc-icon-button-border-radius;
    box-sizing: border-box;
    color: $wc-typoicon-primary-dark;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    padding: $wc-icon-button-padding;
    transition: background-color $wc-button-color-transition-duration ease-in-out;
    text-align: center;
    vertical-align: middle;

//---------- #wc-IconButton__icon  ---------- //

    &__icon {
        display: inline-block;
        vertical-align: top;
    }

//---------- #wc-IconButton[has-hover]  ---------- //

    &[has-hover] {
        &:hover {
            outline: 0;
            background-color: $wc-typoicon-primary-dark-highlight;
        }
    }

//---------- #wc-IconButton.is-selectedPrimaryDark  ---------- //

    &.is-selectedPrimaryDark {
        background-color: $wc-primary-color-dark;
        outline: 0;

        &:focus {
            background-color: $wc-primary-color-dark;
        }

        &[has-hover] {
            &:hover {
                background-color: $wc-primary-color-dark;
            }
        }
    }

//---------- #wc-IconButton.is-selectedDark  ---------- //

    &.is-selectedDark {
        background-color: $wc-typoicon-primary-dark-highlight;
        outline: 0;
    }

//---------- #wc-IconButton.is-selectedLight  ---------- //

    &.is-selectedLight {
        background-color: $wc-typoicon-primary-light-highlight;
        outline: 0;
    }

    &:focus {
        outline: 0;
        background-color: $wc-typoicon-primary-dark-highlight;
    }

    &:disabled {
        color: $wc-typoicon-disabled-dark;
        cursor: default;
        pointer-events: none;

        .wc-IconButton__avatar {
            opacity: .5;
        }
    }

//---------- #wc-IconButton.is-selectedWhite  ---------- //

    &.is-selectedWhite {
        background-color: $wc-primary-color;
        outline: 0;

        &:focus {
            background-color: $wc-primary-color;
        }

        &[has-hover] {
            &:hover {
                background-color: $wc-primary-color;
            }
        }
    }

//---------- #wc-IconButton--action  ---------- //

    &--action {
        color: $wc-typoicon-actions;

        &:disabled {
            color: $wc-typoicon-disabled-actions;
        }

        &:focus {
            background-color: $wc-typoicon-actions-highlight;
        }

//---------- #wc-IconButton--action[has-hover]  ---------- //

        &[has-hover] {
            &:hover {
                background-color: $wc-typoicon-actions-highlight;
            }
        }
    }

//---------- #wc-IconButton--light  ---------- //

    &--light {
        color: $wc-typoicon-primary-light;

        &:disabled {
            color: $wc-typoicon-disabled-light;
        }

        &:focus {
            background-color: $wc-typoicon-primary-light-highlight;
        }

//---------- #wc-IconButton--light[has-hover]  ---------- //

        &[has-hover] {
            &:hover {
                background-color: $wc-typoicon-primary-light-highlight;
            }
        }
    }

//---------- #wc-IconButton--raised  ---------- //

    &--raised {
        @include component-elevation($wc-elevations-raised-button-resting);
    }

//---------- #wc-IconButton--secondaryDark  ---------- //

    &--secondaryDark {
        color: $wc-typoicon-secondary-dark;

        &:disabled {
            color: $wc-typoicon-disabled-dark;
        }

        &:focus {
            background-color: $wc-typoicon-primary-dark-highlight;
        }

//---------- #wc-IconButton--secondaryDark[has-hover]  ---------- //

        &[has-hover] {
            &:hover {
                background-color: $wc-typoicon-primary-dark-highlight;
            }
        }
    }

//---------- #Desktop  ---------- //

    @include respond-min($wc-media-desktop-lower-boundary) {
        padding: $wc-icon-button-desktop-padding;
    }
}