/*
 *  wc-IconButton - main block. a <button> represented with an icon, with two available color modifiers:
 *      wc-IconButton--action - applies action typoicon color scheme
 *      wc-IconButton--light - applies light typoicon color scheme
 *      wc-IconButton--secondaryDark - dark theme, secondary typography black color scheme
 *      wc-IconButton.is-selectedDark - applies the focus styles for the dark theme
 *      wc-IconButton.is-selectedLight - applies the focus styles for the light theme
 *      wc-IconButton.is-selectedPrimaryDark - applies the focus styles using the primary dark color
 *      wc-IconButton.is-selectedWhite - applies the focus styles using white (primary color)
 *  wc-IconButton__icon - the actual icon, wrapped
 */
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

         #BREAKPOINTS SETTINGS

\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*------------------------------------*\
         #RESPONSIVE
\*------------------------------------*/
/**
* Used to work for responsive design of mobile first.
* @param  {Number} $width - The width of a large display, for example a desktop or tablet display.
*
*/
/**
* Used to work for responsive design of mobile first.
* Sets a max width to respong
* @param  {Number} $width - The width of a small display.
*
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/* line 23, icon-button_styles.scss */
.wc-IconButton {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: none;
  border: 0;
  border-radius: 50%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: hidden;
  padding: 12px;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
}
/* line 41, icon-button_styles.scss */
.wc-IconButton__icon {
  display: inline-block;
  vertical-align: top;
}
/* line 49, icon-button_styles.scss */
.wc-IconButton[has-hover]:hover {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 57, icon-button_styles.scss */
.wc-IconButton.is-selectedPrimaryDark {
  background-color: #37474F;
  outline: 0;
}
/* line 61, icon-button_styles.scss */
.wc-IconButton.is-selectedPrimaryDark:focus {
  background-color: #37474F;
}
/* line 66, icon-button_styles.scss */
.wc-IconButton.is-selectedPrimaryDark[has-hover]:hover {
  background-color: #37474F;
}
/* line 74, icon-button_styles.scss */
.wc-IconButton.is-selectedDark {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 0;
}
/* line 81, icon-button_styles.scss */
.wc-IconButton.is-selectedLight {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}
/* line 86, icon-button_styles.scss */
.wc-IconButton:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 91, icon-button_styles.scss */
.wc-IconButton:disabled {
  color: rgba(0, 0, 0, 0.26);
  cursor: default;
  pointer-events: none;
}
/* line 96, icon-button_styles.scss */
.wc-IconButton:disabled .wc-IconButton__avatar {
  opacity: .5;
}
/* line 103, icon-button_styles.scss */
.wc-IconButton.is-selectedWhite {
  background-color: #FFF;
  outline: 0;
}
/* line 107, icon-button_styles.scss */
.wc-IconButton.is-selectedWhite:focus {
  background-color: #FFF;
}
/* line 112, icon-button_styles.scss */
.wc-IconButton.is-selectedWhite[has-hover]:hover {
  background-color: #FFF;
}
/* line 120, icon-button_styles.scss */
.wc-IconButton--action {
  color: #26c6da;
}
/* line 123, icon-button_styles.scss */
.wc-IconButton--action:disabled {
  color: rgba(0, 0, 0, 0.26);
}
/* line 127, icon-button_styles.scss */
.wc-IconButton--action:focus {
  background-color: rgba(38, 198, 218, 0.26);
}
/* line 134, icon-button_styles.scss */
.wc-IconButton--action[has-hover]:hover {
  background-color: rgba(38, 198, 218, 0.26);
}
/* line 142, icon-button_styles.scss */
.wc-IconButton--light {
  color: white;
}
/* line 145, icon-button_styles.scss */
.wc-IconButton--light:disabled {
  color: rgba(255, 255, 255, 0.4);
}
/* line 149, icon-button_styles.scss */
.wc-IconButton--light:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 156, icon-button_styles.scss */
.wc-IconButton--light[has-hover]:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 164, icon-button_styles.scss */
.wc-IconButton--raised {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  z-index: 2;
}
/* line 170, icon-button_styles.scss */
.wc-IconButton--secondaryDark {
  color: rgba(0, 0, 0, 0.54);
}
/* line 173, icon-button_styles.scss */
.wc-IconButton--secondaryDark:disabled {
  color: rgba(0, 0, 0, 0.26);
}
/* line 177, icon-button_styles.scss */
.wc-IconButton--secondaryDark:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 184, icon-button_styles.scss */
.wc-IconButton--secondaryDark[has-hover]:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1025px) {
  /* line 23, icon-button_styles.scss */
  .wc-IconButton {
    padding: 8px;
  }
}
