/**
* CircularLoader styles
*
* More details: https://zpl.io/Z1qEEix
*
* wc-CircularLoader - main circular loader block
* wc-CircularLoader__circleWrapper - wrapper for the circle svg
* wc-CircularLoader--determinate - determinate modifier for the circular loader
* wc-CircularLoader--indeterminate - indeterminate modifier for the circular loader
* wc-CircularLoader--spin - modifier that adds the spin animation
* wc-CircularLoader--saver - modifier that sets the loader color equals to the saver color
*
* wc-CircularLoader
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/* line 34, circular-loader_styles.scss */
.wc-CircularLoader {
  display: block;
  margin: 0 auto;
  padding: 0;
}
/* line 41, circular-loader_styles.scss */
.wc-CircularLoader__circleWrapper {
  height: auto;
  width: 100%;
}
/* line 48, circular-loader_styles.scss */
.wc-CircularLoader--determinate {
  -moz-transition: stroke-dasharray 0.5s ease-out;
  -o-transition: stroke-dasharray 0.5s ease-out;
  -webkit-transition: stroke-dasharray 0.5s ease-out;
  transition: stroke-dasharray 0.5s ease-out;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  cx: 12px;
  cy: 12px;
  fill: none;
  r: 10px;
  stroke-width: 2px;
  stroke: #26C6DA;
}
/* line 62, circular-loader_styles.scss */
.wc-CircularLoader--indeterminate {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  animation: circleMaker 1.5s linear infinite forwards;
  cx: 12px;
  cy: 12px;
  fill: none;
  r: 10px;
  stroke-dasharray: 1px, 63px;
  stroke-dashoffset: 0;
  stroke-width: 2px;
  stroke: #26C6DA;
}
/* line 78, circular-loader_styles.scss */
.wc-CircularLoader--light {
  stroke-width: 1px;
}
/* line 84, circular-loader_styles.scss */
.wc-CircularLoader--spin {
  animation: spin 2s linear infinite forwards;
}
/* line 90, circular-loader_styles.scss */
.wc-CircularLoader--saver {
  stroke: #8BC34A;
}

@-moz-keyframes circleMaker {
  0% {
    stroke-dasharray: 1px, 63px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 47.25px, 63px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 47.25px, 63px;
    stroke-dashoffset: -63px;
  }
}
@-webkit-keyframes circleMaker {
  0% {
    stroke-dasharray: 1px, 63px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 47.25px, 63px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 47.25px, 63px;
    stroke-dashoffset: -63px;
  }
}
@keyframes circleMaker {
  0% {
    stroke-dasharray: 1px, 63px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 47.25px, 63px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 47.25px, 63px;
    stroke-dashoffset: -63px;
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
