<div  style="position: relative">
    <wc-markdown>
# Text Area

Textareas are multi-line text fields, they grow according to the content provided.

## Demo
    </wc-markdown>

    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Component</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__main">
                    <wc-textarea  ref="sandboxInput"
                        v-bind:label="label ? 'This field grows with the content' : null"
                        v-bind:floatingLabel="floatingLabel"
                        v-bind:placeholder="placeholder ? 'placeholder' : null"
                        v-bind:hasError="hasError"
                        v-bind:hintText="hintText ? 'Hint Text' : null"
                        v-bind:mobile="mobile"
                        v-bind:charCounter="charCounter"
                        v-bind:disabled="disabled"
                        v-bind:required="required"
                        v-bind:maxLength="maxLength"
                        v-bind:minLength="minLength"
                        v-bind:readonly="readonly"
                        v-bind:focusHint="focusHint"
                        v-bind:trim="trim"
                        error-message="Error Message"
                        v-model="value">
                    </wc-textarea>
                </div>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Options</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__options">
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="label">Label</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="placeholder">Placeholder</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="floatingLabel">Floating label</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="mobile">Mobile</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="hasError">Error</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="hintText">Hint text</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="charCounter">Char counter</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="disabled">Disabled</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="required">Required</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="readonly">Readonly</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="trim">Trim</wc-checkbox>
                    </div>
                    <div class="DemoTable__option"><wc-textfield label="Max Length" v-model="maxLength"></wc-textfield></div>
                    <div class="DemoTable__option"><wc-textfield label="Min length" v-model="minLength"></wc-textfield></div>
                </div>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Component's value</div>
            <div class="DemoTable__columnRight">
                <pre class="u-body1">{{value}}</pre>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Description</div>
            <div class="DemoTable__columnRight">{{ description }}</div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
