/**
* AppBar, styles for the dialog component based on material desgin
*
* Check the app-bar_template.html to see its structure
*
* wc-AppBar - root class, this is the component container
*     wc-AppBar--compact - reduces a little bit the height
*     wc-AppBar--noShadow - removes shadow
*     wc-AppBar.is-active - indicate that the element is active(visible)
* wc-AppBar__navigation - space for the required action
* wc-AppBar__title - title in the app bar
*     wc-AppBar__title--subheader - adds subheader styles to app bar title
*     wc-AppBar__title.is-overflowing - activates the gradient over the title when it is overflowing.
* wc-AppBar__actions - actions (buttons) in the right side of the app bar
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/* line 25, app-bar_styles.scss */
.wc-AppBar {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  z-index: 4;
  align-content: center;
  align-items: center;
  background-color: #FFF;
  box-sizing: border-box;
  display: none;
  flex-flow: row nowrap;
  height: 56px;
  justify-content: flex-start;
  padding: 0 2px 0 2px;
  position: relative;
  width: 100%;
}
/* line 41, app-bar_styles.scss */
.wc-AppBar__navigation {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  width: 48px;
}
/* line 52, app-bar_styles.scss */
.wc-AppBar__title {
  color: rgba(0, 0, 0, 0.87);
  flex-grow: 2;
  margin: 0 0 0 22px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
/* line 62, app-bar_styles.scss */
.wc-AppBar__title--subheader {
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: normal;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 70, app-bar_styles.scss */
.wc-AppBar__title.is-overflowing:before {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #FFF);
  color: transparent;
  content: '----';
  display: block;
  overflow: hidden;
  position: absolute;
  right: -1px;
  top: 0;
  width: 33px;
}
/* line 87, app-bar_styles.scss */
.wc-AppBar__actions {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
/* line 96, app-bar_styles.scss */
.wc-AppBar--compact {
  height: 40px;
}
/* line 102, app-bar_styles.scss */
.wc-AppBar--noShadow {
  box-shadow: none;
}
/* line 108, app-bar_styles.scss */
.wc-AppBar.is-active {
  display: flex;
}
