<div v-bind:class="['wc-Snackbar', {
			'is-custom-enabled' : state.currentItem.action,
			'is-close-enabled' : state.currentItem.close,
			'is-active' : state.isActive,
			'is-action-down' : state.currentItem.showAtBottom,
			'has-listItem' : state.currentItem.listItem
		 }]"
	 v-on:mouseover="_onMouseOver"
	 v-on:mouseout="_onMouseOut"
	 v-on:touchstart="_onMouseOver"
	 v-on:touchend="_onMouseOut"
	 v-wc-gesture:swipe="_onSwipe">

	<wc-list-item v-if="state.currentItem.listItem" layout="double" class="wc-Snackbar__listItem">
		<wc-avatar v-if="state.currentItem.avatarPath || state.currentItem.text" slot="avatar"
				   class="wc-Avatar--size-5x wc-Avatar--darkBackground"
				   v-bind:imagePath="state.currentItem.avatarPath"
				   v-bind:text="state.currentItem.text"></wc-avatar>
		<span v-if="state.currentItem.text" slot="primaryText" class="wc-Snackbar__listItemText">{{state.currentItem.text}}</span>
		<span v-if="state.currentItem.secondaryText" slot="secondaryText" class="wc-Snackbar__listItemText">{{state.currentItem.secondaryText}}</span>
	</wc-list-item>

	<span v-if="state.currentItem.text && !state.currentItem.listItem" class="wc-Snackbar__label" v-text="state.currentItem.text"></span>

	<wc-flat-button
		v-if="state.currentItem.action"
		class="wc-Snackbar__custom"
		v-on:click.native="_onActionClicked"
        v-wc-gesture:tap="_onActionClicked"
        v-wc-gesture:longtap="_onActionClicked"
		v-text="state.currentItem.action.text">
	</wc-flat-button>

	<wc-icon-button class="wc-Snackbar__close" v-if="state.currentItem.close" icon-class="icon-close" v-on:click.native="_onCloseClicked"></wc-icon-button>
</div>