<div  style="position: relative">
    <wc-markdown>
# DEMO
    </wc-markdown>

    <h2>Single line</h2>
    <div>
        <wc-list-item multiline>This item has multiline prop text text text text text text text text text text text text text text text</wc-list-item>
        <wc-list-item>This item doesn't have multiline prop text text text text text text text text text text text text text text text</wc-list-item>
    </div>

    <h2>Single line + icon</h2>
    <div>
        <wc-list-item>
            <wc-icon slot="icon" icon-class="icon-gender-boy"></wc-icon>
            <span slot="primaryText">text text text text text text text text text text text text text text text</span>
        </wc-list-item>
        <wc-list-item>
            <wc-icon slot="icon" icon-class="icon-gender-girl"></wc-icon>
            <span slot="primaryText">text1 text2 text3 text4 text5 text6 text7 text text text text text text text</span>
        </wc-list-item>
        <wc-list-item disabled>
            <wc-icon slot="icon" icon-class="icon-gender-girl"></wc-icon>
            <span slot="primaryText">Disabled Item, text2 text3 text4 text5 text6 text7 text text text text</span>
        </wc-list-item>
    </div>

    <h2>Single line + avatar</h2>
    <div>
        <wc-list-item>
            <wc-avatar slot="avatar" class="wc-Avatar--size-4x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text text text text text text text text text text text text text text text text</span>
        </wc-list-item>
        <wc-list-item class="wc-ListItem">
            <wc-avatar slot="avatar" class="wc-Avatar--size-4x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text2 text3 text4 text5 text6 text7 text text text text text text text</span>
        </wc-list-item>
    </div>


    <h2>Single line + avatar + action</h2>
    <div>
        <wc-list-item>
            <wc-avatar slot="avatar" class="wc-Avatar--size-4x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text text text text text text text text text text text text text text text text</span>
            <wc-icon slot="action" icon-class="icon-options"></wc-icon>
        </wc-list-item>
        <wc-list-item class="wc-ListItem">
            <wc-avatar slot="avatar" class="wc-Avatar--size-4x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text2 text3 text4 text5 text6 text7 text text text text text text text text</span>
            <wc-icon slot="action" icon-class="icon-options"></wc-icon>
        </wc-list-item>
        <wc-list-item class="wc-ListItem" multiline>
            <wc-avatar slot="avatar" class="wc-Avatar--size-4x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">Multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled </span>
            <wc-icon slot="action" icon-class="icon-options"></wc-icon>
        </wc-list-item>
    </div>

    <h2>Single line + checkbox + action</h2>
    <div>
        <wc-list-item layout="single" multiline horizontal-padding="0">
            <wc-checkbox slot="checkbox"></wc-checkbox>
            <span slot="primaryText">Multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled multiline enabled</span>
            <wc-icon slot="action" icon-class="icon-angle-down"></wc-icon>
        </wc-list-item>
    </div>

    <h2>Single line + Menu action</h2>
    <div>
        <wc-list-item horizontal-padding="0">
            <span slot="primaryText">text text text text text text text text text text text text text text text text</span>
            <wc-icon-button slot="action" id="menuTrigger" icon-class="icon-options" v-wc-ripple:is-dark></wc-icon-button>
            <wc-menu floating-direction="left"
                     trigger-element-selector="#menuTrigger"
                     trigger-origin="bottom-left">
                <wc-list-item role="menuitem">
                    <wc-icon icon-class="icon-edit" slot="icon"></wc-icon>
                    <span slot="primaryText">Option A</span>
                </wc-list-item>
                <wc-list-item role="menuitem">
                    <wc-icon icon-class="icon-edit" slot="icon"></wc-icon>
                    <span slot="primaryText">Option B</span>
                </wc-list-item>
            </wc-menu>
        </wc-list-item>
    </div>

    <h2>Two lines</h2>
    <div>
        <wc-list-item layout="double">
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text text text text text text text text text text text text text text text text text text text text text text text</span>
        </wc-list-item>
        <wc-list-item layout="double">
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text text text text text text text text text text text text text text text text text text text text text text text</span>
        </wc-list-item>
    </div>

    <h2>Two lines + avatar</h2>
    <div>
        <wc-list-item layout="double">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text text text text text text text text text text text text text text text text text text text text text text text</span>
        </wc-list-item>
        <wc-list-item layout="double">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text text text text text text text text text text text text text text text text text text text text text text text</span>
        </wc-list-item>
    </div>

    <h2>Two lines + avatar + action</h2>
    <div>
        <wc-list-item layout="double">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text text text text text text text text text text text text text text text text text text text text text text text text</span>
            <wc-icon slot="action" icon-class="icon-options"></wc-icon>
        </wc-list-item>
        <wc-list-item layout="double">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text text text text text text text text text text text text text text text text text text text text text text text</span>
            <wc-icon slot="action" icon-class="icon-options"></wc-icon>
        </wc-list-item>
    </div>

    <h2>Three lines</h2>
    <div>
        <wc-list-item layout="triple">
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2</span>
        </wc-list-item>
        <wc-list-item layout="triple">
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2</span>
        </wc-list-item>
    </div>

    <h2>Three lines + avatar</h2>
    <div>
        <wc-list-item layout="triple">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2</span>
        </wc-list-item>
        <wc-list-item layout="triple">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2</span>
        </wc-list-item>
    </div>

    <h2>Three lines + avatar + action</h2>
    <div>
        <wc-list-item layout="triple">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2</span>
            <wc-icon slot="action" icon-class="icon-options"></wc-icon>
        </wc-list-item>
        <wc-list-item layout="triple">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2</span>
            <wc-icon slot="action" icon-class="icon-options"></wc-icon>
        </wc-list-item>
        <wc-list-item disabled layout="triple">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1 text1</span>
            <span slot="secondaryText">text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2</span>
            <wc-icon slot="action" icon-class="icon-options"></wc-icon>
        </wc-list-item>
    </div>

    <h2>Expandable list</h2>
    <button v-on:click="toggle">TOGGLE the next list item</button>
    <div>
        <wc-list-item v-bind:expanded="expandListItem" v-on:list-item-expanded-changed="track">
            <wc-avatar slot="avatar" class="wc-Avatar--size-4x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">expandable element 1 expandable element 1 expandable element 1 expandable element 1</span>
            <div slot="description">
                <p class="u-body1">Julio Health</p>
                <a href="#">click me!</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </wc-list-item>
        <wc-list-item layout="double">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">expandable element 2 expandable element 2 expandable element 2 expandable element 2</span>
            <span slot="secondaryText">text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2 text2</span>
            <div slot="description">
                <p class="u-body1">Julio Health</p>
                <a href="#">click me!</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </wc-list-item>
        <wc-list-item layout="triple">
            <wc-avatar slot="avatar" class="wc-Avatar--size-5x" v-bind:imagePath="avatarSource.svgPath"></wc-avatar>
            <span slot="primaryText">expandable element 3 expandable element 3 expandable element 3 expandable element 3</span>
            <span slot="secondaryText">text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3 text3</span>
            <div slot="description">
                <p class="u-body1">Julio Health</p>
                <a href="#">click me!</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </wc-list-item>
        <wc-list-item>
            <span slot="primaryText">List item without expand prop</span>
        </wc-list-item>
        <wc-list-item>
            <span slot="primaryText">expandable element 4 expandable element 4 expandable element 4 expandable element 4 expandable element 4</span>
            <div slot="description">
                <p class="u-body1">Julia Health</p>
                <a href="#">click me!</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </wc-list-item>
    </div>

    <h2>Nested Expandable list (menu like)</h2>

    <wc-list-item v-for="i in 3" v-bind:key="i" horizontal-padding="0" v-bind:expanded="i === 2" v-bind:wrapper-class="['wrapperCustomClass']">
        <span slot="primaryText">Doctor {{ i }}</span>
        <div slot="description">
            <wc-list-item v-for="j in 3" v-bind:key="j" role="menuitem">
                <span slot="primaryText">Clinic {{ j }}</span>
            </wc-list-item>
        </div>
    </wc-list-item>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
