/**
* Checkbox styles
*
* wc-Checkbox - main checkbox block
*     wc-Checkbox--nowrap - adds nowrap white space to the label. Used when there are checkboxes in a menu
* wc-Checkbox__input - the checkbox <input> tag
* wc-Checkbox__inputLabel - the checkbox <label> tag that contains everything that's visible
* wc-Checkbox__checkbox - the visible fake checkbox
* wc-Checkbox__check - the check mark inside the fake checkbox
* wc-Checkbox__label - the actual displayed text label
* wc-Checkbox.is-inCheckList - state to act as a checklist item (analogue to list item)
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/* line 23, checkbox_styles.scss */
.wc-Checkbox {
  display: inline-block;
}
/* line 32, checkbox_styles.scss */
.wc-Checkbox--nowrap .wc-Checkbox__inputLabel {
  white-space: nowrap;
}
/* line 39, checkbox_styles.scss */
.wc-Checkbox__input {
  float: left;
  height: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
/* line 50, checkbox_styles.scss */
.wc-Checkbox__inputLabel {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}
/* line 58, checkbox_styles.scss */
.wc-Checkbox__checkbox {
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 4px;
  box-sizing: border-box;
  float: left;
  height: 24px;
  position: relative;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  width: 24px;
}
/* line 72, checkbox_styles.scss */
.wc-Checkbox__check {
  background-color: #26C6DA;
  border-radius: 50%;
  color: #FFF;
  left: -2px;
  top: -2px;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
/* line 84, checkbox_styles.scss */
.wc-Checkbox__label {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  margin-left: 48px;
  position: relative;
  top: 4px;
}
/* line 95, checkbox_styles.scss */
.wc-Checkbox__input:checked + .wc-Checkbox__inputLabel .wc-Checkbox__checkbox {
  background-color: #26C6DA;
  border-color: #26C6DA;
}
/* line 100, checkbox_styles.scss */
.wc-Checkbox__input:checked + .wc-Checkbox__inputLabel .wc-Checkbox__check {
  transform: scale(1);
  border-radius: 4px;
}
/* line 105, checkbox_styles.scss */
.wc-Checkbox__input[disabled="disabled"]:checked + .wc-Checkbox__inputLabel .wc-Checkbox__checkbox {
  background-color: rgba(0, 0, 0, 0.26);
  border: none;
}
/* line 110, checkbox_styles.scss */
.wc-Checkbox__input[disabled="disabled"]:checked + .wc-Checkbox__inputLabel .wc-Checkbox__check {
  background-color: rgba(0, 0, 0, 0.26);
  left: 0;
  top: 0;
}
/* line 116, checkbox_styles.scss */
.wc-Checkbox__input[disabled="disabled"] + .wc-Checkbox__inputLabel {
  cursor: default;
}
/* line 120, checkbox_styles.scss */
.wc-Checkbox__input[disabled="disabled"] + .wc-Checkbox__inputLabel .wc-Checkbox__checkbox {
  border-color: rgba(0, 0, 0, 0.26);
}
/* line 124, checkbox_styles.scss */
.wc-Checkbox__input[disabled="disabled"] + .wc-Checkbox__inputLabel .wc-Checkbox__label {
  color: rgba(0, 0, 0, 0.26);
}
/* line 128, checkbox_styles.scss */
.wc-Checkbox.is-inCheckList, .wc-Checkbox.is-inCheckRow {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 48px;
}
/* line 136, checkbox_styles.scss */
.wc-Checkbox.is-inCheckList {
  width: 100%;
}
/* line 139, checkbox_styles.scss */
.wc-Checkbox.is-inCheckList .wc-Checkbox__label {
  margin-left: 56px;
}
/* line 144, checkbox_styles.scss */
.wc-Checkbox.is-inCheckRow {
  padding: 0 40px 0 0;
}
