<span class="wc-Checkbox" v-bind:class="alignClass">
    <input ref="input"
        type="checkbox"
        class="wc-Checkbox__input"
        v-model="state.value"
        v-bind:value="customValue"
        v-bind:id="pseudoId"
        v-bind:name="name"
        v-bind:disabled="disabled"
        v-on:keyup.enter="_toggle"
        v-on:change="_onChange">
    <label v-bind:for="pseudoId" class="wc-Checkbox__inputLabel">
        <span class="wc-Checkbox__checkbox" v-bind:style="inlineCssCheckbox">
            <wc-ripple ref="ripple" static></wc-ripple>
            <wc-icon class="wc-Checkbox__check" icon-class="icon-appointment-confirmed" v-bind:style="inlineCssCheck"></wc-icon>
        </span>
        <span class="wc-Checkbox__label">
            <slot></slot>
        </span>
    </label>
</span>
