<div  style="position: relative">
    <wc-markdown>
# Overlay

## Demo

Click in the next button to see how it works:
    </wc-markdown>

    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Trigger</div>
            <div class="DemoTable__columnRight">
                <wc-raised-button v-on:click.native="open">Show Overlay</wc-raised-button>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Options</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__options">
                    <div class="DemoTable__option">
                        <wc-checkbox ref="activeCheckbox" v-model="active">Active</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="closeOnClick">Close on click</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="closeOnEscKey">Close on ESC key</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="blockScroll">Block scrolling (on active)</wc-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>

    <wc-overlay
        v-bind:active="active"
        v-bind:close-on-click="closeOnClick"
        v-bind:close-on-esc-key="closeOnEscKey"
        v-bind:block-scroll="blockScroll"
        v-on:overlay-close="onOverlayChange">
    </wc-overlay>
</div>
