/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/**
* Floating layer styles
*
* The following state modifiers are added via javascript through the floating layer binder
* You can use them to style any specific block with the behavior
*
* .is-floatingBlock           floating block, hidden by default
* .is-floatingBlock--opened   floating block is opened (visible)
* .is-floatingBlockConnector  floating block connector
*/
/* line 17, floating-layer_styles.scss */
.is-floatingBlock {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
/* line 22, floating-layer_styles.scss */
.is-floatingBlock--opened {
  opacity: 1;
  visibility: visible;
}
/* line 27, floating-layer_styles.scss */
.is-floatingBlockConnector {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}
/* line 34, floating-layer_styles.scss */
.is-floatingBlock--opened .is-floatingBlockConnector {
  display: block;
}
