@import "settings/_elevations";
@import "tools/mixins/_utilities";

/**
* Floating layer styles
*
* The following state modifiers are added via javascript through the floating layer binder
* You can use them to style any specific block with the behavior
*
* .is-floatingBlock           floating block, hidden by default
* .is-floatingBlock--opened   floating block is opened (visible)
* .is-floatingBlockConnector  floating block connector
*/

//---------- #is-floatingBlock  ---------- /

.is-floatingBlock {
    opacity: 0;
    position: absolute;
    visibility: hidden;

    &--opened {
        opacity: 1;
        visibility: visible;
    }

    &Connector {
        display: none;
        left: 0;
        position: absolute;
        top: 0;
    }

    &--opened &Connector {
        display: block;
    }
}
