<div  style="position: relative">
    <wc-markdown>
# Errors

## Demo
    </wc-markdown>

    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">App</div>
            <div class="DemoTable__columnRight">
                <button v-on:click="showErrorDialog">Trigger app error</button>
                <wc-dialog ref="errorDialog" v-bind:styles-object="{ 'dialog' : { 'width' : '280px' }}">
                    <div slot="content">
                        <p class="u-caption3">Problemas al cargar la aplicaci&oacute;n</p>
                        <!-- Use v-show to preload the image -->
                        <img src="http://goo.gl/BGM1sO" v-show="state.retry" />
                    </div>
                    <div slot="actions">
                        <wc-flat-button v-wc-ripple:is-dark v-on:click.native="closeErrorDialog">Cancelar</wc-flat-button>
                        <wc-flat-button v-wc-ripple:is-dark v-on:click.native="state.retry = true">Reintentar</wc-flat-button>
                    </div>
                </wc-dialog>
                <span class="DemoTable__note u-caption1">
                    Define the error using a <strong>&lt;wc-dialog&gt;</strong> component and manually handling its visibility
                </span>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft"></div>
            <div class="DemoTable__columnRight">
                <button v-on:click="showNoInternetError">Trigger no internet error</button>
                <wc-snackbar ref="errorSnackbar"></wc-snackbar>
                <span class="DemoTable__note u-caption1">
                    Define the error using a <strong>&lt;wc-snackbar&gt;</strong> component and manually handling its visibility
                </span>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Add photo</div>
            <div class="DemoTable__columnRight">
                <wc-add-photo retry uploadable></wc-add-photo>
                <wc-error v-if="state.showErrors">Error Message</wc-error>
                <span class="DemoTable__note u-caption1">
                    Define the error using a <strong>&lt;wc-error&gt;</strong> component with <strong>v-if</strong> directive. Based on the error, add the <strong>retry</strong> property.
                </span>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Card</div>
            <div class="DemoTable__columnRight">
                <wc-card ref="cardError" title="Card with error" v-on:card-close.native="onCardClose">
                    <wc-error class="wc-Card__tile" v-if="state.showErrors" layout="card">Error Message</wc-error>
                    <p>Card content</p>
                </wc-card>
                <span class="DemoTable__note u-caption1">
                    Define the error using a <strong>&lt;wc-error&gt;</strong> component with <strong>v-if</strong> directive
                </span>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Chips</div>
            <div class="DemoTable__columnRight">
                <wc-chip text="Chip with error" has-error></wc-chip>
                <wc-error v-if="state.showErrors">Error Message</wc-error>
                <span class="DemoTable__note u-caption1">
                    Define the error using a <strong>&lt;wc-error&gt;</strong> component with <strong>v-if</strong> directive. Based on the error and existing data, add the <strong>has-error</strong> property.
                </span>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Deleter</div>
            <div class="DemoTable__columnRight">
                <wc-deleter multiple-inputs>
                    <wc-textfield label="Field 1" has-error error-message="Field error message"></wc-textfield>
                    <wc-textfield label="Field 2"></wc-textfield>
                </wc-deleter>
                <wc-error v-if="state.showErrors">Deleter group error message</wc-error>
                <span class="DemoTable__note u-caption1">
                    Define the error using a <strong>&lt;wc-error&gt;</strong> component with <strong>v-if</strong> directive.
                </span>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Input field</div>
            <div class="DemoTable__columnRight">
                <wc-textfield label="Field with error" has-error error-message="Error Message"></wc-textfield>
                <span class="DemoTable__note u-caption1">
                    Define the error by changing the <strong>has-error</strong> and <strong>error-message</strong> properties from <strong>InputContainer</strong> component
                </span>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Selection control</div>
            <div class="DemoTable__columnRight">
                <wc-checkbox value="1">Checkbox with error</wc-checkbox>
                <wc-error v-if="state.showErrors" layout="selection">Error Message</wc-error>
                <span class="DemoTable__note u-caption1">
                    Define the error using a <strong>&lt;wc-error&gt;</strong> component with <strong>v-if</strong> directive
                </span>
            </div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
