<div  style="position: relative">
    <wc-markdown>
# TimePicker

## Demo
    </wc-markdown>

    <!-- Use DemoTable if you need a neat responsive layout for your demo -->
    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Descriptive label</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__main">
                    <wc-time-picker
                        v-model="value"
                        v-bind:step="step"
                        v-bind:native="native"
                        v-bind:has-error="hasError"
                        v-bind:disabled="disabled"
                        v-bind:required="required"
                        hint-text="Enter time with HH:mm (AM|PM) format"
                        label="Time Picker"
                        error-message="Error Message"
                        hours-label="Hours"
                        minutes-label="Minutes">
                    </wc-time-picker>
                </div>
                <span class="DemoTable__note u-caption1">
                    The browser-native supported time format is <span class="u-caption2">HH:mm</span> which means {hours}:{minutes}.
                </span>
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Component's value</div>
            <div class="DemoTable__columnRight">
                {{value}}
            </div>
        </div>
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Options</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__options">
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="native">Native</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="hasError">Error</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="disabled">Disabled</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="required">Required</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-textfield label="Step" id="step" type="number" size="10" v-model.number="step"></wc-textfield>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
