/**
* Calendar styles
*
* More details: https://zpl.io/1Nvvh2
*
* .wc-Calendar - styles of the main wrapper of the calendar
* .wc-Calendar__header - header that contains the month and the arrows to change month
* .wc-Calendar__body - the container of the days of the month
* .wc-Calendar__arrow - styles of the arrows for changing months
*     .wc-Calendar__arrow.is-disabled  - styles for the disabled state of the prev/next month arrows
* .wc-Calendar__headline - text of the current month and year
* .wc-Calendar__week - container of the abbreviatures of the days of the week
* .wc-Calendar__cell - box that contains the month's names
*     .wc-Calendar__cell--week - cell that contains the name of the days of the week
*     .wc-Calendar__cell--empty - blank cells for positioning the month's first day
*     .wc-Calendar__cell.is-today - styles for the day corresponding the current day
*     .wc-Calendar__cell.is-selected - styles for the selected day
*     .wc-Calendar__cell.is-disabled - styles for the day cells that are disabled
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/* line 29, calendar_styles.scss */
.wc-Calendar {
  padding: 8px 0;
  text-align: left;
  width: 288px;
}
/* line 36, calendar_styles.scss */
.wc-Calendar__header {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  text-align: center;
}
/* line 46, calendar_styles.scss */
.wc-Calendar__body {
  padding-left: 4px;
}
/* line 52, calendar_styles.scss */
.wc-Calendar__arrow {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  padding: 0 8px;
  width: 40px;
}
/* line 60, calendar_styles.scss */
.wc-Calendar__arrow.is-disabled {
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
}
/* line 68, calendar_styles.scss */
.wc-Calendar__headline {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 17px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}
/* line 75, calendar_styles.scss */
.wc-Calendar__week {
  padding-top: 8px;
  padding-bottom: 12px;
}
/* line 82, calendar_styles.scss */
.wc-Calendar__cell {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: bold;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  width: 40px;
}
/* line 95, calendar_styles.scss */
.wc-Calendar__cell--week {
  color: rgba(0, 0, 0, 0.54);
  cursor: auto;
  height: auto;
}
/* line 103, calendar_styles.scss */
.wc-Calendar__cell--empty {
  height: 0;
  pointer-events: none;
}
/* line 110, calendar_styles.scss */
.wc-Calendar__cell.is-today {
  color: #26C6DA;
}
/* line 116, calendar_styles.scss */
.wc-Calendar__cell.is-selected {
  background-color: #00ACC1;
  border-radius: 50%;
  color: white;
}
/* line 124, calendar_styles.scss */
.wc-Calendar__cell.is-disabled {
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
}
