/**
* Calendar styles
*
* More details: https://zpl.io/1Nvvh2
*
* .wc-Calendar - styles of the main wrapper of the calendar
* .wc-Calendar__header - header that contains the month and the arrows to change month
* .wc-Calendar__body - the container of the days of the month
* .wc-Calendar__arrow - styles of the arrows for changing months
*     .wc-Calendar__arrow.is-disabled  - styles for the disabled state of the prev/next month arrows
* .wc-Calendar__headline - text of the current month and year
* .wc-Calendar__week - container of the abbreviatures of the days of the week
* .wc-Calendar__cell - box that contains the month's names
*     .wc-Calendar__cell--week - cell that contains the name of the days of the week
*     .wc-Calendar__cell--empty - blank cells for positioning the month's first day
*     .wc-Calendar__cell.is-today - styles for the day corresponding the current day
*     .wc-Calendar__cell.is-selected - styles for the selected day
*     .wc-Calendar__cell.is-disabled - styles for the day cells that are disabled
*/

@import "settings/_colors";
@import "settings/_components";
@import "settings/_elevations";
@import "tools/mixins/_typography";
@import "tools/mixins/_utilities";

//---------- #wc-Calendar  ---------- /

.wc-Calendar {
    padding: 8px 0;
    text-align: left;
    width: $wc-calendar-width;

    //- -------- #wc-Calendar__header  ---------- //

    &__header {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: space-between;
        text-align: center;
    }

    //- -------- #wc-Calendar__body  ---------- //

    &__body {
        padding-left: 4px;
    }

    //- -------- #wc-Calendar__arrow  ---------- //

    &__arrow {
        color: $wc-typoicon-secondary-dark;
        cursor: pointer;
        padding: 0 8px;
        width: $wc-calendar-cell-size;

        //- -------- #wc-Calendar__arrow.is-disabled  ---------- //

        &.is-disabled {
            color: $wc-typoicon-disabled-dark;
            pointer-events: none;
        }
    }

    //- -------- #wc-Calendar__headline  ---------- //

    &__headline {
        @include generate-text-styles("caption3");
        color: $wc-typoicon-primary-dark;
    }

    //- -------- #wc-Calendar__week  ---------- //

    &__week {
        padding-top: 8px;
        padding-bottom: 12px;
    }

    //- -------- #wc-Calendar__cell  ---------- //

    &__cell {
        @include generate-text-styles("caption2");
        box-sizing: border-box;
        color: $wc-typoicon-primary-dark;
        cursor: pointer;
        display: inline-block;
        line-height: $wc-calendar-cell-size;
        text-align: center;
        vertical-align: top;
        width: $wc-calendar-cell-size;

        //- -------- #wc-Calendar__cell--week  ---------- //

        &--week {
            color: $wc-typoicon-secondary-dark;
            cursor: auto;
            height: auto;
        }

        //- -------- #wc-Calendar__cell--empty  ---------- //

        &--empty {
            height: 0;
            pointer-events : none;
        }

        //- -------- #wc-Calendar__cell.is-today  ---------- //

        &.is-today {
            color: $wc-calendar-highlighted-color;
        }

        //- -------- #wc-Calendar__cell.is-selected  ---------- //

        &.is-selected {
            background-color: $wc-calendar-selected-background-color;
            border-radius: 50%;
            color: $wc-typoicon-primary-light;
        }

        //- -------- #wc-Calendar__cell.is-disabled  ---------- //

        &.is-disabled {
            color: $wc-typoicon-disabled-dark;
            pointer-events: none;
        }
    }
}
