/*------------------------------------*\

         #MTypography classes

\*------------------------------------*/
/*------------------------------------*\

        #TYPOGRAPHY UTILITIES

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/* line 12, ../../web-components-library/base/_typography.scss */
.u-primary-text-light {
  color: white;
}

/* line 16, ../../web-components-library/base/_typography.scss */
.u-secondary-text-light {
  color: rgba(255, 255, 255, 0.7);
}

/* line 20, ../../web-components-library/base/_typography.scss */
.u-disabled-text-light {
  color: rgba(255, 255, 255, 0.4);
}

/* line 24, ../../web-components-library/base/_typography.scss */
.u-primary-text-dark {
  color: rgba(0, 0, 0, 0.87);
}

/* line 28, ../../web-components-library/base/_typography.scss */
.u-secondary-text-dark {
  color: rgba(0, 0, 0, 0.54);
}

/* line 32, ../../web-components-library/base/_typography.scss */
.u-disabled-text-dark {
  color: rgba(0, 0, 0, 0.26);
}

/* line 38, ../../web-components-library/base/_typography.scss */
.u-display4 {
  font-size: 112px;
  letter-spacing: 0.5px;
  line-height: normal;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 42, ../../web-components-library/base/_typography.scss */
.u-display3 {
  font-size: 56px;
  letter-spacing: -2px;
  line-height: normal;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 46, ../../web-components-library/base/_typography.scss */
.u-display2 {
  font-size: 44px;
  letter-spacing: normal;
  line-height: normal;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 50, ../../web-components-library/base/_typography.scss */
.u-display1 {
  font-size: 34px;
  letter-spacing: normal;
  line-height: normal;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 54, ../../web-components-library/base/_typography.scss */
.u-headline {
  font-size: 26px;
  letter-spacing: normal;
  line-height: 34px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 58, ../../web-components-library/base/_typography.scss */
.u-title {
  font-size: 22px;
  letter-spacing: 0.3px;
  line-height: normal;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 62, ../../web-components-library/base/_typography.scss */
.u-subheading {
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: normal;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 66, ../../web-components-library/base/_typography.scss */
.u-body2 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: bold;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 70, ../../web-components-library/base/_typography.scss */
.u-body1 {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 74, ../../web-components-library/base/_typography.scss */
.u-caption4 {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 17px;
  font-weight: bold;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 78, ../../web-components-library/base/_typography.scss */
.u-caption3 {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 17px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 82, ../../web-components-library/base/_typography.scss */
.u-caption2 {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: bold;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 86, ../../web-components-library/base/_typography.scss */
.u-caption1 {
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 90, ../../web-components-library/base/_typography.scss */
.u-button {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
