/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/

//--------#Elevation 0---------//
$wc-elevations-floating-block: 0;

//--------#Elevation 2---------//

$wc-elevations-chip-pressed: 2;
$wc-elevations-raised-button-resting: 2;
$wc-card-resting-elevation: 2;
$wc-elevations-search-box: 2;

//--------#Elevation 4---------//

$wc-elevations-app-bar: 4;
$wc-elevations-expandable-panel: 4;
$wc-elevations-pull-up-dialog: 4;
$wc-card-focused-elevation: 4;

//--------#Elevation 6---------//
$wc-elevations-fab-resting: 6;
$wc-elevations-snackbar: 6;
$wc-card-collection-overlay-elevation: 6;

//--------#Elevation 8---------//

$wc-elevations-raised-button-pressed: 8;
$wc-elevations-menu: 8;
$wc-elevations-dropdown-menu: 8;
$wc-card-active-elevation: 8;

//--------#Elevation 12 ---------//
$wc-elevations-fab-pressed: 12;

//--------#Elevation 16---------//
$wc-elevations-drawer: 16;

//--------#Elevation 24---------//

$wc-elevations-datepicker: 24;
$wc-elevations-dialog: 24;
$wc-elevations-onboarding : 24;
$wc-elevations-timepicker : 24;

//--------#Elevation 32---------//

$wc-elevations-tooltip : 32;
