/**
* Avatar styles
*
* More details: https://zpl.io/ZUOL8p
*
* wc-Avatar - main block
* wc-Avatar--transparent - sets transparent background
* wc-Avatar--darkBackground - sets a different font and background colors when using the avatar in a dark background
* wc-Avatar__image - used for the avatar image child
* wc-Avatar[square] - used to set the border radius property to 0 (square shape)
*/

@import "settings/_colors";
@import "settings/_components";
@import "settings/_typography";
@import "tools/mixins/image";

//---------- #wc-Avatar  ---------- /

.wc-Avatar {
    background: $wc-avatar-background-color;
    border-radius: 50%;
    color: $wc-avatar-text-color;
    display: block;
    font-family: $wc-base-font;
    height: $wc-avatar-size;
    line-height: $wc-avatar-size + ($wc-avatar-size * .1);
    min-height: $wc-avatar-min-height;
    min-width: $wc-avatar-min-width;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: $wc-avatar-size;

    //- -------- #wc-Avatar--transparent ---------- //

    &--transparent {
        background: transparent;
    }

    //- -------- #wc-Avatar--darkBackground---------- //

    &--darkBackground {
        background-color: $wc-typoicon-secondary-light;
    }

    //- -------- #wc-Avatar__image ---------- //

    &__image {
        height: auto;
        max-width: 100%;
        width: auto;

        //- -------- #wc-Avatar__image--expand ---------- //

        &--expand {
            height: 100%;
            width: 100%;
        }
    }

    &--square {
        border-radius: 0;
    }

    //---------- #modifiers  ---------- /
    @include generate-size-modifiers($wc-avatar-sizes, $wc-avatar-size);
}
