<div  style="position: relative">
    <wc-markdown>
# AddPhoto

## Demo
    </wc-markdown>

    <div class="DemoTable">
        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Add photo demo</div>
            <div class="DemoTable__columnRight">
                <wc-add-photo
                    v-bind:image-path="imagePath"
                    v-bind:text="text"
                    v-bind:error="error"
                    v-bind:progress="progress"
                    v-bind:uploadable="uploadable"
                    v-bind:deletable="deletable"
                    v-bind:size="size"
                    v-bind:retry="retry">
                </wc-add-photo>
            </div>
        </div>

        <div class="DemoTable__row">
            <div class="DemoTable__columnLeft">Options</div>
            <div class="DemoTable__columnRight">
                <div class="DemoTable__options">
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="deletable">Deletable</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="retry">Retry</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-checkbox v-model="uploadable">Uploadable</wc-checkbox>
                    </div>
                    <div class="DemoTable__option">
                        <wc-textfield
                            floatingLabel
                            label="error"
                            placeholder="error"
                            v-model="error">
                        </wc-textfield>
                    </div>
                    <div class="DemoTable__option">
                        <wc-textfield
                            floatingLabel
                            label="progress"
                            placeholder="progress"
                            type="number"
                            max="100"
                            min="0"
                            v-model.number="progress">
                        </wc-textfield>
                    </div>
                    <div class="DemoTable__option">
                        <wc-textfield
                            floatingLabel
                            label="size"
                            placeholder="size"
                            type="number"
                            max="12"
                            min="6"
                            v-model.number="size">
                        </wc-textfield>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <wc-markdown v-bind:source="markdownSource.documentation"></wc-markdown>
</div>
