<div v-bind:class="['wc-Saver', {'wc-Saver--keep-visible' : preventAnimations && keepVisible}]">
    <svg class="wc-Saver__circleWrapper">
        <circle
            class="wc-Saver__circle"
            v-bind:cx="defaultValues.CX"
            v-bind:cy="defaultValues.CY"
            v-bind:r="defaultValues.R"
        ></circle>
    </svg>
    <div class="wc-Saver__checkIcon">
        <svg class="wc-Saver__checkWrapper">
            <!-- stroke coordinates for the check svg -->
            <path class="wc-Saver__checkSvg" d="M3,9 2,10 6,14 14,6 13,5 6,12"/>
        </svg>
    </div>
</div>
