/**
* Expandable panel styles
*
* More details: https://zpl.io/Z1D3sON
*
* .wc-ExpandablePanel - main component block
*     .wc-ExpandablePanel.is-opened - control opened state
* .wc-ExpandablePanel__actions - button panel actions
* .wc-ExpandablePanel__body - content wrapper, controls visibility when toggle
* .wc-ExpandablePanel__content - main content slot
* .wc-ExpandablePanel__header - header block containing title and actions
* .wc-ExpandablePanel__title - title text positioning
*
* @todo https://hulihealth.atlassian.net/browse/HULI-2502
*/
/*------------------------------------*\

         #BREAKPOINTS SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*------------------------------------*\
         #RESPONSIVE
\*------------------------------------*/
/**
* Used to work for responsive design of mobile first.
* @param  {Number} $width - The width of a large display, for example a desktop or tablet display.
*
*/
/**
* Used to work for responsive design of mobile first.
* Sets a max width to respong
* @param  {Number} $width - The width of a small display.
*
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/* line 25, expandable-panel_styles.scss */
.wc-ExpandablePanel {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  z-index: 4;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  width: 360px;
}
/* line 34, expandable-panel_styles.scss */
.wc-ExpandablePanel.is-opened .wc-ExpandablePanel__body {
  height: auto;
}
/* line 40, expandable-panel_styles.scss */
.wc-ExpandablePanel__actions {
  float: right;
  font-size: 0;
}
/* line 47, expandable-panel_styles.scss */
.wc-ExpandablePanel__body {
  height: 0;
}
/* line 53, expandable-panel_styles.scss */
.wc-ExpandablePanel__content {
  max-height: 244px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  width: 100%;
}
/* line 66, expandable-panel_styles.scss */
.wc-ExpandablePanel__header {
  background: #37474f;
  box-sizing: border-box;
  color: white;
  display: block;
  height: 56px;
  padding: 2px 8px 2px 24px;
}
/* line 77, expandable-panel_styles.scss */
.wc-ExpandablePanel__title {
  float: left;
  overflow: hidden;
  padding: 16px 8px 16px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 224px;
}
@media screen and (min-width: 1025px) {
  /* line 89, expandable-panel_styles.scss */
  .wc-ExpandablePanel__header {
    padding: 8px 8px 8px 24px;
  }
  /* line 93, expandable-panel_styles.scss */
  .wc-ExpandablePanel__title {
    padding: 10px 8px 10px 0;
  }
}
