/**
* Dropdown styles
*
* More details: https://zpl.io/Z28Spbo
*
* wc-Dropdown - main dropdown block
* wc-Dropdown__action - action element (angle down icon)
*     wc-Dropdown__action--disabled - disabled modifier for the action
* wc-Dropdown--disabled - modifier for the disabled dropdown
* wc-Dropdown__hint - hint text accompanying the option as a additional description
* wc-Dropdown--icon - modifier used when the dropdown contains an icon
*     wc-Dropdown--icon__inputContent - change the padding of the input content to make space for the icon
* wc-Dropdown__icon - icon element used when the setIconOnly prop of the component is set
* wc-Dropdown__input - dropdown input
* wc-Dropdown__inputContainer - input container element
*     wc-Dropdown__inputContainer.is-empty - empty state of the input container
* wc-Dropdown__inputContent - content of the input container set in the dropdown template
* wc-Dropdown__inputText - wrapper of the button's text
* wc-Dropdown__menu - wrapper of the dropdown menu
* wc-Dropdown__menuContent - content of the dropdown menu, it sets the height dimensions
* wc-Dropdown__placeholderOption - option of the placeholder
* wc-Dropdown__mobilePlaceholder - placeholder for the mobile dropdown
* wc-Dropdown__mobileOption - options of the mobile dropdown
* wc-Dropdown__avatar - for appropriately positioning an avatar for the dropdown's selected value
*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\

        #ELEVATION-SETTINGS

\*------------------------------------*/
/*----------------------------------*\
        #BASIC-THEME
\*----------------------------------*/
/*------------------------------------*\
     #OPACITIES
\*------------------------------------*/
/*------------------------------------*\
     #TYPOGRAPHY-ICONS
\*------------------------------------*/
/*------------------------------------*\
     #DIVIDERS
\*------------------------------------*/
/*------------------------------------*\
     #RIPPLE EFFECT
\*------------------------------------*/
/*------------------------------------*\
     #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
         #utilities
\*------------------------------------*/
/**
* Generates the basic styles for shadows and sets the z-index
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
* Generates the basic styles for shadows
* Elevations are defined in the design styleguide.
* @param {Number} $elevation - size of the shadow(without unit size)
*/
/**
 * Adds ellipsis to any block or element when the text may overflow its boundaries
 * @return {CssRules} rules for adding ellipsis to overflown text
 */
/**
 * Generates the hack for clearing floats
 * @return {CssRules} rules for the clearfix hack
 */
/*------------------------------------*\

         #TYPOGRAPHY MIXINS

\*------------------------------------*/
/*------------------------------------*\

         #TYPOGRAPHY STANDARDS

\*------------------------------------*/
/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
/* line 44, dropdown_styles.scss */
.wc-Dropdown {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  position: relative;
}
/* line 49, dropdown_styles.scss */
.wc-Dropdown--disabled {
  cursor: auto;
}
/* line 57, dropdown_styles.scss */
.wc-Dropdown--icon__inputContent {
  padding-left: 40px;
}
/* line 64, dropdown_styles.scss */
.wc-Dropdown--secondary {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: #FFF;
  border-radius: 4px;
}
/* line 72, dropdown_styles.scss */
.wc-Dropdown__action {
  color: rgba(0, 0, 0, 0.54);
  outline: none;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -2px;
  width: auto;
}
/* line 81, dropdown_styles.scss */
.wc-Dropdown__action--disabled {
  color: rgba(0, 0, 0, 0.27);
}
/* line 88, dropdown_styles.scss */
.wc-Dropdown__hint {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 17px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 16px;
}
/* line 96, dropdown_styles.scss */
.wc-Dropdown__icon {
  bottom: 12px;
  left: 8px;
  pointer-events: none;
  position: absolute;
}
/* line 105, dropdown_styles.scss */
.wc-Dropdown__input {
  position: relative;
}
/* line 112, dropdown_styles.scss */
.wc-Dropdown__inputContainer .wc-InputContainer__content .wc-InputContainer__element {
  box-sizing: border-box;
  height: 26px;
}
/* line 119, dropdown_styles.scss */
.wc-Dropdown__inputContainer--secondary {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}
/* line 129, dropdown_styles.scss */
.wc-Dropdown__inputContainer.is-empty__inputContent {
  height: 0;
  line-height: 0;
}
/* line 137, dropdown_styles.scss */
.wc-Dropdown__inputContent {
  align-items: center;
  cursor: pointer;
  display: flex;
  text-align: left;
}
/* line 150, dropdown_styles.scss */
.wc-Dropdown__inputText.has-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 159, dropdown_styles.scss */
.wc-Dropdown__menu {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: normal;
  font-family: "MuseoSans300", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
  z-index: 8;
  background-color: #FFF;
  position: relative;
}
/* line 168, dropdown_styles.scss */
.wc-Dropdown__menuContent {
  max-height: 464px;
}
/* line 175, dropdown_styles.scss */
.wc-Dropdown__placeholderOption .wc-ListItem__primaryText {
  color: rgba(0, 0, 0, 0.54);
}
/* line 182, dropdown_styles.scss */
.wc-Dropdown__mobilePlaceholder {
  color: rgba(0, 0, 0, 0.54);
}
/* line 188, dropdown_styles.scss */
.wc-Dropdown__mobileOption {
  color: rgba(0, 0, 0, 0.87);
}
/* line 194, dropdown_styles.scss */
.wc-Dropdown__avatar {
  margin: -2px 16px 0 0;
}
